<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="n2.integrity"          service="N2.Integrity.IIntegrityManager, N2" type="N2.Integrity.DefaultIntegrityManager, N2"/>
    <component id="n2.integrityEnforcer"  service="N2.Integrity.IIntegrityEnforcer, N2" type="N2.Integrity.IntegrityEnforcer, N2"/>
  </components>
</castle>