<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<n2>
		<host rootID="2" startPageID="3" multipleSites="true" dynamicSites="false">
			<sites>
				<add name="alpha.localhost.com" id="4">
				  <settings>
					<add key="nextSite" value="http://beta.localhost.com" />
				  </settings>
				</add>
				<add name="beta.localhost.com" id="5" />
				<add name="gamma.localhost.com" id="6" />
				<add name="mysite.com" wildcards="true" id="7" />
			</sites>
			<web>
				<urls enableCaching="false"/>
			</web>
		</host>
		<engine castleConfiguration="assembly://N2.Tests/test.castle.config" />
		<database connectionStringName="TestConnection" caching="false" />
	</n2>

	<connectionStrings>
		<clear/>
		<add name="TestConnection" connectionString="Server=localhost;Database=N2_Tests;Integrated Security=SSPI;"/>
	</connectionStrings>
</configuration>
