<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="n2nodb" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="n2multiplesites" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<clear/>
		<add name="TestConnection" connectionString="data source=:memory:" providerName="System.Data.SQLite"/>
		<add name="SqlConnection" connectionString="Server=(local);Database=N2_Tests;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<n2nodb>
		<host>
			<web isWeb="false"/>
		</host>
		<engine>
			<components>
				<add key="repo" service="N2.Persistence.IRepository`1, N2" implementation="N2.Tests.Fakes.FakeRepository`1, N2.Tests"/>
				<add key="nhrepo" service="N2.Persistence.NH.INHRepository`1, N2" implementation="N2.Tests.Fakes.FakeRepository`1, N2.Tests"/>
				<add key="ci_repo" service="N2.Persistence.IRepository`1[[N2.ContentItem, N2]]" implementation="N2.Tests.Fakes.FakeRepository`1[[N2.ContentItem, N2]], N2.Tests"/>
				<add key="ci_nhrepo" service="N2.Persistence.NH.INHRepository`1[[N2.ContentItem, N2]]" implementation="N2.Tests.Fakes.FakeRepository`1[[N2.ContentItem, N2]], N2.Tests"/>
			</components>
			<assemblies enableTypeCache="false">
				<clear/>
			</assemblies>
		</engine>
		<edit>
			<installer checkInstallationStatus="false"/>
		</edit>
		<database connectionStringName="TestConnection"/>
	</n2nodb>

	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<host rootID="2" startPageID="3">
			<sites>
				<add name="alpha.localhost.com" id="4"/>
				<add name="beta.localhost.com" id="5"/>
				<add name="gamma.localhost.com" id="6"/>
			</sites>
			<web isWeb="false"/>
		</host>
		<engine>
			<globalization enabled="true"/>
			<components>
				<add service="N2.Integrity.IIntegrityManager, N2" implementation="N2.Tests.Fakes.FakeIntegrityManager, N2.Tests"/>
				<add service="N2.Persistence.NH.ISessionProvider, N2" implementation="N2.Tests.Fakes.FakeSessionProvider, N2.Tests"/>
			</components>
			<assemblies enableTypeCache="false">
				<remove assembly="N2.Management"/>
			</assemblies>
			<definitions defineUnattributedTypes="true"/>
		</engine>
		<edit>
			<installer checkInstallationStatus="false"/>
		</edit>
		<database connectionStringName="TestConnection" flavour="SqLite" caching="false" batchSize="5">
			<hibernateProperties>
				<add name="connection.release_mode" value="on_close"/>
				<add name="generate_statistics" value="true"/>
				<add name="show_sql" value="false"/>
			</hibernateProperties>
			<search asyncIndexing="false"/>
		</database>
	</n2>

	<n2multiplesites>
		<host rootID="2" startPageID="3" multipleSites="true" dynamicSites="false">
			<sites>
				<add name="alpha.localhost.com" id="4">
					<settings>
						<add key="nextSite" value="http://beta.localhost.com"/>
					</settings>
				</add>
				<add name="beta.localhost.com" id="5"/>
				<add name="gamma.localhost.com" id="6"/>
				<add name="mysite.com" wildcards="true" id="7"/>
			</sites>
			<web isWeb="false">
				<urls enableCaching="false"/>
			</web>
		</host>
		<engine>
			<assemblies enableTypeCache="false">
				<clear/>
			</assemblies>
		</engine>
		<database connectionStringName="TestConnection" caching="false"/>
	</n2multiplesites>

	<!--<log4net>
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>

		</appender>

		<root>
			<priority value="WARN" />
			<appender-ref ref="console" />
		</root>
	</log4net>-->
	<!-- This section contains the log4net configuration settings -->
	<log4net debug="false">
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n"/>
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="log.txt"/>
			<param name="AppendToFile" value="false"/>
			<param name="RollingStyle" value="Date"/>
			<param name="DatePattern" value="yyyy.MM.dd"/>
			<param name="StaticLogFileName" value="true"/>

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
			</layout>
		</appender>

		<!-- Setup the root category, add the appenders and set the default priority -->
		<root>
			<priority value="WARN"/>
			<appender-ref ref="rollingFile"/>
		</root>

		<logger name="NHibernate.Bytecode.CodeDom">
			<priority value="OFF"/>
		</logger>

		<logger name="NHibernate.SQL">
			<level value="OFF"/>
		</logger>

		<logger name="NHibernate.Tool.hbm2ddl.SchemaExport">
			<level value="WARN"/>
		</logger>
	</log4net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
