<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.parts.createHandler" type="N2.Web.Parts.CreateUrlProvider, N2"/>
		<component id="n2.parts.deleteHandler" type="N2.Web.Parts.ItemDeleter, N2"/>
		<component id="n2.parts.editHandler" type="N2.Web.Parts.EditUrlProvider, N2"/>
		<component id="n2.parts.moveHandler" type="N2.Web.Parts.ItemMover, N2"/>
		<component id="n2.parts.copyHandler" type="N2.Web.Parts.ItemCopyer, N2"/>
	</components>
</castle>