<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
    </sectionGroup>
  </configSections>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <!-- If you install a database from scratch you'll need to insert some required pages. 
      This can be done by the web based installer located at http://yoursite/n2/installation/ -->
    <host rootID="1" startPageID="2" multipleSites="true">
      <web extension=""/>
      <!--<resources debug="true"/>-->
      <vpp/>
    </host>
    <engine>
      <!-- Update email to receive error reports -->
      <errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com"/>
      <!-- Globalization requires you to create additional start pages with a language -->
      <globalization enabled="true"/>
    </engine>
    <!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite, SqlCe, Firebird -->
    <database connectionStringName="N2CMS" caching="true" flavour="AutoDetect"/>
    <edit>
      <!-- Set checkInstallationStatus to false to disable redirect to install page -->
      <installer checkInstallationStatus="false"/>
      <writers dynamic="true"/>
      <editors dynamic="true"/>
      <administrators dynamic="true"/>
      <images>
        <sizes>
          <add name="" width="870" height="490" mode="Fill" replace="true" description="Size used for embedding images in the content editor"/>
          <add name="thumb" width="64" height="64" mode="Fill"/>
          <add name="wide" width="1170" height="660" mode="Fill"/>
          <add name="half" width="570" height="320" mode="Fill"/>
        </sizes>
      </images>
      <!--<versions maximumPerItem="1"/>-->
    </edit>
  </n2>
  <connectionStrings>
    <add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="None"/>
    <!--<customErrors mode="Off"/>-->
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <httpModules>
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="FormsAuthenticationModule"/>
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="N2">
    <system.web>
      <httpRuntime requestValidationMode="2.0"/>
    </system.web>
  </location>
</configuration>