/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:2219ee79540fed0d7c3fb92ec4c265a5$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(flags.png);}

.ad {width:16px; height:11px; background-position: -470px -93px}
.ae {width:16px; height:11px; background-position: -452px -93px}
.af {width:16px; height:11px; background-position: -470px -80px}
.ag {width:16px; height:11px; background-position: -452px -80px}
.ai {width:16px; height:11px; background-position: -434px -106px}
.al {width:16px; height:11px; background-position: -434px -93px}
.am {width:16px; height:11px; background-position: -434px -80px}
.an {width:16px; height:11px; background-position: -470px -67px}
.ao {width:16px; height:11px; background-position: -452px -67px}
.ar {width:16px; height:11px; background-position: -434px -67px}
.as {width:16px; height:11px; background-position: -416px -106px}
.at {width:16px; height:11px; background-position: -416px -93px}
.au {width:16px; height:11px; background-position: -416px -80px}
.aw {width:16px; height:11px; background-position: -416px -67px}
.ax {width:16px; height:11px; background-position: -470px -54px}
.az {width:16px; height:11px; background-position: -452px -54px}
.ba {width:16px; height:11px; background-position: -434px -54px}
.bb {width:16px; height:11px; background-position: -416px -54px}
.bd {width:16px; height:11px; background-position: -470px -41px}
.be {width:16px; height:11px; background-position: -452px -41px}
.bf {width:16px; height:11px; background-position: -434px -41px}
.bg {width:16px; height:11px; background-position: -416px -41px}
.bh {width:16px; height:11px; background-position: -398px -106px}
.bi {width:16px; height:11px; background-position: -398px -93px}
.bj {width:16px; height:11px; background-position: -398px -80px}
.bm {width:16px; height:11px; background-position: -398px -67px}
.bn {width:16px; height:11px; background-position: -398px -54px}
.bo {width:16px; height:11px; background-position: -398px -41px}
.br {width:16px; height:11px; background-position: -470px -28px}
.bs {width:16px; height:11px; background-position: -452px -28px}
.bt {width:16px; height:11px; background-position: -434px -28px}
.bv {width:16px; height:11px; background-position: -416px -28px}
.bw {width:16px; height:11px; background-position: -398px -28px}
.by {width:16px; height:11px; background-position: -380px -106px}
.bz {width:16px; height:11px; background-position: -380px -93px}
.ca {width:16px; height:11px; background-position: -380px -80px}
.catalonia {width:16px; height:11px; background-position: -380px -67px}
.cc {width:16px; height:11px; background-position: -380px -54px}
.cd {width:16px; height:11px; background-position: -380px -41px}
/*.cf {width:16px; height:11px; background-position: -380px -28px}*/ /* this is a conflict with MVC templates */
.cg {width:16px; height:11px; background-position: -470px -15px}
.ch {width:11px; height:11px; background-position: -452px -106px}
.ci {width:16px; height:11px; background-position: -452px -15px}
.ck {width:16px; height:11px; background-position: -434px -15px}
.cl {width:16px; height:11px; background-position: -416px -15px}
.cm {width:16px; height:11px; background-position: -398px -15px}
.cn {width:16px; height:11px; background-position: -380px -15px}
.co {width:16px; height:11px; background-position: -362px -106px}
.cr {width:16px; height:11px; background-position: -362px -93px}
.cs {width:16px; height:11px; background-position: -362px -80px}
.cu {width:16px; height:11px; background-position: -362px -67px}
.cv {width:16px; height:11px; background-position: -362px -54px}
.cx {width:16px; height:11px; background-position: -362px -41px}
.cy {width:16px; height:11px; background-position: -362px -28px}
.cz {width:16px; height:11px; background-position: -362px -15px}
.de {width:16px; height:11px; background-position: -470px -2px}
.dj {width:16px; height:11px; background-position: -452px -2px}
.dk {width:16px; height:11px; background-position: -434px -2px}
.dm {width:16px; height:11px; background-position: -416px -2px}
.do {width:16px; height:11px; background-position: -398px -2px}
.dz {width:16px; height:11px; background-position: -380px -2px}
.ec {width:16px; height:11px; background-position: -362px -2px}
.ee {width:16px; height:11px; background-position: -344px -106px}
.eg {width:16px; height:11px; background-position: -344px -93px}
.eh {width:16px; height:11px; background-position: -344px -80px}
.en {width:16px; height:11px; background-position: -344px -67px}
.er {width:16px; height:11px; background-position: -344px -54px}
.es {width:16px; height:11px; background-position: -344px -41px}
.et {width:16px; height:11px; background-position: -344px -28px}
.eu {width:16px; height:11px; background-position: -344px -15px}
.fam {width:16px; height:11px; background-position: -344px -2px}
.fi {width:16px; height:11px; background-position: -326px -106px}
.fj {width:16px; height:11px; background-position: -326px -93px}
.fk {width:16px; height:11px; background-position: -326px -80px}
.fm {width:16px; height:11px; background-position: -326px -67px}
.fo {width:16px; height:11px; background-position: -326px -54px}
.fr {width:16px; height:11px; background-position: -326px -41px}
.ga {width:16px; height:11px; background-position: -326px -28px}
.gb {width:16px; height:11px; background-position: -326px -15px}
.gd {width:16px; height:11px; background-position: -326px -2px}
.ge {width:16px; height:11px; background-position: -308px -106px}
.gf {width:16px; height:11px; background-position: -326px -41px}
.gh {width:16px; height:11px; background-position: -308px -93px}
.gi {width:16px; height:11px; background-position: -308px -80px}
.gl {width:16px; height:11px; background-position: -308px -67px}
.gm {width:16px; height:11px; background-position: -308px -54px}
.gn {width:16px; height:11px; background-position: -308px -41px}
.gp {width:16px; height:11px; background-position: -308px -28px}
.gq {width:16px; height:11px; background-position: -308px -15px}
.gr {width:16px; height:11px; background-position: -308px -2px}
.gs {width:16px; height:11px; background-position: -290px -106px}
.gt {width:16px; height:11px; background-position: -290px -93px}
.gu {width:16px; height:11px; background-position: -290px -80px}
.gw {width:16px; height:11px; background-position: -290px -67px}
.gy {width:16px; height:11px; background-position: -290px -54px}
.hk {width:16px; height:11px; background-position: -290px -41px}
.hm {width:16px; height:11px; background-position: -416px -80px}
.hn {width:16px; height:11px; background-position: -290px -28px}
.hr {width:16px; height:11px; background-position: -290px -15px}
.ht {width:16px; height:11px; background-position: -290px -2px}
.hu {width:16px; height:11px; background-position: -272px -106px}
.id {width:16px; height:11px; background-position: -272px -93px}
.ie {width:16px; height:11px; background-position: -272px -80px}
.il {width:16px; height:11px; background-position: -272px -67px}
.in {width:16px; height:11px; background-position: -272px -54px}
.io {width:16px; height:11px; background-position: -272px -41px}
.iq {width:16px; height:11px; background-position: -272px -28px}
.ir {width:16px; height:11px; background-position: -272px -15px}
.is {width:16px; height:11px; background-position: -272px -2px}
.it {width:16px; height:11px; background-position: -254px -106px}
.jm {width:16px; height:11px; background-position: -254px -93px}
.jo {width:16px; height:11px; background-position: -254px -80px}
.jp {width:16px; height:11px; background-position: -254px -67px}
.ke {width:16px; height:11px; background-position: -254px -54px}
.kg {width:16px; height:11px; background-position: -254px -41px}
.kh {width:16px; height:11px; background-position: -254px -28px}
.ki {width:16px; height:11px; background-position: -254px -15px}
.km {width:16px; height:11px; background-position: -254px -2px}
.kn {width:16px; height:11px; background-position: -236px -106px}
.kp {width:16px; height:11px; background-position: -236px -93px}
.kr {width:16px; height:11px; background-position: -236px -80px}
.kw {width:16px; height:11px; background-position: -236px -67px}
.ky {width:16px; height:11px; background-position: -236px -54px}
.kz {width:16px; height:11px; background-position: -236px -41px}
.la {width:16px; height:11px; background-position: -236px -28px}
.lb {width:16px; height:11px; background-position: -236px -15px}
.lc {width:16px; height:11px; background-position: -236px -2px}
.li {width:16px; height:11px; background-position: -218px -106px}
.lk {width:16px; height:11px; background-position: -218px -93px}
.lr {width:16px; height:11px; background-position: -218px -80px}
.ls {width:16px; height:11px; background-position: -218px -67px}
.lt {width:16px; height:11px; background-position: -218px -54px}
.lu {width:16px; height:11px; background-position: -218px -41px}
.lv {width:16px; height:11px; background-position: -218px -28px}
.ly {width:16px; height:11px; background-position: -218px -15px}
.ma {width:16px; height:11px; background-position: -218px -2px}
.mc {width:16px; height:11px; background-position: -200px -106px}
.md {width:16px; height:11px; background-position: -200px -93px}
.me {width:16px; height:12px; background-position: -2px -2px}
.mg {width:16px; height:11px; background-position: -200px -80px}
.mh {width:16px; height:11px; background-position: -200px -67px}
.mk {width:16px; height:11px; background-position: -200px -54px}
.ml {width:16px; height:11px; background-position: -200px -41px}
.mm {width:16px; height:11px; background-position: -200px -28px}
.mn {width:16px; height:11px; background-position: -200px -15px}
.mo {width:16px; height:11px; background-position: -200px -2px}
.mp {width:16px; height:11px; background-position: -182px -106px}
.mq {width:16px; height:11px; background-position: -182px -93px}
.mr {width:16px; height:11px; background-position: -182px -80px}
.ms {width:16px; height:11px; background-position: -182px -67px}
.mt {width:16px; height:11px; background-position: -182px -54px}
.mu {width:16px; height:11px; background-position: -182px -41px}
.mv {width:16px; height:11px; background-position: -182px -28px}
.mw {width:16px; height:11px; background-position: -182px -15px}
.mx {width:16px; height:11px; background-position: -182px -2px}
.my {width:16px; height:11px; background-position: -164px -106px}
.mz {width:16px; height:11px; background-position: -164px -93px}
.na {width:16px; height:11px; background-position: -164px -80px}
.nc {width:16px; height:11px; background-position: -164px -67px}
.ne {width:16px; height:11px; background-position: -164px -54px}
.nf {width:16px; height:11px; background-position: -164px -41px}
.ng {width:16px; height:11px; background-position: -164px -28px}
.ni {width:16px; height:11px; background-position: -164px -15px}
.nl {width:16px; height:11px; background-position: -164px -2px}
.no {width:16px; height:11px; background-position: -416px -28px}
.np {width:9px; height:11px; background-position: -465px -106px}
.nr {width:16px; height:11px; background-position: -146px -106px}
.nu {width:16px; height:11px; background-position: -146px -93px}
.nz {width:16px; height:11px; background-position: -146px -80px}
.om {width:16px; height:11px; background-position: -146px -67px}
.pa {width:16px; height:11px; background-position: -146px -54px}
.pe {width:16px; height:11px; background-position: -146px -41px}
.pf {width:16px; height:11px; background-position: -146px -28px}
.pg {width:16px; height:11px; background-position: -146px -15px}
.ph {width:16px; height:11px; background-position: -146px -2px}
.pk {width:16px; height:11px; background-position: -128px -106px}
.pl {width:16px; height:11px; background-position: -128px -93px}
.pm {width:16px; height:11px; background-position: -128px -80px}
.pn {width:16px; height:11px; background-position: -128px -67px}
.pr {width:16px; height:11px; background-position: -128px -54px}
.ps {width:16px; height:11px; background-position: -128px -41px}
.pt {width:16px; height:11px; background-position: -128px -28px}
.pw {width:16px; height:11px; background-position: -128px -15px}
.py {width:16px; height:11px; background-position: -128px -2px}
.qa {width:16px; height:11px; background-position: -110px -106px}
.re {width:16px; height:11px; background-position: -326px -41px}
.ro {width:16px; height:11px; background-position: -110px -93px}
.rs {width:16px; height:11px; background-position: -110px -80px}
.ru {width:16px; height:11px; background-position: -110px -67px}
.rw {width:16px; height:11px; background-position: -110px -54px}
.sa {width:16px; height:11px; background-position: -110px -41px}
.sb {width:16px; height:11px; background-position: -110px -28px}
/*.sc {width:16px; height:11px; background-position: -110px -15px}*/ /* this is a conflict with N2 control panel */
.scotland {width:16px; height:11px; background-position: -110px -2px}
.sd {width:16px; height:11px; background-position: -92px -106px}
.se {width:16px; height:11px; background-position: -92px -93px}
.sg {width:16px; height:11px; background-position: -92px -80px}
.sh {width:16px; height:11px; background-position: -92px -67px}
.si {width:16px; height:11px; background-position: -92px -54px}
.sj {width:16px; height:11px; background-position: -416px -28px}
.sk {width:16px; height:11px; background-position: -92px -41px}
.sl {width:16px; height:11px; background-position: -92px -28px}
.sm {width:16px; height:11px; background-position: -92px -15px}
.sn {width:16px; height:11px; background-position: -92px -2px}
.so {width:16px; height:11px; background-position: -74px -106px}
.sr {width:16px; height:11px; background-position: -74px -93px}
.st {width:16px; height:11px; background-position: -74px -80px}
.sv {width:16px; height:11px; background-position: -74px -67px}
.sy {width:16px; height:11px; background-position: -74px -54px}
.sz {width:16px; height:11px; background-position: -74px -41px}
.tc {width:16px; height:11px; background-position: -74px -28px}
.td {width:16px; height:11px; background-position: -74px -15px}
.tf {width:16px; height:11px; background-position: -74px -2px}
.tg {width:16px; height:11px; background-position: -56px -106px}
.th {width:16px; height:11px; background-position: -56px -93px}
.tj {width:16px; height:11px; background-position: -56px -80px}
.tk {width:16px; height:11px; background-position: -56px -67px}
.tl {width:16px; height:11px; background-position: -56px -54px}
.tm {width:16px; height:11px; background-position: -56px -41px}
.tn {width:16px; height:11px; background-position: -56px -28px}
.to {width:16px; height:11px; background-position: -56px -15px}
.tr {width:16px; height:11px; background-position: -56px -2px}
.tt {width:16px; height:11px; background-position: -38px -106px}
.tv {width:16px; height:11px; background-position: -38px -93px}
.tw {width:16px; height:11px; background-position: -38px -80px}
.tz {width:16px; height:11px; background-position: -38px -67px}
.ua {width:16px; height:11px; background-position: -38px -54px}
.ug {width:16px; height:11px; background-position: -38px -41px}
.um {width:16px; height:11px; background-position: -38px -28px}
.us {width:16px; height:11px; background-position: -38px -15px}
.uy {width:16px; height:11px; background-position: -38px -2px}
.uz {width:16px; height:11px; background-position: -20px -106px}
.va {width:16px; height:11px; background-position: -20px -93px}
.vc {width:16px; height:11px; background-position: -20px -80px}
.ve {width:16px; height:11px; background-position: -20px -67px}
.vg {width:16px; height:11px; background-position: -20px -54px}
.vi {width:16px; height:11px; background-position: -20px -41px}
.vn {width:16px; height:11px; background-position: -20px -28px}
.vu {width:16px; height:11px; background-position: -20px -15px}
.wales {width:16px; height:11px; background-position: -20px -2px}
.wf {width:16px; height:11px; background-position: -2px -94px}
.ws {width:16px; height:11px; background-position: -2px -81px}
.ye {width:16px; height:11px; background-position: -2px -68px}
.yt {width:16px; height:11px; background-position: -2px -55px}
.za {width:16px; height:11px; background-position: -2px -42px}
.zm {width:16px; height:11px; background-position: -2px -29px}
.zw {width:16px; height:11px; background-position: -2px -16px}
