<!DOCTYPE html>
<html>
<head>
	<title>@Content.Data.Title</title>
	<link href="@Url.ThemedContent("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@{ Html.Resources().JQuery(); }
	@{ Html.Resources().JavaScript("~/Scripts/site.js"); }
	@{
		Content.PrependDefinition(re => 
			{
				re.Tab("Content", "Content");
				re.Tab("Advanced", "Advanced", e =>
					e.PublishedRange());
			});
	 }
</head>
<body>
	@{ Html.RenderControlPanel(); }
	<div id="wrapper">
	@if (IsSectionDefined("Page")) { RenderSection("Page"); }
	else
	{
		<div id="top">@{ Html.RenderPartial("Partials/_Top"); }</div>
		<div id="header" class="clearfix">@{ Html.RenderPartial("Partials/_Header"); }</div>
		<div id="page">
			<div id="main" class="clearfix">
				@if (IsSectionDefined("Main")) { RenderSection("Main"); }
				else
				{
					Html.RenderPartial("Partials/_PreContent");
					<div id="aside" role="complementary">@if (IsSectionDefined("Aside")) { RenderSection("Aside"); } else { Html.DroppableZone("Aside").Render(); }</div>
					<div id="content" role="main">@RenderBody()</div>
					Html.RenderPartial("Partials/_PostContent");
				}
			</div>
			<div id="footer" class="clearfix">@{ Html.RenderPartial("Partials/_Footer"); }</div>
		</div>
	}
	</div>
	@{ Html.Zone("Scripts").Render(); }
</body>
</html>
