
<span class="searchcontainer">
<a id="search" href="#" title="Search">&nbsp;</a>
@{using (Html.BeginForm("Search", null, new { item = Content.StartPage }, FormMethod.Get, new { id = "searchform" }))
  {
	<input name="q" />
  }
}
</span>
<script type="text/javascript">//<![CDATA[
	$(document).ready(function () {
		$("#search").click(function (e) {
			e.preventDefault();
			e.stopPropagation();
			$("#searchform").css({ display: "inline" })
				.find("input:first").focus();
		});
		var $sm = null;
		$("#searchform").submit(function (e) {
			e.preventDefault();
			$(".searchresults").remove();
			$("<ul class='searchresults'></ul>").appendTo(this)
				.load(this.action, $(this).serialize(), function () { $("a:first", this).focus(); });
		}).click(function (e) {
			e.stopPropagation();
		});
		$(document).click(function () {
			$("#searchform").hide();
		});
	});
//]]></script>