<span id="sitemap">
	@Html.ActionLink("Site map", Content.StartPage, "SiteMap", null, new { id = "sitemapopener" })
</span>
<script type="text/javascript">//<![CDATA[
	$(document).ready(function () {
		var hash = "#sm";
		$("#sitemapopener").click(function (e) {
			e.preventDefault();
			$sm = $("<ul id='sitemapresults'><li class='loading'>Loading...</li></ul>").appendTo("#sitemap")
				.load(this.href, null, function () {
					var here = location.href.replace(/#.*/, "");
					$("a", this).each(function (i) {
						if (i === 0) this.focus();
						if (this.href === here) this.focus();
						this.href += hash;
					});
				});
		});
		$(document).click(function (e) {
			if ($(e.target).closest("#sitemap").length == 0)
				$("#sitemapresults").remove();
		});
		if (location.hash === hash)
			$("#sitemapopener").click();
	});
//]]></script>