
/* INK THEME */

body .header
{
    background-color:#444; 
    border-color:#000;
}
body .subbar,
body #splitter .vsplitbar
{
    background-color:#555; 
    border-color:#222;
}
body .toolbar, 
body .optionGroup,
body .commandOptions .opener,
body .gv th,
body .gv thead td
{
    background:#aaa;
	border-color:#666;
}
body,
body .gv .alt td { background-color:#eee; }

body .toolbar .toggled,
body .toolbar .command:hover{
	border-color:#bbb;
}
body .toolbar a
{
	color:#333;
}
