<?xml version="1.0"?>

<configuration>
	<system.web>
		<httpHandlers>
			<add path="*.css" verb="*" type="N2.Web.CssCompilerHandler, N2"/>
		</httpHandlers>
	</system.web>
	<system.webServer>
		<handlers>
			<add name="CssCompiler" path="*.css" verb="*" type="N2.Web.CssCompilerHandler, N2"/>
		</handlers>
	</system.webServer>
</configuration>

