<?xml version="1.0"?><configuration>
	<system.web>
		<pages styleSheetTheme="">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<authorization>
			<allow users="Admin" roles="Administrators,Editors"/>
			<deny users="*"/>
		</authorization>

		<customErrors defaultRedirect="diagnose.aspx" mode="Off"/>
	</system.web>
</configuration>