<div class="clearfix">
@Helpers.SubNavigation(1, 2)
</div>
@Content.Register.FileUpload("Image").Configure(fu => { fu.PreferredSize = "wide"; fu.CssClass = "main"; }).Container(Dinamico.Constants.Containers.Content).Display()