<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="51Degrees.mobi" version="2.1.19.4" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="System.Data.SQLite" version="1.0.90.0" targetFramework="net40" />
</packages>