<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" requirePermission="false" restartOnExternalChanges="true"/>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="templates" type="N2.Templates.Configuration.TemplatesSection, N2.Templates" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- MEDIM TRUST: SQLite won't work. Remove \bin\system.data.sqlite.dll and change connection strings-->
		<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />

		<!-- Some connection string examples
		SQLite:						<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />
		SQL Server:				<add name="N2CMS" connectionString="Server=(local);Database=N2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		SQL Express:			<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SQLExpressDB.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Express:			<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;Database=N2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		MySQL:						<add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		Oracle:						<add name="N2CMS" connectionString="Data Source=OracleSid; User Id=username;Password=pwd;" providerName="System.Data.OracleClient"/>
		SQL Compact 4:		<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2cms.sdf" providerName="System.Data.SqlServerCe.SqlCeEngine, System.Data.SqlServerCe"/>
		-->
	</connectionStrings>

	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<host configSource="App_Data\n2_host.config" />
		<engine>
			<assemblies>
				<!-- These assembly declarations are necessary in MEDIUM TRUST -->
				<add assembly="N2.Templates"/>
			</assemblies>
			<!-- Update email to receive error reports -->
			<errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
			<!-- Globalization requires you to create additional start pages with a language defined -->
			<globalization enabled="true" />
			<!-- Will ping the site to prevent it from sleeping -->
			<scheduler keepAlive="true" interval="10" />
		</engine>
		<!-- New database? Run installer at http://yoursite/n2/installation/ -->
		<database connectionStringName="N2CMS" flavour="AutoDetect" caching="true">
		</database>
		<edit>
			<!-- Set to false to disable redirection to install page -->
			<installer checkInstallationStatus="true" />
			<uploadFolders/>
			<writers dynamic="true"/>
			<editors dynamic="true"/>
			<administrators dynamic="true"/>
		</edit>
	</n2>

	<log4net configSource="N2\log4net.config" />

	<system.web>
		<sessionState mode="Off" />
		<!--<globalization culture="sv-SE"/>-->
		<!--<trust level="Medium" originUrl=""/>-->

		<pages>
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates" />
			</controls>
			<tagMapping>
				<add tagType="System.Web.UI.HtmlControls.HtmlForm"  mappedTagType="N2.Web.UI.WebControls.RawUrlForm"/>
			</tagMapping>
			<namespaces>
				<add namespace="System.Web.Mvc.Html"/>
				<add namespace="N2.Web.Mvc.Html"/>
				<add namespace="System.Linq"/>
			</namespaces>
		</pages>

		<httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</httpModules>

		<siteMap defaultProvider="PublicSiteMap"><providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
		</providers></siteMap>

		<compilation debug="true">
			<!--optimizeCompilations="true">-->
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Routing, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</assemblies>
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="n2/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password. Please do it now. -->
					<user name="admin" password="changeme" />
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="RemoteOnly" defaultRedirect="~/Templates/UI/Views/500.aspx">
		</customErrors>

		<!-- These membership and role providers store their data as content items. 
         You can also use the forms authentication credentials only (then remove 
         these sections) or the default ASP.NET providers (search for asp.net membership) -->
		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear />
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" passwordFormat="Hashed" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear />
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
			</providers>
		</roleManager>
		<profile defaultProvider="ContentProfileProvider">
			<providers>
				<clear />
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
			</providers>
		</profile>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>

	<system.net>
		<mailSettings>
			<smtp from="info@mysite.com">
				<network host="smtp.bredband.net"/>
			</smtp>
		</mailSettings>
	</system.net>

	<appSettings />

	<!-- IIS7 settings, you should remove either this or the httpHandlers and modules above -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules>
	</system.webServer>

</configuration>
