@model Dinamico.Models.ListingPage

@{
	Content.Define(re => 
	{
		re.Title = "Listing";
	});
}

@Html.Partial("LayoutPartials/_Content")

@Html.Loop(Content.Traverse.DescendantPages(Content.CurrentPage, N2.Filter.Access()),
	template:@<div class="item">
		@Html.Partial("Partials/ContentLink", item.Data)
	</div>,
	wrapper: @<div class="list">@item.RenderContents()</div>,
	empty:@<p>No items</p>)