@model Dinamico.Models.ListingPage

@{
	Content.Define(re => 
	{
		re.Title = "Listing";
	});
}

<div class="list>
@foreach (var child in Content.Traverse.DescendantPages(Content.CurrentPage))
{
	using (Content.BeginContentScope(child))
 {
	<div class="item">
		<a href="@child.Url">
			@Content.Render.Image("Image", "thumb")
			<strong>@child.Title</strong>
			<p>@child["Introduction"]</p>
		</a>
	</div>
 }
}
</div>
