@import url(../edit/Css/edit.css);

.nameEditor, .titleEditor
{
	display:block;
	width:auto;
	width:100%;
}
#main .columns
{
}
#main .columns .left,
#main .columns .right
{
	margin-top:10px;
	width:auto;
	float:none;
}