<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.integrity.fake" service="N2.Integrity.IIntegrityManager, N2" type="N2.Tests.Fakes.FakeIntegrityManager, N2.Tests"/>
	</components>
	<include uri="assembly://N2/Web/n2.notweb.xml"/>
	<include uri="assembly://N2/Configuration/castle.config"/>
</castle>