@model Dinamico.Models.ContentPage

@{
	Content.Define(re =>
	{
		re.Title = "Redirect";
		re.IconUrl = "{IconsUrl}/link.png";
		re.Url("Destination");
		re.CheckBox("Permanent", "Write HTTP 301 (Permanent) redirect header").DefaultValue(false);
		re.CheckBox("LocationReplace", "Javascript location.replace").DefaultValue(false);
	});

	bool designMode = (Html.ViewContext.HttpContext.User.Identity.IsAuthenticated && Content.Engine.SecurityManager.IsEditor(Html.ViewContext.HttpContext.User));
	var url = Model.GetDetail("Destination", "/");
	if (!designMode)
	{

		var perm = Model.GetDetail("Permanent", false);
		var js = Model.GetDetail("LocationReplace", false);

		if (perm) { Response.RedirectPermanent(url); }
		if (js) { <script type="text/javascript">location.replace('@url');</script> }
		Response.Redirect(url);

	}
	else
	{ 
		<div class="alert alert-warning">
			<p>Auto-redirect is disabled because the current user is an editor. </p>
			<p><a href="@url">Continue to @url</a></p>
		</div>
	}
}

@Html.Partial("LayoutPartials/Content")
