<?xml version="1.0" encoding="UTF-8"?>
<!-- This is stored in a separate file so that the installation wizard can write to this file without write access to web.config -->
<host rootID="1" startPageID="2" multipleSites="true">
	<web extension="" />
  <resources jQueryPath="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
             jQueryUiPath="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
             angularPath="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"
             angularResourcesPath="//ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular-resource.min.js"
            />
	<outputCache enabled="false" duration="10" />
</host>
