<?xml version="1.0"?>

<configuration>
	<configSections>
		<sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
			<section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<system.web.webPages.razor>
		<host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
		<pages pageBaseType="N2.Web.Mvc.ContentWebViewPage">
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="N2.Web.Mvc.Html" />
				<add namespace="N2.Definitions.Runtime" />
			</namespaces>
		</pages>
	</system.web.webPages.razor>

	<appSettings>
		<add key="webpages:Enabled" value="false" />
	</appSettings>

	<system.web>
		<httpHandlers>
			<add path="*.css" verb="*" type="N2.Web.CssCompilerHandler, N2"/>
		</httpHandlers>

		<!--
        Enabling request validation in view pages would cause validation to occur
        after the input has already been processed by the controller. By default
        MVC performs request validation before a controller processes the input.
        To change this behavior apply the ValidateInputAttribute to a
        controller or action.
    -->
		<pages
			validateRequest="false"
			pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc"
			pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc"
			userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc">
			<controls>
				<add assembly="System.Web.Mvc" namespace="System.Web.Mvc" tagPrefix="mvc" />
			</controls>
		</pages>
	</system.web>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />

		<handlers>
			<remove name="CssCompiler"/>
			<add name="CssCompiler" path="*.css" verb="*" type="N2.Web.CssCompilerHandler, N2"/>
		</handlers>
	</system.webServer>
</configuration>
