body.framed .upload input{
	vertical-align:top;
}
body.framed ul { margin:0; }
body.framed li { list-style-type:none; margin:0; }
body.framed li li { margin-left:20px; }
body.framed .file img{
	vertical-align:middle;
}
body.framed .warning{
	color:Red;
}