<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="n2.security"           service="N2.Security.ISecurityManager, N2" type="N2.Security.DefaultSecurityManager, N2"/>
    <component id="n2.securityEnforcer"   service="N2.Security.ISecurityEnforcer, N2" type="N2.Security.SecurityEnforcer, N2"/>
  </components>
</castle>