/* APPEARANCE, COLORS AND FONTS */

html { background:#5c87b2; }
body { background:transparent; }
#content h1 { color: #46351C; }
	div#top { background-color:#fff; }
		div#nav .submenu { background-color:#fff; }
		div#nav .topmenu { font-size:1.48em; }
			div#nav ul.menu li a { background-color:#fff; }
	div#main { background-color:#fff; }
	div#aside {}
		div#aside .part {}
	div#footer { margin-top:1px; background-color:#4c77a2; color:#fff; }
		div#footer a, div#footer a:visited { color:#fff; }
	
#content h1 { font-size:2.2em; margin-bottom:.25em; }
#content h2 { font-size:1.8em; margin-bottom:.25em; }
#content h3 { font-size:1.4em; margin-bottom:.25em; }
#content h4 { font-size:1.2em; margin-bottom:.25em; }
#content ul { margin-bottom:1em; }
#content table { margin-bottom:1em; }
#content p { margin-bottom:1em; }
