
/* DEFUALT THEME */

body .header,
#home h4
{
    background-color:#79C;
}
body .box
{
    border:solid 1px #aa9;
}

body .subbar,
body #splitter .vsplitbar
{
    background-color:#ccb; 
    border-color:#aa9;
}
body .subbar
{
    border-top-color:#ccc;
}
body .toolbar, 
body .optionGroup,
body .commandOptions .opener,
body .gv th,
body .gv thead td
{
    background:#ddc;
	border-color:#ccc;
}
body,
body .gv .alt td { background-color:#F8F8E8; }

body .toolbar .toggled,
body .toolbar .command:hover
{
	border-color:#bbb;
}
body .toolbar a
{
	color:#333;
}
