<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.N2ConfigurationSectionHandler, N2">
			<section name="mediumTrust" type="N2.MediumTrust.Configuration.MediumTrustSectionHandler, N2.MediumTrust" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<n2>
		<mediumTrust>
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Edit"/>
				<add assembly="MediumTrustTest"/>
			</assemblies>
			<itemTypes>
				<add typeName="MediumTrustTest.Items.DefaultPage, MediumTrustTest"/>
				<add typeName="MediumTrustTest.Items.WatchItem, MediumTrustTest"/>
				<add typeName="N2.Edit.Wizard.Items.MagicLocation, N2.Edit"/>
				<add typeName="N2.Edit.Wizard.Items.Wonderland, N2.Edit"/>
				<add typeName="N2.Trashcan.TrashContainerItem, N2.Edit"/>
			</itemTypes>
			<nhProperties>
				<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
				<add key="hibernate.connection.connection_string_name" value="LocalSqlServer"/>
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
				<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
				<add key="hibernate.cache.use_second_level_cache" value="false"/>
				<add key="hibernate.cache.use_query_cache" value="false"/>
				<add key="hibernate.cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache"/>
			</nhProperties>
		</mediumTrust>
	</n2>
	<appSettings/>
	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Server=localhost;Database=n2mtt;Integrated Security=SSPI;MultipleActiveResultSets=true;"/>
	</connectionStrings>
	<system.web>
		<trust level="Medium"/>
		<httpModules>
			<add name="n2initializer" type="N2.MediumTrust.Web.InitializerModule, N2.MediumTrust"/>
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>
		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
				<add name="EditSiteMap" type="N2.Edit.Web.EditSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
				<add name="FileSiteMap" type="N2.Edit.Web.FileSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
			</providers>
		</siteMap>
		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/" name="N2Auth">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
				<add tagPrefix="n2" assembly="N2.Parts" namespace="N2.Parts.Web.UI.WebControls"/>
			</controls>
		</pages>
	</system.web>
</configuration>
