<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>
	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<database>
			<search type="RemoteServer" indexPath="C:\ProgramData\N2\SearchIndex\">
				<server sharedSecret="changemeHereAndOnServerConfig"/>
			</search>
		</database>
	</n2>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
