/********* GLOBALS *********/

* {margin:0;padding:0}
body {font-family:Arial,SansSerif;font-size:.9em;}
a img,table {border:0}
dl,ol,ul {list-style:none}
button,select,textarea,input {font:100% serif}
table {border-collapse:collapse}
caption,th,td {text-align:left}
h1,h2,h3,h4,h5,h6,p {margin:.35em 0;}

/* colors */
#header h2 a { color:#fff; }
a { color:#0096db; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#5bb4e5; }
#footer .n2{color:#ECAC00;float:right;margin-top:10px;font-size:.8em;}

/* clearfix */
#page:after, .cf:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#page, .cf { display: inline-block; }
* html #page, * html .cf { height: 1px; }



/********* LAYOUT *********/

body
{
    margin:0;
}
#wrap
{
    width:900px;
    margin:0 auto;
    position:relative;
}
#header 
{
	position:absolute;
    width:900px;
}
#page
{
	position:absolute;
	top:100px;
}
.secondary
{
    width:180px;
    float:left;
    margin-bottom:1px;
}
#main
{
    width:500px;
    float:left;
    margin:5px 10px;
    padding-bottom:15px;
}



/********* STYLE *********/

body
{
	background-color:#f5f6d4;
}
#header
{
	background:#CDE855 url(SubMenu.gif) no-repeat 0% 100%;
	padding-bottom:5px;
}
#page
{
}
#content
{
	background:transparent url(PageBgTop.gif) no-repeat 50% 0%;
}
#main
{
	background:transparent url(PageBgBottom.gif) no-repeat 50% 100%;
	background-color:#fff;
	padding:5px 10px;
}
/*box*/
.boxTitle,
.secondary h4
{
    margin:0;
    padding:10px 10px 5px 10px;
    border-bottom:solid 1px #F5F6D4;
    background:transparent url(SidebarBg.gif) no-repeat;
}
.secondary .box
{
    _height:1px;
    padding-bottom:10px;
    background:transparent url(SidebarBg.gif) no-repeat 0% 100%;
}
.secondary .box .inner
{
    background:transparent;
    padding:10px 10px 0 10px;
}

/*top*/
#header h2
{
    margin:0;
    padding:20px 25px;
    position:absolute;
    top:20px;
}
#header img
{
    position:absolute;
    top:15px;
    right:15px;
}

/*secondary*/
.secondary .uc
{
    margin-bottom:15px;
    background-color:#fff;
}

/*menu*/
.topMenu
{
	display:block;
}
.topMenu li
{
	float:left;
}
.topMenu a
{
	color:#fff;
	display:block;
	padding:5px 5px;
}
.topMenu .current > a,
.topMenu .trail > a
{
    font-weight:bold;
}
.subMenu a,
.menu a
{
    display:block;
    padding:2px 0;
    _height:1px;
    color:#333;
}
.subMenu ul ul,
.menu ul ul
{
    margin:0 0 5px 10px;
}
.subMenu .trail > a,
.subMenu .current > a,
.menu .trail > a,
.menu .current > a
{
    color:#0096DB;
}
.subMenu .current > a,
.menu .current > a
{
    font-weight:bold;
}

/* lists */
.list .a0
{
    background: #f4f8ed;
}
.list
{
    padding-bottom:6px;
}
.list .item
{
	padding:5px;
}

/*path*/
.path .current
{
    color:#333;
}
.path a.current:hover
{
    cursor:default;
    text-decoration:none;
}

/*sitemap*/
#main ul
{
	list-style:circle;
	margin-left:20px;
}


/** ELEMENTS **/
.date
{
	font-size:x-small;
	color:#333;
	display:block;
}

/*columns*/
.columns .left
{
	float:left;
	width:245px;
}
.columns .right
{
	float:right;
	width:245px;
}



/* drag&drop */
.dragDrop .secondary .uc { margin-bottom:0;}
.dragDrop .SiteLeft,.dragDrop .SiteRight,.dragDrop .SiteTop { background-color:#fef;}
.dragDrop .Left,.dragDrop .Right,.dragDrop .Content { background-color:#eef;}