/********* GLOBALS *********/

* {margin:0;padding:0}
body {font-family:Constantia,"Lucida Fax","Palatino Linotype",serif;font-size:.9em;}
a img,table {border:0}
a img{vertical-align:middle;}
dl,ol,ul {list-style:none}
button,select,textarea,input {font:100% serif}
table {border-collapse:collapse}
caption,th,td {text-align:left;vertical-align:top;}
h1,h2,h3,h4,h5,h6,p {margin:.35em 0;font-family:Cambria,"Hoefler Text","Palatino Linotype",Palatino,"Trebuchet MS",serif}

/* colors */
a { color:#478db3; text-decoration:none; }
a:hover { text-decoration:underline; }
a:visited { color:#5bb4e5; }

/* clearfix */
#page:after, .cf:after, #content:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#page, .cf, #content { display: inline-block; }
* html #page, * html .cf, * html #content { height: 1px; }

/********* LAYOUT *********/

body { margin:0; background:#000 url(bg.gif) 50% 0%; }
	#wrap { }
		#header { background:url(top_bottom_bg.gif) repeat-x 50% 100%; padding-bottom:10px; margin-bottom:40px; }
			#header .top {height:90px; background:url(top_bg.gif) 50% 0%;  }
				#header .top h2 {width:900px; left:50%; margin-left:-450px; position:absolute; }
				#header .top .siteLogo {width:900px; left:50%; margin-left:-450px; position:absolute; }
		#page { width:900px; margin:0 auto; padding-bottom:3px; background:#fff url(page_bg.gif) no-repeat 100% 100%; }
			#content { float:right; width:685px; padding:15px; background:#fff url(page_bg.gif) no-repeat 100% 0%; }
				.secondary { width:170px; margin-bottom:1px; }
				#menu { float:left; }
				#extras { float:right; }
				#main { width:500px; float:left; padding-bottom:15px; background:#fff; }
		#footer {width:690px; margin:0 auto; padding:15px 15px 15px 200px; color:#666;}
			#footer .n2{color:#333;float:right;margin-bottom:10px;font-size:.8em;}

/* top */
.siteHeader { margin:0; padding:55px 20px 30px 200px; }
	.siteHeader a { color:#478db3; }
.siteLogo img { float:right; padding:20px; }


/*box*/
.boxTitle,
.secondary h4 {padding:0 5px;color:#d0cfcb;}
.secondary h4 a,
.secondary h4 a:visited { color:#d0cfcb;}
#menu .box { color:#d0cfcb;}
#content .boxTitle,
#content .secondary h4 { color:#414141; }
.secondary .box { background:transparent url(menu_bg.gif) no-repeat 50% 100%; _height:1px; padding-bottom:10px; }
.secondary .box .inner { padding:10px 10px 0 10px; background:transparent url(menu_bg.gif) no-repeat 50% 0%; }
#content .secondary .box { background:transparent url(secondary_bg.gif) no-repeat 50% 100%; }
#content .secondary .box .inner { background:transparent url(secondary_bg.gif) no-repeat 50% 0%; }

/*secondary*/
.secondary .uc { margin-bottom:15px; }

/*menu*/
.topMenu { width:700px; padding-left:200px; position:absolute; top:110px; left:50%; margin-left:-450px; }
	.topMenu li { display:inline; }
	.topMenu a { color:#fff; margin-right:10px; }
	.topMenu .current a,
	.topMenu .trail a { font-weight:bold; color:#0096DB; }

.languageMenu { width:150px; position:absolute; top:110px; left:50%; margin-left:285px; text-align:right; }
	.languageMenu a { opacity:.4;}
	.languageMenu .current { cursor:default; opacity:1;}
	.languageMenu a:hover { opacity:1;}

.subMenu a { display:block; padding:2px 0; _height:1px; color:#fff; }
.subMenu ul { margin:0 0 5px 10px; }
.subMenu .trail > a,
.subMenu .current > a { color:#0096DB; }
.subMenu .current > a { font-weight:bold; }

/* lists */
.list .a0 { background: #f4f8ed url(list_dark.gif) no-repeat 50% -1px; }
.list,
.list .a1 { background: #fff url(list_light.gif) no-repeat 50% -1px; }
.list { padding-bottom:6px; background-position:50% 100%; }
.list .item { padding:5px; }

/* path */
.path { margin-top:10px; }
.path .current { color:#414141; }
.path a.current:hover { cursor:default; text-decoration:none; }

/* sitemap */
#main ul { list-style:circle; margin-left:20px; }

/* date */
.date { font-size:x-small; color:#414141; display:block; }

/* intro */
.intro { font-style:italic; font-size:1.2em; }
.list .intro { font-style:normal; font-size:1em; }
body #page { background-color:Transparent; }

/*columns*/
.columns .left { float:left; width:245px; }
.columns .right { float:right; width:245px; }

/* drag&drop */
.dragDrop .secondary .uc { margin-bottom:0;}
.dragDrop .SiteLeft,.dragDrop .SiteTop {}
.dragDrop .SiteRight { background-color:#fef;}
.dragDrop .Left {}
.dragDrop .Right,.dragDrop .Content { background-color:#eef;}

.socialBookmarks a { white-space:nowrap; }