<?xml version="1.0"?>

<configuration>
    <system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>
				<add tagPrefix="n2" namespace="N2.Parts.Web.UI.WebControls" assembly="N2.Parts"/>
			</controls>
		</pages>
	</system.web>
</configuration>
