<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
      <section name="globalization" type="N2.Configuration.GlobalizationSection, N2" requirePermission="false" />
    </sectionGroup>
	</configSections>

	<n2>
		<host rootID="1" startPageID="1"/>
		<engine isWeb="false">
			<assemblies>
				<add assembly="N2"/>
        <add assembly="N2.Edit" />
        <add assembly="N2.Tests"/>
        <add assembly="N2.Edit.Tests" />
      </assemblies>
		</engine>
		<database connectionStringName="N2CMS" caching="false" />
	</n2>

	<connectionStrings>
		<clear/>
		<add name="N2CMS" connectionString="Server=localhost;Database=N2_Tests;Integrated Security=SSPI;"/>
	</connectionStrings>

	<castle>
		<properties>
			<rootItemID>1</rootItemID>
			<startPageID>1</startPageID>
			<nhSettings>
				<dictionary>
					<entry key="connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
					<entry key="connection.connection_string_name">N2CMS</entry>

					<entry key="cache.use_second_level_cache">false</entry>
					<entry key="connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					<entry key="dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
					<entry key="show_sql">true</entry>
				</dictionary>
			</nhSettings>
		</properties>

		<components>
			<component id="n2.integrity.fake" service="N2.Integrity.IIntegrityManager, N2" type="N2.Tests.Fakes.FakeIntegrityManager, N2.Tests"/>
		</components>

		<include uri="assembly://N2/Web/n2.notweb.xml"/>
		<include uri="assembly://N2/Engine/n2.configuration.xml"/>
	</castle>

	<!--<n2>
		<mediumTrust rootItemID="1" startPageID="1">
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Tests"/>
				<add assembly="N2.Edit.Tests" />
				<add assembly="N2.Edit.Trash" />
			</assemblies>
			<nhProperties>
				<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
				<add key="connection.connection_string_name" value="TestConnection"/>
				<add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
				<add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
				<add key="cache.use_second_level_cache" value="false"/>
				<add key="cache.use_query_cache" value="false"/>
				<add key="cache.provider_class" value="NHibernate.Caches.SysCache2.SysCacheProvider,NHibernate.Caches.SysCache2"/>
			</nhProperties>
		</mediumTrust>
	</n2>-->

	<log4net>

		<!-- Define some output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>

		</appender>

		<root>
			<!-- priority value can be set to ALL|INFO|WARN|ERROR -->
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>
</configuration>