@model string

@using (Content.BeginScope(Model))
{
	@Html.UnorderedList(Content.Traverse.Siblings(Content.Is.AccessiblePage()).TakeWhile(s => s != Content.Current.Item), @<span>@Content.LinkTo(item.Data)</span>)
}
