@model string
@{ var current = Content.Path.CurrentPage; }
@Html.UnorderedList(Content.Traverse.Siblings(Content.Is.Navigatable()), 
	@<span>
	@if (item.Data != current)
	{
		@Content.LinkTo(item.Data)
	}
	else
	{
		@item.Data.Title
	}
	</span>)