<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.configurationBuilder" type="N2.Persistence.NH.ConfigurationBuilder, N2"/>
		<component id="n2.sessionFactorySource" service="N2.Persistence.NH.IConfigurationBuilder, N2" type="N2.Persistence.NH.ConfigurationSource, N2" />
		<component id="n2.itemNotifier"       service="N2.Persistence.IItemNotifier, N2" type="N2.Persistence.NH.NotifyingInterceptor, N2"/>
		<component id="n2.sessionProvider"    service="N2.Persistence.NH.ISessionProvider, N2" type="N2.Persistence.NH.SessionProvider, N2"/>
		<component id="n2.repository"         service="N2.Persistence.IRepository`2, N2" type="N2.Persistence.NH.NHRepository`2, N2"/>
		<component id="n2.repository.nh"      service="N2.Persistence.NH.INHRepository`2, N2" type="N2.Persistence.NH.NHRepository`2, N2"/>
		<component id="n2.versioning"         service="N2.Persistence.IVersionManager, N2" type="N2.Persistence.VersionManager, N2"/>
		<component id="n2.persister"          service="N2.Persistence.IPersister, N2" type="N2.Persistence.NH.ContentPersister, N2"/>
		<component id="n2.itemFinder"         service="N2.Persistence.Finder.IItemFinder, N2" type="N2.Persistence.NH.Finder.ItemFinder, N2"/>
		<component id="n2.trailTracker"       type="N2.Persistence.NH.TrailTracker, N2"/>
	</components>
</castle>