timestamp=2012-08-14 20:22:23
version=1
assembly=cdc5207d-3009-4468-8a79-5948e1856e9e;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.VersionManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentPersister
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.ContentItem;N2.ContentItem
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.ContentItem;N2.Edit.CreatorItem
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
cdc5207d-3009-4468-8a79-5948e1856e9e=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
cdc5207d-3009-4468-8a79-5948e1856e9e=System.Object[N2.Plugin.IPlugin];N2.Web.UI.WebControls.ControlPanel
assembly=95f693d9-8e7d-4eaf-a2c7-86bd7843f670;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.Items.ImageSizeCache
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Activity.EditingAjaxService
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.RootPartBase
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.StatisticsPart
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.LanguagesPart
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.ActivityPart
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Security.Items.User
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.WizardsPart
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Security.Items.UserList
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Externals.ExternalItem
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Management.Myself.RootBase
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.FileSystem.Items.File
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.Plugin.IPluginInitializer;N2.Management.Myself.Analytics.ManagementAreaRegistration
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Move
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.Translate
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Management.Content.Templates.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Export.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.paste
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.SortUp
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Navigation.Search
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Management.Files.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Management.Myself.Root
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization.LanguageMenu
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Edit
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Security.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Copy
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Wizard.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Membership.Users
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Delete
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.New
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Management.Content.EditRecursive
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Settings.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Versions.Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.Globalization._Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=System.Object[N2.Plugin.IPlugin];N2.Edit.LinkTracker._Default
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
95f693d9-8e7d-4eaf-a2c7-86bd7843f670=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
assembly=dd2f2642-5be5-4092-915b-e053a87d4c5b;N2.Management.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
dd2f2642-5be5-4092-915b-e053a87d4c5b=System.Object[N2.Engine.ServiceAttribute];none
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Edit.Tests.Trash.ThrowableItem
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Edit.Tests.Trash.NonThrowableItem
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Edit.Tests.Trash.LegacyNonThrowableItem
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Management.Tests.Security.Items.UserOverride
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Tests.Edit.LinkTracker.Items.TrackableItem
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.ContentItem;N2.Edit.Tests.FileSystem.RootNode
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.Plugin.IPluginInitializer;none
dd2f2642-5be5-4092-915b-e053a87d4c5b=System.Web.Mvc.IController;N2.Management.Tests.ExternalContent.ExternalContentTests+StubController
dd2f2642-5be5-4092-915b-e053a87d4c5b=System.Web.Mvc.IController;N2.Management.Tests.ExternalContent.ExternalContentTests+Stub2Controller
dd2f2642-5be5-4092-915b-e053a87d4c5b=System.Object[N2.Plugin.IPlugin];none
dd2f2642-5be5-4092-915b-e053a87d4c5b=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
assembly=2ee9c737-626f-4449-bcd5-ad10a1d1b787;N2.Tests, Version=1.0.204.38435, Culture=neutral, PublicKeyToken=null
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.LowService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.HighService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.SelfService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingServiceWithMissingDependency
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericSelfService`1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingGenericSelfService`1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericDependingService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.InterfacedService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacingService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacedService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacingReplacedService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DecoratingService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.OuterService+InnerService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.OuterService2+InnerService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.InternalService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericInterfacedService`1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericInterfaceDependingService
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Plugin.Scheduling.OnceAction
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Plugin.Scheduling.RepeatAction
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Serialization.Items.XmlableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Serialization.Items.XmlableItem2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.CustomItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.ParticularCustomItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.SpecialCustomItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.ComplexContainersItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegritySubPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Extensions.Tests.Linq.LinqItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Runtime.FluentRegistratorTests+FluentItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.SiteProvidingItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Globalization.Items.TranslatedPageWithAuthorization
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Globalization.GlobalizationTests+Trash
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.RestrictsChildWithCardinality
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.ChildWithCardinality
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionAutoCreatedItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionControllingParent
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionFreeItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionMenuItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRightColumnPart
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionNewsList
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTwoColumnPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTextPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionNewsPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionOne
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionOppressedChild
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionPartDefinedItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemovable
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemoves
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemovesNumber2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionDisabled
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplaced
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionDisablingReplacement
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplacement
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplacesNumber1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRightColumnTeaser
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionStartPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTextItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTwo
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionUndefined
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionWithPersistable
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemInZone1Or2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.InjectableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Details.Models.DecoratedItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Details.Models.OtherItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Details.Models.BaseItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Details.Models.SuperficialItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Static.DescribablePart
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Collections.NonPageItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityStartPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityAlternativeStartPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Definitions.NonVirtualItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithDetails
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.SubItemWithDetails
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithFieldSet
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Installation.RelativityItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Installation.InheritsRelativityItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistablePart1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem1b
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Proxying.InterceptableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Proxying.InterceptableInheritorItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.Proxying.IgnoringItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.ItemWithModification
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.ConventionTemplatePage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.ConventionTemplatePage2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.ItemWithRequiredProperty
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Static.DescribablePage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Content.AnItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Content.AnItemWithProtectedDefaultConstructor
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Security.Items.SecurityPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Security.Items.RemappedPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Globalization.Items.LanguageRoot
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Collections.Items.FirstPart
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityRoot
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemAA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemAAB
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.NotVersionableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.LegacyNotVersionableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.PageItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.MasterDetailsPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.ListDetailsPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.RegexPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithoutZones
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemAAA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.JsonWriterTests+CI
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Workflow.Items.StatefulItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Workflow.Items.UnversionableStatefulItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemAC
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Collections.FirstItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.CustomExtensionPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.CustomExtensionItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Globalization.Items.TrashCan
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithNestedContainers
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Engine.Items.ItemAB
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.DataItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Utility.UtilityItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.NormalItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+ParentContentItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+ChildContentItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+BasePage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+SpecificPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Collections.SecondItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityAlternativePage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.NormalPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Details.Models.EnumableItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Edit.Items.ItemWithSecuredContainer
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.ContentRegistrationTests+EmptyItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Web.Items.OtherCustomItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.NH.PropertyItemType
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Persistence.NH.PropertyItemInheritor1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.MediumTrust.MediumTrustPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Globalization.Items.TranslatedPage
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.ContentItem;N2.Tests.Definitions.Definitions.SideshowItem
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn3
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.ThrowingPlugin2
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.ThrowingPlugin1
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Web.Mvc.IController;N2.Tests.Definitions.Runtime.FluentRegistratorTests+FluentItemController
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Plugin.IPlugin];N2.Tests.Edit.Items.SeveralPlugins
2ee9c737-626f-4449-bcd5-ad10a1d1b787=System.Object[N2.Plugin.IPlugin];N2.Tests.Edit.Items.PermittablePlugins
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.OtherCustomController
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.SpecialCustomAdapter
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.CustomZoneController
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterAAA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.PageZoneAdapter
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.CustomRequestAdapter
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterAA
2ee9c737-626f-4449-bcd5-ad10a1d1b787=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterIInterfaced
assembly=b6bee433-78bf-40c6-96aa-077a12185d52;Shouldly, Version=1.1.0.1, Culture=neutral, PublicKeyToken=null
b6bee433-78bf-40c6-96aa-077a12185d52=System.Object[N2.Engine.ServiceAttribute];none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.ContentItem;none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.Plugin.IPluginInitializer;none
b6bee433-78bf-40c6-96aa-077a12185d52=System.Web.Mvc.IController;none
b6bee433-78bf-40c6-96aa-077a12185d52=System.Object[N2.Plugin.IPlugin];none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
