timestamp=2012-08-20 20:31:36
version=1
assembly=54715d6d-7a17-42bb-bb9a-0c4915981415;N2, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationBuilder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageInterceptor
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Drawing.ImageResizer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.DatabaseStatusCache
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.ConnectionMonitor
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentItemRepository
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.UploadFolderSource
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Proxying.InterceptingProxyFactory
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableTokenRenderer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.MultipleSitesInitializer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.ContentSource
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGateway
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.AsyncWorker
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.VirtualNodeFactory
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.EmptyIndexer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.VirtualPathProviderProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.TemplateProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityEnforcer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.EditUrlProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.HtmlFilter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.SessionProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipImporter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.DescendantItemFinder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewEngineCollectionProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateRegistrator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.VersionManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.CreateUrlProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionBuilder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.WritingDisplayableRenderer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Resources.ResourceInitializer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.ViewContentHelperProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Activity.ActivityRepository`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Settings.NavigationSettings
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Heart
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Navigator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Sources.DatabaseSource
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.IndexableDefinitionExtractor
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.PathDataProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestHandler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.AjaxRequestDispatcher
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Host
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Security.SecurityManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ContentPersister
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.TreeSorter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ContentAdapterProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.DefinitionManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.Finder.ItemFinder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.RouteCollectionProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginBootstrapper
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.HttpRequestChannel
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.ObsoleteErrorHandler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorNotifier
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.ErrorHandler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundCache`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.StateChanger
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandDispatcher
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.RssWriter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.CacheWrapper
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHInterceptorFactory
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HttpContextProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.ViewTemplateAnalyzer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Runtime.FluentDefinitionProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.EditableHierarchyBuilder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentDependencyInjector
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.ContainerRepository`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.Static.DefinitionMap
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemMover
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ItemNotifier
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestLifeCycleHandler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Messaging.MessageBroker
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.ContentActivator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.InstallationChecker
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.PartUtilities
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mail.SmtpMailSender
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.PluginFinder
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Wiki.WikiParser
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TemporaryFileHelper
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.DatabaseFileSystem
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ConfigurationSource
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.ClassMappingGenerator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.RequestPathProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.GZipExporter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.NHRepository`2
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Mvc.ControllerMapper
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.AppPathRebaser
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditUrlManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Providers.HtmlHelperProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.DefaultDirectorySelector
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Installation.MigrationEngine
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.Globalization.LanguageGatewaySelector
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.UploadFileHttpHandler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemDeleter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlWriter
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Serialization.ItemXmlReader
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.ServiceProvider`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.DisplayableRendererSelector
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.FindingTextSearcher
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.NH.FileConfigurationParticipator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Plugin.Scheduling.Scheduler
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.EditManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.TrailTracker
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.EntityDependencySetter`1
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Workflow.CommandFactory
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Rendering.FallbackDisplayableRenderer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.TagsRepository
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Search.TextExtractor
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.Behaviors.BehaviorInvoker
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.UI.CacheManager
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.Parts.ItemCopyer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Integrity.IntegrityEnforcer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Engine.StructureBoundDictionaryCache`2
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.MappedFileSystem
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Definitions.AttributeExplorer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Web.DynamicSitesProvider
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.EmptyConfigurationBuilderParticipator
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Object[N2.Engine.ServiceAttribute];N2.Persistence.NH.RelationConfigurationBuilderParticipator
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.ContentItem;N2.ContentItem
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.ContentItem;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubItem
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.ContentItem;N2.Edit.CreatorItem
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.Plugin.IPluginInitializer;N2.Plugin.IPluginInitializer
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Web.Mvc.IController;N2.Web.Mvc.ContentController
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Web.Mvc.IController;N2.Definitions.Runtime.ViewTemplateAnalyzer+StubController
54715d6d-7a17-42bb-bb9a-0c4915981415=System.Web.Mvc.IController;N2.Web.Mvc.ContentController`1
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.Parts.PartsAdapter
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.NodeAdapter
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Web.RequestAdapter
54715d6d-7a17-42bb-bb9a-0c4915981415=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.EditableAdapter
assembly=037a062b-1bd4-4f80-a285-2fa9faab955f;N2.IoC.Windsor2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
037a062b-1bd4-4f80-a285-2fa9faab955f=System.Object[N2.Engine.ServiceAttribute];none
037a062b-1bd4-4f80-a285-2fa9faab955f=N2.ContentItem;none
037a062b-1bd4-4f80-a285-2fa9faab955f=N2.Plugin.IPluginInitializer;none
037a062b-1bd4-4f80-a285-2fa9faab955f=System.Web.Mvc.IController;none
037a062b-1bd4-4f80-a285-2fa9faab955f=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
assembly=ed3814fa-d723-4eaa-bfec-16de6f8d0003;N2.Management, Version=2.4.0.0, Culture=neutral, PublicKeyToken=null
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashCleanupAgent
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.InsertAncestralTrailMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.UploadedFilesResizer
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.FileSystem.Items.ImageSizeCache
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.AutoPublish.PublishScheduledAction
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.TrashHandler
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAlteredPermissionsMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateChildStateMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTranslationKeyMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Navigation.ChildrenAjaxService
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.FixStateMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Globalization.GlobalizationOptionProvider
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Trash.DeleteInterceptor
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FileSystemSource
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Externals.ExternalContentRepository
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateRepository
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.KeepAlive.Pinger
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Templates.ContentTemplateProvider
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.LinkTracker.UpdateLinksMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateAppPathMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.FolderNodeProvider
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.CsvParser
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.LocationWizard
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.CleanZoneNameMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Files.VirtualFolderInitializer
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.Wizard.WizardOptionProvider
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Tags.TagsAjaxService
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Activity.EditingAjaxService
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.MessageBoard
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Users.ChatMessageReceiver
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Edit.LinkTracker.Tracker
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Security.ItemBridge
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Installation.UpdateTemplateKeyMigration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.NumberOfItemsScheduledAction
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Object[N2.Engine.ServiceAttribute];N2.Management.Content.Export.BulkOptionProvider
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.RootPartBase
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractNode
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.FileSystem.Items.AbstractDirectory
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.Trash.TrashContainerItem
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.Analytics.Models.AnalyticsPartBase
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Content.Templates.TemplateContainer
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Content.LinkTracker.PermanentRedirect
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.StatisticsPart
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.LanguagesPart
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.ActivityPart
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Security.Items.User
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.Analytics.Models.ManageAnalyticsPart
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.WizardsPart
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Security.Items.UserList
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.Wizard.Items.MagicLocation
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Externals.ExternalItem
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Management.Myself.RootBase
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.Wizard.Items.Wonderland
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.FileSystem.Items.File
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.FileSystem.Items.Directory
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.ContentItem;N2.Edit.FileSystem.Items.RootDirectory
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.Plugin.IPluginInitializer;N2.Management.Tokens.TokenInitializer
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.Plugin.IPluginInitializer;N2.Management.Myself.Analytics.ManagementAreaRegistration
ed3814fa-d723-4eaa-bfec-16de6f8d0003=System.Web.Mvc.IController;N2.Management.Myself.Analytics.Controllers.ManageAnalyticsController
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Templates.Mvc.Services.MvcOnWebFormPartAdapter
ed3814fa-d723-4eaa-bfec-16de6f8d0003=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Edit.FileSystem.Items.AbstractNodeAdapter
assembly=eb7a7f4d-55b5-4b00-b8b1-59700c076638;N2.Management.Tests, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null
eb7a7f4d-55b5-4b00-b8b1-59700c076638=System.Object[N2.Engine.ServiceAttribute];none
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Edit.Tests.Trash.ThrowableItem
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Edit.Tests.Trash.NonThrowableItem
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Edit.Tests.Trash.LegacyNonThrowableItem
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Management.Tests.Security.Items.UserOverride
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Tests.Edit.LinkTracker.Items.TrackableItem
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.ContentItem;N2.Edit.Tests.FileSystem.RootNode
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.Plugin.IPluginInitializer;none
eb7a7f4d-55b5-4b00-b8b1-59700c076638=System.Web.Mvc.IController;N2.Management.Tests.ExternalContent.ExternalContentTests+StubController
eb7a7f4d-55b5-4b00-b8b1-59700c076638=System.Web.Mvc.IController;N2.Management.Tests.ExternalContent.ExternalContentTests+Stub2Controller
eb7a7f4d-55b5-4b00-b8b1-59700c076638=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
assembly=1429f302-1a97-47f0-af33-8c45296b6cb1;N2.Tests, Version=1.0.204.38704, Culture=neutral, PublicKeyToken=null
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.LowService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.HighService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.SelfService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingServiceWithMissingDependency
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericSelfService`1
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DependingGenericSelfService`1
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericDependingService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericDependingOnInterfaceService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.InterfacedService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacingService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacedService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.ReplacingReplacedService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.DecoratingService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.OuterService+InnerService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.OuterService2+InnerService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.InternalService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericInterfacedService`1
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Engine.Services.GenericInterfaceDependingService
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Plugin.Scheduling.OnceAction
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Object[N2.Engine.ServiceAttribute];N2.Tests.Plugin.Scheduling.RepeatAction
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Serialization.Items.XmlableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Serialization.Items.XmlableItem2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.CustomItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.ParticularCustomItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.SpecialCustomItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.ComplexContainersItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegritySubPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Extensions.Tests.Linq.LinqItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Runtime.FluentRegistratorTests+FluentItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.SiteProvidingItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Globalization.Items.TranslatedPageWithAuthorization
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Globalization.GlobalizationTests+Trash
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.RestrictsChildWithCardinality
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.ChildWithCardinality
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionAutoCreatedItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionControllingParent
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionFreeItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionMenuItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRightColumnPart
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionNewsList
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTwoColumnPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTextPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionNewsPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionOne
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionOppressedChild
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionPartDefinedItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemovable
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemoves
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRemovesNumber2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionDisabled
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplaced
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionDisablingReplacement
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplacement
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionReplacesNumber1
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionRightColumnTeaser
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionStartPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTextItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionTwo
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionUndefined
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Items.DefinitionWithPersistable
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemInZone1Or2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.InjectableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Details.Models.DecoratedItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Details.Models.OtherItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Details.Models.BaseItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Details.Models.SuperficialItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Static.DescribablePart
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Collections.NonPageItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem1
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityStartPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityAlternativeStartPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Definitions.NonVirtualItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithDetails
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.SubItemWithDetails
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithFieldSet
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Installation.RelativityItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Installation.InheritsRelativityItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistablePart1
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Definitions.PersistableItem1b
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Proxying.InterceptableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Proxying.InterceptableInheritorItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.Proxying.IgnoringItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.ItemWithModification
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.ConventionTemplatePage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.ConventionTemplatePage2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.ItemWithRequiredProperty
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Static.DescribablePage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Content.AnItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Content.AnItemWithProtectedDefaultConstructor
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Security.Items.SecurityPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Security.Items.RemappedPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Globalization.Items.LanguageRoot
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Collections.Items.FirstPart
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityRoot
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemAA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemAAB
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.NotVersionableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.LegacyNotVersionableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.PageItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.MasterDetailsPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.ListDetailsPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.RegexPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithoutZones
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemAAA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.JsonWriterTests+CI
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Workflow.Items.StatefulItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Workflow.Items.UnversionableStatefulItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemAC
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Collections.FirstItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.CustomExtensionPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.CustomExtensionItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Globalization.Items.TrashCan
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.ItemWithNestedContainers
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Engine.Items.ItemAB
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.DataItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Utility.UtilityItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.NormalItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+ParentContentItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+ChildContentItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+BasePage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.DefinitionTests+SpecificPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Collections.SecondItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Integrity.Definitions.IntegrityAlternativePage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.NormalPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Details.Models.EnumableItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Edit.Items.ItemWithSecuredContainer
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.ContentRegistrationTests+EmptyItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Web.Items.OtherCustomItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.NH.PropertyItemType
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Persistence.NH.PropertyItemInheritor1
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.MediumTrust.MediumTrustPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Globalization.Items.TranslatedPage
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.ContentItem;N2.Tests.Definitions.Definitions.SideshowItem
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn3
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.PlugIn1
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.ThrowingPlugin2
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Plugin.IPluginInitializer;N2.Tests.Plugin.ThrowingPlugin1
1429f302-1a97-47f0-af33-8c45296b6cb1=System.Web.Mvc.IController;N2.Tests.Definitions.Runtime.FluentRegistratorTests+FluentItemController
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.OtherCustomController
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.SpecialCustomAdapter
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.CustomZoneController
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterAAA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.PageZoneAdapter
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Web.Items.CustomRequestAdapter
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterAA
1429f302-1a97-47f0-af33-8c45296b6cb1=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];N2.Tests.Engine.Items.AdapterIInterfaced
assembly=b6bee433-78bf-40c6-96aa-077a12185d52;Shouldly, Version=1.1.0.1, Culture=neutral, PublicKeyToken=null
b6bee433-78bf-40c6-96aa-077a12185d52=System.Object[N2.Engine.ServiceAttribute];none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.ContentItem;none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.Plugin.IPluginInitializer;none
b6bee433-78bf-40c6-96aa-077a12185d52=System.Web.Mvc.IController;none
b6bee433-78bf-40c6-96aa-077a12185d52=System.Object[N2.Plugin.IPlugin];none
b6bee433-78bf-40c6-96aa-077a12185d52=N2.Engine.AbstractContentAdapter[N2.Engine.AdaptsAttribute];none
