<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />

		<sectionGroup name="n2" type="N2.Configuration.N2ConfigurationSectionHandler, N2">
			<section name="mediumTrust" type="N2.MediumTrust.Configuration.MediumTrustSectionHandler, N2" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- Some connection string examples
		SQLite:			<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
		SQL Server 2005:	<add name="N2CMS" connectionString="Server=(local);Database=N2_Templates;Integrated Security=SSPI"/>
		SQL Express 2005:	<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:	<add name="N2CMS" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:			<add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		-->
		<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<castle>
		<!-- Required properties -->
		<properties>
			<rootItemID>1</rootItemID>
			<startPageID>2</startPageID>
			<nhSettings>
				<dictionary>
					<entry key="connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
					<entry key="connection.connection_string_name">N2CMS</entry>

					<!-- set use_second_level_cache to true and uncomment this to enable cache -->
					<entry key="cache.use_second_level_cache">true</entry>
					<entry key="cache.use_query_cache">true</entry>
					<entry key="cache.provider_class">NHibernate.Caches.SysCache2.SysCacheProvider,NHibernate.Caches.SysCache2</entry>

					<!-- SQL Server 2005 -->
					<entry key="connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					<entry key="dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
					<!-- SQLite
					  <entry key="connection.driver_class">NHibernate.Driver.SQLite20Driver</entry>
					  <entry key="dialect">NHibernate.Dialect.SQLiteDialect</entry>
					  -->
					<!-- SQL Server 2000 
					  <entry key="connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					  <entry key="dialect">NHibernate.Dialect.MsSql2000Dialect</entry>
					  -->
					<!-- MySQL 
					  <entry key="connection.driver_class">NHibernate.Driver.MySqlDataDriver</entry>
					  <entry key="dialect">NHibernate.Dialect.MySQL5Dialect</entry>
					  -->
				</dictionary>
			</nhSettings>
		</properties>

		<!-- Default configuration -->
		<include uri="assembly://N2/Engine/n2.configuration.xml"/>

		<!-- Changed configuration of the services goes here -->
		<components>
			<component id="n2.defaultSite">
				<parameters>
					<rootItemID>#{rootItemID}</rootItemID>
					<startPageID>#{startPageID}</startPageID>
				</parameters>
			</component>
		</components>
	</castle>

	<n2>
		<mediumTrust rootItemID="1" startPageID="2">
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Templates.UI"/>
				<add assembly="Demo"/>
				<add assembly="N2.Edit"/>
				<add assembly="N2.Security"/>
				<add assembly="N2.Templates.Advertisement"/>
				<add assembly="N2.Templates.Calendar"/>
				<add assembly="N2.Templates"/>
				<add assembly="N2.Templates.Faq"/>
				<add assembly="N2.Templates.Form"/>
				<add assembly="N2.Templates.ImageGallery"/>
				<add assembly="N2.Templates.News"/>
				<add assembly="N2.Templates.Poll"/>
				<add assembly="N2.Templates.RSS"/>
				<add assembly="N2.Templates.Scrum"/>
				<add assembly="N2.Templates.Search"/>
				<add assembly="N2.Templates.SEO"/>
				<add assembly="N2.Templates.Survey"/>
				<add assembly="N2.Templates.Syndication"/>
			</assemblies>
			<nhProperties>
				<add key="connection.connection_string_name" value="N2CMS"/>
				<add key="cache.use_query_cache" value="false"/>
				<add key="cache.use_second_level_cache" value="false"/>
				<add key="cache.provider_class" value="NHibernate.Caches.SysCache2.SysCacheProvider,NHibernate.Caches.SysCache2"/>
				<add key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
				<add key="use_reflection_optimizer" value="false"/>
				<add key="dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
				<add key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
			</nhProperties>
		</mediumTrust>
	</n2>

	<system.web>
		<!--<globalization uiCulture="nl-NL" culture="nl-NL" />-->
		<!--<globalization uiCulture="it-IT" culture="it-IT" />-->
		<!--<trust level="Medium"/>-->

		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>
			</controls>
		</pages>

		<httpModules>
			<add name="n2.installer" type="N2.Installation.InstallerModule, N2"/>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
			<!--<add name="n2.mediumTrustInitializer" type="N2.MediumTrust.Web.InitializerModule, N2"/>-->
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="Off"/>

		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear/>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear/>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security" />
			</providers>
		</roleManager>
	</system.web>

	<appSettings>
		<add key="Corporate.MenuHandoverLevel" value="3" />
		<add key="n2cms.com.MenuHandoverLevel" value="3" />
	</appSettings>
</configuration>