<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <connectionStrings>
		<clear/>
		<!-- Some connection string examples
		SQLite:				    <add name="LocalSqlServer" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
		SQL Server 2005:	<add name="LocalSqlServer" connectionString="Server=(local);Database=n2blog;Integrated Security=SSPI"/>
		SQL Express 2005:	<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:	<add name="LocalSqlServer" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:				    <add name="LocalSqlServer" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		-->
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

  <castle>
    <!-- Required properties -->
    <properties>
      <rootItemID>1</rootItemID>
      <startPageID>3</startPageID>
      <nhSettings>
        <dictionary>
          <entry key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
          <entry key="hibernate.connection.connection_string_name">LocalSqlServer</entry>

          <entry key="hibernate.cache.use_second_level_cache">true</entry>
          <entry key="hibernate.cache.use_query_cache">true</entry>
          <entry key="hibernate.cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</entry>
          <!-- set use_second_level_cache to true and uncomment this to enable cache
          -->

          <!-- SQL Server 2005 -->
          <entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
          <entry key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
          <!-- SQLite
		      <entry key="hibernate.connection.driver_class">NHibernate.Driver.SQLite20Driver</entry>
		      <entry key="hibernate.dialect">NHibernate.Dialect.SQLiteDialect</entry>
		      -->
          <!-- SQL Server 2000 
		      <entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
		      <entry key="hibernate.dialect">NHibernate.Dialect.MsSql2000Dialect</entry>
		      -->
          <!-- MySQL 
		      <entry key="hibernate.connection.driver_class">NHibernate.Driver.MySqlDataDriver</entry>
		      <entry key="hibernate.dialect">NHibernate.Dialect.MySQL5Dialect</entry>
		      -->
        </dictionary>
      </nhSettings>
    </properties>

    <!-- Default configuration -->
    <include uri="assembly://N2/Engine/n2.configuration.xml"/>

    <!-- Configuration of the services goes here, e.g. -->

    <components>
      <component id="n2.defaultSite">
        <parameters>
          <rootItemID>#{rootItemID}</rootItemID>
          <startPageID>#{startPageID}</startPageID>
        </parameters>
      </component>
    </components>
  </castle>

	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>
			</controls>
		</pages>

		<!-- Normally you don't need these http modules, they are only needed if your global.asax doesn't inherit from N2.Web.Global.
		-->
		<httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule,N2"/>
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
				<add name="EditSiteMap" type="N2.Edit.Web.EditSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
				<add name="FileSiteMap" type="N2.Edit.Web.FileSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="Off"/>

    <membership defaultProvider="TemplateMembershipProvider">
      <providers>
        <clear/>
        <add name="TemplateMembershipProvider" type="N2.Templates.Security.TemplateMembershipProvider, N2.Templates.Security" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="TemplateRoleProvider">
      <providers>
        <clear/>
        <add name="TemplateRoleProvider" type="N2.Templates.Security.TemplateRoleProvider, N2.Templates.Security" />
      </providers>
    </roleManager>
	</system.web>

	<appSettings>
	</appSettings>
</configuration>