@{
	Content.PrependDefinition(re => 
	{
		re.Container(Dinamico.Defaults.Containers.Metadata, e =>
		{
			e.Name();
		});
	});
}
@Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()
@{ Content.Register.Summary("Summary", source: "Text"); }
<span class="updated">@Content.Register.PublishedRange().Container("Advanced").Display()</span>
<div class="entry-content">
	@Content.Display.Text
</div>
<span class="author">@Content.CurrentItem.SavedBy</span>