@{using (Html.BeginForm("Search", null, new { id = "search", item = Content.Traverse.StartPage }, FormMethod.Get, new { id = "searchform", @class = "navbar-form" }))
  {
	<input name="q" placeholder="@Content.Translate["Search"]" class="form-control" style="width:120px;"/>
	<button type="submit" class="btn"><b class="glyphicon glyphicon-search"></b></button>
  }
}

<ul class="dropdown-menu">
	<li class='loading' style="display:none">@Content.Translate["Searching..."]</li>
</ul>
