@*@Html.ActionLink(Content.Translate.Text("Site map"), Content.Traverse.StartPage, "SiteMap", null, new { id = "sitemapopener", @class = "sitemap-toggle", dataToggle = "dropdown" })*@

<a id="sitemapopener" href="@Url.Action(Content.Traverse.StartPage, "SiteMap")" class="dropdown-toggle" data-toggle="dropdown">
	@Content.Translate["Site map"]
	<b class="caret"></b>
</a>
<ul class="dropdown-menu">
	<li class='loading'>@Content.Translate["Loading..."]</li>
</ul>