@{
	int level = 1;
	foreach (var a in Content.Traverse.AncestorsBetween(level, 2)){
		level++;
		@Html.UnorderedList(Content.Traverse.NavigatableChildPages(a), @<span>@Html.Link(item.Data)</span>, className: "submenu menu clearfix level" + level);
	}
}