@using N2.Edit
@{
	var ancestors = Content.Traverse.AncestorsBetween(1, 2).ToList();
	var allAncestors = new HashSet<N2.ContentItem>(Content.Traverse.Ancestors());
}
@foreach(var ancestor in ancestors)
{
	<ul class="nav nav-pills level@(Content.Traverse.LevelOf(ancestor))">
	@foreach(var child in Content.Traverse.NavigatableChildPages(ancestor).TryAppendCreatorNode(Html.ContentEngine(), ancestor))
	{
		<li class="@(allAncestors.Contains(child) ? "active" : "")">
			@Html.Link(child)
		</li>
	}
	</ul>
}