<ul>
<li>@{ Html.RenderPartial("LayoutPartials/LogOn"); }</li>
<li>@{ Html.RenderPartial("LayoutPartials/SiteMap"); }</li>
<li>@{ Html.RenderPartial("LayoutPartials/Translations"); }</li>
<li>@{ Html.RenderPartial("LayoutPartials/Search"); }</li>
</ul>