@{
	var start = Content.Traverse.StartPage;
	var current = Content.CurrentPage;
	if(current == null)
	{
		Content.BeginScope(Request["returnUrl"]);
		current = Content.CurrentItem;
		start = Content.Traverse.StartPage;
	}
}
<ul id="menu" class="topmenu menu level1">
	<li>@Content.LinkTo(start).Class(current == start ? "current" : "")</li>@Content.TreeFrom(start, takeLevels: 2, rootless: true)
</ul>