@{ if(Content.Current.Language != null)
{
	<a id="translationsopener" href="@Url.Action("Translations", new { item = Content.Traverse.StartPage, id = Content.Current.Page.ID })">
		<span class="@Content.Current.LanguageCode.Split('-').LastOrDefault() sprite"></span>
		@Content.Current.Language.LanguageTitle.Split('(')[0]
	</a>
}
}
