@import "../../Default/Content/Layout.css";

	div#wrapper { width:auto; margin:0; }
		div#top { position:relative; padding:5px; }
			div#top ul { float:left; margin-left:50%; }
			div#top ul li { }
		div#header { width:auto; margin:0; padding-top:30px; }
			div#nav { width:960px; margin:0 auto; }
				div#nav ul li { vertical-align:top; }
				div#nav ul.topmenu li.home a { position:static; padding:10px; min-height:32px; }
			div#main { width:960px; margin:0 auto; }
		div#page { padding-top:30px; }
			div#footer div.inner { width:960px; margin:0 auto; }