@import "../../Default/Content/Mood.css";

#content h1 { color:#656565; }

html { background:#666; font-family:Arial, Sans-Serif; }
	div#top { box-shadow:#444 0 10px 20px -5px inset; background-color:transparent; margin-top:3px; }
		div#top a { color:#fff; }
		div#header { background-color:#fff; }
	div#nav { box-shadow: #999 0 1px 10px -1px; border-radius: 5px; }
		div#nav ul.topmenu { margin-bottom:0; border-radius: 5px; background:#f27d00; box-shadow:#ff8d07 0 25px 25px 0 inset; border:solid 1px #f27d00; border-bottom-style:none; }
			div#nav ul.topmenu a { height:22px; padding:15px; color:#fff; border-radius: 3px 3px 0 0; border-left:solid 1px #f27d00; height }
			div#nav ul.topmenu li.logo a { border-left:none; }
			div#nav ul.topmenu a.expanded { background-color:#fff; color:#000; border-left:none; }
		div#nav ul.submenu { background-color:#fff; border-top:none; border:solid 1px #ccc; border-top-style:none; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;}
			div#nav ul.menu li a { background-color: transparent; }
			div#nav ul.menu li a.expanded { color:#000; }
	div#page { background:#fff; margin-top:-1px; }
		div#main {}
	div#footer { background:transparent; box-shadow:#444 0 15px 30px -15px inset; padding-bottom:100px; }
	

/* elements */

.dropmenu {
	border-bottom-left-radius: 2px 2px; border-bottom-right-radius: 2px 2px;
}
.slider
{
	box-shadow: #999 0 1px 10px -1px; 
}
.slider, .slider .panel, img.main, .contentlink a.img img
{
	box-shadow: #999 0 1px 10px -1px; 
	border-radius: 5px;
}
.contentlink a.img img
{
	border-radius: 3px; 
}
.slider .wideSize a.img img
{
	border-radius: 5px; 
}
.halfSize a.img
{
	padding-bottom:10px;
	display:inline-block;
}