/* styles specific to features */

#searchform {}
	#searchform input { display:inline-block; width:100px; height:16px; border:none; vertical-align:middle; color:#999; border:solid 1px #eee; }
	#searchform input:focus { color:#333; border-color:#ccc; }
	#searchform button { cursor:pointer; display:inline-block; width:20px; height:20px; padding:0; right:0; background:transparent url(/N2/Resources/icons/zoom.png) no-repeat 50% 50%; border:none; vertical-align:middle; }

div.contentlink a { text-decoration:none; color:#666 }
div.contentlink a:hover { text-decoration:none; }
div.contentlink.thumbSize a.img,
div.contentlink.cubeSize a.img  { float:left; margin-right:10px; }
div.contentlink h3 { display:inline; margin-right:10px; }
div.contentlink:hover { background-color:#F0F8FF; outline: solid 1px #09F; }

div.gmap > div
{
	height:450px;
	text-align:center;
}
div.column1 div.gmap > div,
div.column2 div.gmap > div
{
	height:300px;
}

.freeform table td
{
	padding: 0 10px 10px 0;
}