/* SIZE AND LAYOUT OF THE PAGE */

/*html,body { min-height:100%; }
	div#wrapper { position:relative; width:960px; margin:0 auto; }
		div#top { position:absolute; right:0; padding:5px; z-index:10 }
			div#top ul { float:right; list-style-type:none; margin-left:0; }
				div#top ul li { float:left;  margin:0 5px; }
		div#header { padding-top:100px; position:relative; }
			div#header a.logotype { position:absolute; top: 10px; left:20px; }
				div#header a.logotype img { height:80px; }
			div#nav {}
				div#nav ul { list-style-type:none; padding:0; margin:0; margin-bottom:1px; }
				div#nav a { text-decoration:none; }
				div#nav a:hover { text-decoration:underline; }
				div#nav li a.trail { font-weight:bold; }
				div#nav li a.current { font-weight:bold; color:#000; }
					div#nav ul li { float:left; }
					div#nav ul li a { display:block; padding:10px 20px; }
		div#page { }
			div#main { }
				div#content { margin: 0 20px 0 20px; padding:20px 0 20px 0; }
					.columns {}
						.columns .column { margin:0; float:left; }
				div#aside { width:300px; float:right; }
					div#aside .part { margin-top:20px; }
		div#footer { padding:20px; }*/

/* layout parts */
	/*#content .part { margin-bottom:20px; }
	.columns .column { margin-left:20px; width:450px; float:left; }
		.columns .column .part { margin-left:0; margin-right:0; }
	.threecolumns .column { width:290px; }
		.threecolumns .column .half { width:100%; }*/