@import "bootstrap/bootstrap.min.css";
@import "Layout.css";

ul.nav li a.logotype {
	padding:0;
}
	ul.nav li a.logotype img {
		height:50px;
		width:auto;
	}

#main > img { margin: 0 15px; }

.contentlink .img {
	float:left;
	margin:20px 10px 10px 0;
}

.carousel .contentlink .img {
	margin:0;
}

td {
	vertical-align:top;
}

/*
@import "Elements.css";
@import "Features.css";
@import "Mood.css";
*/