<?xml version="1.0"?>
<!--
Do not update these settings here while the application is running.  
Instead, browse to the DocSiteAdmin.aspx page to update them.

If you do make changes to this file then you must manually restart 
the application; otherwise, the changes you make will not be loaded 
and you will not be able to use the DocSiteAdmin.aspx page again 
until the application is restarted.  This can be done easily by 
just saving the "web.config" file, even without making any changes.

Beware that if you're using the in-memory search index provider and
you restart the application the entire index will be lost until the
next request forces it to be regenerated again.
-->
<settings>
  <docSiteFramePath>~/Default.aspx</docSiteFramePath>
  <compiledHelpFilePath>~/Help/bin/N2.DocSite.chm</compiledHelpFilePath>
  <helpFileNotFoundPath>~/HelpFileNotFound.aspx</helpFileNotFoundPath>
  <fileNotFoundPath>~/FileNotFound.htm</fileNotFoundPath>
  <docSiteIndexXmlSource>~/App_Data/DocSiteIndex.xml</docSiteIndexXmlSource>
  <docSiteContentsXmlSource>~/App_Data/DocSiteContents.xml</docSiteContentsXmlSource>
  <sidebarHandlePersisted>True</sidebarHandlePersisted>
  <letterBar>abcdefghijklmnopqrstuvwxyz</letterBar>
  <browseIndexEnabled>True</browseIndexEnabled>
  <createIndexRefreshTimeout>1200</createIndexRefreshTimeout>
  <searchEnabled>True</searchEnabled>
  <searchPath>~/Help/Html</searchPath>
  <searchMinimumKeywordLength>2</searchMinimumKeywordLength>
  <searchExcludedKeywords>an, and, as, at, be, but, by, do, for, from, have, he, if, in, is, it, not, of, on, or, she, that, the, there, they, this, to, we, which, with, you</searchExcludedKeywords>
  <searchHotTitleKeywords>class, constructor, delegate, enumeration, event, events, field, fields, generic, interface, members, method, methods, namespace, properties, property, static, structure</searchHotTitleKeywords>
  <searchEarlyKeywordWeightFactor>10</searchEarlyKeywordWeightFactor>
  <searchTitleKeywordWeightFactor>1.2</searchTitleKeywordWeightFactor>
  <searchExactTitleHotKeywordMatchRank>250</searchExactTitleHotKeywordMatchRank>
  <searchPartialTitleHotKeywordMatchRank>100</searchPartialTitleHotKeywordMatchRank>
  <searchExactTitleKeywordMatchRank>50</searchExactTitleKeywordMatchRank>
  <searchPartialTitleKeywordMatchRank>20</searchPartialTitleKeywordMatchRank>
</settings>