<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add name="TestConnection" connectionString="data source=:memory:" providerName="System.Data.SQLite" />
	</connectionStrings>

	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<host rootID="1" startPageID="1">
			<web isWeb="false" />
		</host>
		<engine>
			<assemblies>
				<add assembly="N2" />
				<add assembly="N2.Management" />
				<add assembly="N2.Tests" />
				<add assembly="N2.Management.Tests" />
			</assemblies>
			<components>
				<add service="N2.Persistence.NH.ISessionProvider, N2" implementation="N2.Tests.Fakes.FakeSessionProvider, N2.Tests" />
				<!--<add service="N2.Edit.FileSystem.IFileSystem, N2" implementation="N2.Edit.FileSystem.NH.DatabaseFileSystem, N2" />-->
				<add service="N2.Edit.FileSystem.IFileSystem, N2" implementation="N2.Tests.Fakes.FakeMappedFileSystem, N2.Tests" />
			</components>
			<definitions defineUnattributedTypes="true" />
		</engine>
		<database connectionStringName="TestConnection" caching="false">
			<hibernateProperties>
				<add name="connection.release_mode" value="on_close" />
				<add name="generate_statistics" value="true" />
				<add name="show_sql" value="false" />
			</hibernateProperties>
			<search asyncIndexing="false" />
			<files storageLocation="Database" />
		</database>
		<edit>
			<installer checkInstallationStatus="true" />
		</edit>
	</n2>

	<log4net>

		<!-- Define some output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>

		</appender>

		<root>
			<!-- priority value can be set to ALL|INFO|WARN|ERROR -->
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.96.0" newVersion="1.0.96.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
