@model Dinamico.Models.DynamicPage

@{
	Content.Define(re => 
	{
		re.Container("Content", e =>
		{
			e.FreeTextArea("Text");
			e.FreeTextArea("Text 2");
		});
		re.Title = "Howdy page";
	});
}

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>