@model Dinamico.Models.DynamicPage

@{
	Content.Define(re => 
	{
		re.Container("Content", e => e.FreeTextArea("Text"));
		re.Title = "Howdy page";
	});
}

@{
    ViewBag.Title = Model.Title;
}

<h2>@Model.Title</h2>

