<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.defaultSite"        type="N2.Web.Site, N2"/>
		<component id="n2.webContext"         service="N2.Web.IWebContext, N2" type="N2.Web.RequestContext, N2"/>
		<component id="n2.urlParser"          service="N2.Web.IUrlParser, N2" type="N2.Web.UrlParser, N2"/>
		<component id="n2.urlRewriter"        service="N2.Web.IUrlRewriter, N2" type="N2.Web.UrlRewriter, N2" />
		<component id="n2.requestHandler"     service="N2.Web.IRequestLifeCycleHandler, N2" type="N2.Web.RequestLifeCycleHandler, N2" />
		<component id="n2.ajaxRequestDispatcher" type="N2.Web.AjaxRequestDispatcher, N2" />
	</components>
</castle>