<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.webContext"			service="N2.Web.IWebContext, N2"		type="N2.Web.AdaptiveContext, N2"/>
		<component id="n2.host"					service="N2.Web.IHost, N2"				type="N2.Web.Host, N2" />
		<component id="n2.sitesProvider"		service="N2.Web.ISitesProvider, N2"		type="N2.Web.DynamicSitesProvider, N2" />
		<component id="n2.htmlFilter"													type="N2.Web.HtmlFilter, N2"/>
		<component id="n2.requestDispatcher"	service="N2.Web.IRequestDispatcher, N2"	type="N2.Web.RequestDispatcher, N2" />
		<component id="n2.requestHandler"		service="N2.Web.IRequestLifeCycleHandler, N2"	type="N2.Web.RequestLifeCycleHandler, N2" />
		<component id="n2.errorHandler"			service="N2.Web.IErrorHandler, N2"		type="N2.Web.ErrorHandler, N2" />
		<component id="n2.ajaxRequestDispatcher"										type="N2.Web.AjaxRequestDispatcher, N2" />
		<component id="n2.cacheManager"			service="N2.Web.UI.ICacheManager, N2"	type="N2.Web.UI.CacheManager, N2"/>
  </components>
  <include uri="assembly://N2/Web/Parts/parts.castle.config"/>
</castle>