<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<facilities>
		<facility id="starter" type="Castle.Facilities.Startable.StartableFacility, Castle.MicroKernel" />
	</facilities>
	<components>
		<component id="n2.typeFinder"         service="N2.Engine.ITypeFinder, N2" type="N2.Engine.WebAppTypeFinder, N2"/>
		<component id="n2.pluginInitializer"  service="N2.Plugin.IPluginInitializerInvoker, N2"  type="N2.Plugin.PluginInitializerInvoker, N2"/>
	</components>
</castle>