<?xml version="1.0"?>
<configuration>
	<system.web>
    <pages enableViewState="true" validateRequest="false" 
					 masterPageFile="" theme="" styleSheetTheme=""
					 pageBaseType="System.Web.UI.Page" userControlBaseType="System.Web.UI.UserControl">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<authorization>
			<allow users="Admin" roles="Administrators,Editors,Writers"/>
			<deny users="*"/>
		</authorization>

		<customErrors defaultRedirect="installation/diagnose.aspx" mode="Off"/>
	</system.web>

	<location path="Installation">
		<system.web>
			<authorization>
				<allow users="Admin" roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<!-- Please remove this location directive and the Installation sub-directory once the installation is done -->
	<location path="Installation/Begin">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Files/FileSystem/UploadFile.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Resources">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Users">
		<system.web>
			<authorization>
				<allow users="Admin" roles="Administrators" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>