<?xml version="1.0"?>
<configuration>
	<system.web>
    <pages enableViewState="true" validateRequest="false" 
					 masterPageFile="" theme="" styleSheetTheme=""
					 pageBaseType="System.Web.UI.Page" userControlBaseType="System.Web.UI.UserControl">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<authorization>
			<allow users="Admin" roles="Administrators,Editors,Writers"/>
			<deny users="*"/>
		</authorization>

		<customErrors defaultRedirect="installation/diagnose.aspx" mode="Off"/>

		<!--<httpHandlers>
			<add verb="*" path="*.js" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.css" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.gif" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.png" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.jpg" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.htm" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.html" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			<add verb="*" path="*.swf" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
		</httpHandlers>-->
	</system.web>

	<!--<system.webServer>
			<handlers>
				<add name="vpp.js" verb="*" path="*.js" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.css" verb="*" path="*.css" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.gif" verb="*" path="*.gif" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.png" verb="*" path="*.png" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.jpg" verb="*" path="*.jpg" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.htm" verb="*" path="*.htm" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.html" verb="*" path="*.html" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.swf" verb="*" path="*.swf" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			</handlers>
		</system.webServer>-->

	<location path="Installation">
		<system.web>
			<authorization>
				<allow users="Admin" roles="Administrators"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
	<!-- Please remove this location directive and the Installation sub-directory once the installation is done -->
	<location path="Installation/Begin">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Files/FileSystem/UploadFile.ashx">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Resources">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

	<location path="Users">
		<system.web>
			<authorization>
				<allow users="Admin" roles="Administrators" />
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	
</configuration>