<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="n2.exporter"           service="N2.Serialization.Exporter, N2" type="N2.Serialization.GZipExporter, N2" />
    <component id="n2.itemXmlWriter"      type="N2.Serialization.ItemXmlWriter, N2">
      <parameters>
        <writers>
          <array>
            <item>${n2.detailXmlWriter}</item>
            <item>${n2.detailCollectionXmlWriter}</item>
            <item>${n2.childXmlWriter}</item>
            <item>${n2.authorizationXmlWriter}</item>
            <item>${n2.attachmentXmlWriter}</item>
          </array>
        </writers>
      </parameters>
    </component>
    <component id="n2.detailXmlWriter"            service="N2.Serialization.IXmlWriter, N2" type="N2.Serialization.DetailXmlWriter, N2" />
    <component id="n2.detailCollectionXmlWriter"  service="N2.Serialization.IXmlWriter, N2" type="N2.Serialization.DetailCollectionXmlWriter, N2" />
    <component id="n2.childXmlWriter"             service="N2.Serialization.IXmlWriter, N2" type="N2.Serialization.ChildXmlWriter, N2" />
    <component id="n2.authorizationXmlWriter"     service="N2.Serialization.IXmlWriter, N2" type="N2.Serialization.AuthorizationXmlWriter, N2" />
    <component id="n2.attachmentXmlWriter"        service="N2.Serialization.IXmlWriter, N2" type="N2.Serialization.AttachmentXmlWriter, N2" />

    <component id="n2.importer"           service="N2.Serialization.Importer, N2" type="N2.Serialization.GZipImporter, N2" />
    <component id="n2.itemXmlReader"      type="N2.Serialization.ItemXmlReader, N2">
      <parameters>
        <readers>
          <dictionary>
            <entry key="details">${n2.detailXmlReader}</entry>
            <entry key="detailCollections">${n2.detailCollectionXmlReader}</entry>
            <entry key="authorizations">${n2.authorizationXmlReader}</entry>
            <entry key="attachments">${n2.attachmentXmlReader}</entry>
          </dictionary>
        </readers>
      </parameters>
    </component>
    <component id="n2.detailXmlReader"            service="N2.Serialization.IXmlReader, N2" type="N2.Serialization.DetailXmlReader, N2" />
    <component id="n2.detailCollectionXmlReader"  service="N2.Serialization.IXmlReader, N2" type="N2.Serialization.DetailCollectionXmlReader, N2" />
    <component id="n2.authorizationXmlReader"     service="N2.Serialization.IXmlReader, N2" type="N2.Serialization.AuthorizationXmlReader, N2" />
    <component id="n2.attachmentXmlReader"        service="N2.Serialization.IXmlReader, N2" type="N2.Serialization.AttachmentXmlReader, N2" />

  </components>
</castle>