@using (Content.BeginScope(Request["returnUrl"], Content.Current.Page == null))
{
	var start = Content.Traverse.StartPage;
	var current = Content.Current.Page;
<ul id="menu" class="topmenu menu level1">
	<li class="home">@Html.ActionLink(Content.Traverse.StartPage)</li>
	@Content.TreeFrom(start, takeLevels: 3, rootless: true)
</ul>
}