@using N2.Web.Mvc.Html;
@using System.Web.Mvc;

@helper TopNavigation(){
	var Content = ((WebViewPage)PageContext.Page).Html.Content();
<ul id="menu" class="topmenu menu level1">
	<li>@Content.LinkTo(Content.Traverse.StartPage).Class(Content.CurrentPage == Content.Traverse.StartPage ? "current" : "")</li>@Content.TreeFrom(Content.Traverse.StartPage, takeLevels: 2, rootless: true)
</ul>
}

@helper SubNavigation(int skipLevels, int takeLevels){
	var Content = ((WebViewPage)PageContext.Page).Html.Content();
	foreach (var a in Content.Traverse.AncestorsBetween(skipLevels, takeLevels)){
		if (Content.Traverse.Children(a).Any()){
<ul class="submenu menu @("level" + Content.Traverse.LevelOf(a))">
			@foreach (var c in Content.Traverse.Children(a)){
	<li>@Content.LinkTo(c)</li>
			}
</ul>
		}
	}
}