<?xml version="1.0"?>
<configuration>
  <!-- It's not necessary to upload the Presentation and Comments folders to the web server, 
       but if you do then this configuration file will prevent anonymous users from downloading 
       the content, although anyone with a valid user name and password can while users="?" is used.
  -->
  <location path="Presentation">
    <system.web>
      <authorization>
        <!-- use * instead of ? to deny all users, not just anonymous users -->
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <location path="Comments">
    <system.web>
      <authorization>
        <!-- use * instead of ? to deny all users, not just anonymous users -->
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>
