<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" restartOnExternalChanges="true"/>
		</sectionGroup>
	</configSections>

	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<!-- If you install a database from scratch you'll need to insert some required pages. 
			This can be done by the web based installer located at http://yoursite/n2/installation/ -->
		<host rootID="1" startPageID="2">
			<web extension="" />
			<!--<resources debug="true"/>
			<vpp>
				<zips>
					<add name="n2.management" virtualPath="~/N2/N2.zip"/>
				</zips>
			</vpp>-->
		</host>
		<engine>
			<assemblies>
				<!-- These assembly declarations are necessary in MEDIUM TRUST -->
				<add assembly="Dinamico"/>
			</assemblies>
			<!-- Update email to receive error reports -->
			<errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
			<!-- Globalization requires you to create additional start pages with a language -->
			<globalization enabled="true" />
		</engine>
		<!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite, SqlCe, Firebird -->
		<database connectionStringName="N2CMS" flavour="AutoDetect" caching="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2">
		</database>
		<edit>
			<!-- Set checkInstallationStatus to false to disable redirect to install page -->
			<installer checkInstallationStatus="true" />
			<writers dynamic="true"/>
			<editors dynamic="true"/>
			<administrators dynamic="true"/>
			<images>
				<sizes>
					<add name="thumb" width="60" height="40" mode="Fill"/>
					<add name="wide" width="960" height="480" mode="Fill" />
				</sizes>
			</images>
		</edit>
	</n2>
	
  <connectionStrings>
		<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />
		<add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="ClientValidationEnabled" value="true"/> 
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/> 
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>

    <authentication mode="Forms">
			<forms loginUrl="~/n2/login.aspx" timeout="2880">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password. Please do it now. -->
					<user name="admin" password="changeme" />
				</credentials>
			</forms>
    </authentication>

		<!-- These membership and role providers store their data as content items. You can also use the forms authentication 
				 credentials only (then remove these sections) or the default ASP.NET providers (search for asp.net membership) -->
		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
			</providers>
		</roleManager>
		<profile defaultProvider="ContentProfileProvider">
			<providers>
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
			</providers>
		</profile>

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages"/>
      </namespaces>
    </pages>
		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>
		<httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules>
		<handlers>
			<add name="n2.ajax" path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

	<location path="N2">
		<system.web>
			<httpRuntime requestValidationMode="2.0" />
		</system.web>
		<system.webServer>
			<handlers>
				<add name="vpp.js" verb="*" path="*.js" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.css" verb="*" path="*.css" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.gif" verb="*" path="*.gif" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.png" verb="*" path="*.png" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.jpg" verb="*" path="*.jpg" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.htm" verb="*" path="*.htm" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.html" verb="*" path="*.html" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
				<add name="vpp.swf" verb="*" path="*.swf" type="N2.Web.Hosting.VirtualPathFileHandler, N2"/>
			</handlers>
		</system.webServer>
	</location>
</configuration>
