@import "../../Default/Content/Layout.css";
		div#header { padding-top: 50px; }
			div#header a.logotype { top: 20px; }
				div#header a.logotype img { height:80px; }
		div#nav { float:right; margin-bottom:20px; }
		div#nav > ul > li,
		div#nav > ul > li > a { position:relative; border-radius: 5px 5px; }
		div#nav > ul > li:hover { border: solid 1px #E9F3F8; background-color:#E9F3F8; margin:-1px; box-shadow: #333 0 3px 5px -3px;}
			div#nav ul li		ul { display:none; position:absolute; z-index:1000; border-bottom-left-radius: 5px 5px; border-bottom-right-radius: 5px 5px; border: solid 1px #E9F3F8; border-top:none; outline-top:none; background-color:#E9F3F8; margin:0 -1px; padding-bottom:10px; box-shadow: #333 0 3px 5px -3px; min-width:100%; }
			div#nav ul li:hover ul { display:block; }
				div#nav ul li ul li { float:none; display:block; font-size:.75em; border-top:solid 1px #AFC7D7; }
				div#nav ul li ul li a { padding:5px 15px; }