.calendarTeaser
{
	overflow:hidden;
}

.calendarTeaser td td,
.calendarTeaser th
{
	padding:1px;
	text-align:center;
}
.calendarTeaser th
{
	font-size:.6em;
	font-weight:normal;
}
.calendarTeaser .otherMonth a
{
	opacity:.25;
}
.calendarTeaser .selectedDay a
{
	font-weight:bold;
}
table.calendar
{
    margin:0 auto;
}
.calendarTeaser .calendar a
{
	display:block;
	padding:2px;
	text-align:center;
}