@{
	ViewBag.Title = "404 Not Found";
}

<h2>404 Not Found</h2>
<p>The resource you were looking for is no longer here.</p>
<ul>
<li>@Content.LinkTo(Content.StartPage)</li>
@Content.TreeFrom(Content.StartPage, rootless: true)
</ul>