<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

	<connectionStrings>
		<clear/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<!-- This is an example of a connection string for local sql database using windows authentication
		<add name="LocalSqlServer" connectionString="Server=(local);Database=N2;Integrated Security=SSPI"/>
		-->
	</connectionStrings>

  <castle>
    <properties>
      <rootItemID>1</rootItemID>
      <nhSettings>
        <dictionary>
          <entry key="connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
          <entry key="connection.connection_string_name">LocalSqlServer</entry>

          <entry key="cache.use_second_level_cache">false</entry>
          <entry key="connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
          <entry key="dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
        </dictionary>
      </nhSettings>
    </properties>

    <include uri="assembly://N2/Engine/n2.configuration.xml"/>

    <!-- Configuration goes here -->
  </castle>

	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<httpModules>
			<add name="n2initializer" type="N2.Web.InitializerModule,N2"/>
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>
		
		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin" />
				</credentials>
			</forms>
		</authentication>
	</system.web>

	<appSettings>
	</appSettings>
</configuration>
