<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
    <component id="n2.pluginFinder" service="N2.Plugin.IPluginFinder, N2" type="N2.Plugin.PluginFinder, N2"/>
    <component id="n2.heart" service="N2.Plugin.Scheduling.IHeart, N2" type="N2.Plugin.Scheduling.Heart, N2"/>
    <component id="n2.scheduler" type="N2.Plugin.Scheduling.Scheduler, N2"/>
  </components>
</castle>