#top{
	background:#666 url(toolbar_bg.gif) repeat-x bottom left;
	height:50px;
}
#top .logo{
	right:15px;
	top:15px;
	left:auto;
}
#top #searchbar{
	right:80px;
	top:10px;
}
#top #searchbar a{
	float:left;
}
#top #searchbar a img{
	display:inline;
	float:left;
}
#top #searchbar #logout{
	position:absolute;
}
#top #searchbar #settings{
	display:none;
}
#top #searchbar #search{
	display:none;
}

/* toolbar */
#top #toolbar{
	bottom:0;
	padding-left:25px;
}
#toolbar #sortUp{
	left:0;
	position:absolute;
	background:#FFF url(toolarea_bg.gif) repeat-x scroll 100% 100%;
}
#toolbar #sortUp .sort.command {
	padding:15px 6px 6px 6px;
}
#toolbar #sortUp.hover .sort.command {
	background-image:none;
}
#toolbar .navigation,#toolbar .operations,#toolbar.preview {
	width:auto;
	margin-right:0;
}
#top .toolbar .hover, .toolbar .selected {
	background-image:url(toolitem_hover.gif);
}
#top .toolbar .item {
	background:transparent url(toolitem_separator.gif) no-repeat scroll 100% 100%;
	cursor:pointer;
	float:left;
	height:50px;
	width:auto;
}
#top .toolbar .item span {
	display:none;
}
#top .toolbar .command img {
	position:relative;
	display:inline;
	clear:none;
	margin:0;
	top:-2px;
}
#top .toolbar .hover .command,
#top .toolbar .selected .command {
	background:transparent url(toolitem_hover.gif) no-repeat scroll 0 100%;
	position:relative;
}
#top .toolbar .command {
	background: none;
	display:block;
	float:left;
	height:25px;
	margin:0;
	padding:19px 0 6px 0;
	width:35px;
}
#top .toolbar a {
	outline-style:none;
}
.toolbar .area {
	background:#FFF url(toolarea_bg.gif) repeat-x scroll 100% 100%;
	float:left;
	height:50px;
	margin-top:10px;
	padding:0;
	overflow:hidden;
	padding-left:10px;
}
.toolbar .area:last-child .right {
	background-image:url(toolarea_end.gif);
}
.toolbar .right {
	background:transparent url(toolarea_separator.gif) no-repeat scroll 100% 100%;
	float:left;
	height:50px;
	padding-right:20px;
}