<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
      <section name="installer" type="N2.Configuration.InstallerSection, N2" requirePermission="false" />
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
      <section name="globalization" type="N2.Configuration.GlobalizationSection, N2" requirePermission="false" />
    </sectionGroup>
  </configSections>

	<connectionStrings>
		<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<!-- This is an example of a connection string for local sql database using windows authentication
		<add name="N2CMS" connectionString="Server=(local);Database=N2;Integrated Security=SSPI"/>
		-->
	</connectionStrings>

  <n2>
    <!-- If you install a database from scrach you'll need to insert some required pages. This can be done by the web based installer located at http://yoursite/install/edit -->
    <host rootID="1" startPageID="1" />
    <engine/>
    <!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite -->
    <database connectionStringName="N2CMS" flavour="SqlServer2005" />
    <installer checkInstallationStatus="true" />
    <edit />
  </n2>

  <system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="changeme" />
				</credentials>
			</forms>
		</authentication>

    <!-- These membership and role providers store their data as content items. You can also use the forms authentication credentials only (remove these sections) or the default ASP.NET providers (check your ASP.NET documentation) -->
    <membership defaultProvider="ContentMembershipProvider">
      <providers>
        <clear/>
        <add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      <providers>
        <clear/>
        <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security" />
      </providers>
    </roleManager>
	</system.web>

	<appSettings>
	</appSettings>
</configuration>
