<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Windsor" version="2.5.4" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="EntityFramework" version="4.1.10331.0" />
  <package id="Iesi.Collections" version="3.2.0.4000" />
  <package id="jQuery" version="1.5.1" />
  <package id="jQuery.UI.Combined" version="1.8.11" />
  <package id="jQuery.Validation" version="1.8.0" />
  <package id="jQuery.vsdoc" version="1.5.1" />
  <package id="Lucene" version="2.9.4.1" />
  <package id="Lucene.Net" version="2.9.4.1" />
  <package id="Modernizr" version="1.7" />
  <package id="N2CMS" version="2.2.1.1" />
  <package id="Newtonsoft.Json" version="4.0.5" />
  <package id="NHibernate" version="3.2.0.4000" />
  <package id="NLog" version="2.0.0.2000" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="RavenDB-Embedded" version="1.0.573" />
  <package id="SharpZipLib" version="0.86.0" />
  <package id="System.Data.SQLite" version="1.0.77.0" />
</packages>