body { font-family: 'Myriad Pro'; font-size: 14px; overflow:hidden; }
a { text-decoration: none; color: #000; }
	a:hover { text-decoration: underline; }
* { box-sizing: border-box; -moz-box-sizing: border-box; }

.loader { background-repeat: no-repeat; }
	.sliding-loader { height: 2px; }
.dragbar { cursor: w-resize; background: url(../img/grabber.png) repeat-y center; height: 40px; width: 6px; }

ul.menu li { display: inline-block; }

#top-area { }
	#top-area .navbar { text-transform:lowercase; margin:10px; font-size:22px; }
		#top-area .navbar .navbar-search input.search-query { padding:12px; }
		#top-area .navbar .navbar-search input[type=button] { background: url("../img/search.png") no-repeat scroll 0 0 transparent; border: 0 none; height: 17px; position: absolute; right: 12px; text-indent: -9999px; top: 5px; width: 16px; }
		#top-area .navbar #logo { padding-left: 10px; }
			#top-area .navbar #logo a { background-image: url(../img/logo.png); text-indent: -9999px; display: inline-block; width: 58px; height: 39px; }
	/*#top-area #logo, #top-area #user-tools { float: right; padding-top: 4px; }
	#top-area #user-tools { text-align: right; }
		#top-area #user-tools .menu { text-transform: uppercase; font-size: 13px; line-height: 17px; }
			#top-area #user-tools .menu li { border-right: 1px solid #838383; padding-left: 7px; padding-right: 7px; }
				#top-area #user-tools .menu li:first-child { padding-left: 0; }
				#top-area #user-tools .menu li:last-child { border-right: none; padding-right: 0; }
		#top-area #user-tools .current-user { font-size: 20px; }
	#top-area #main-menu .menu { text-transform: lowercase; font-size: 22px; padding-bottom: 5px; }
		#top-area #main-menu .menu li { margin: 0 7px; }
	#top-area .menu a { color: #838383; }
	#top-area .menu .active a { color: #000; }
	#top-area #main-menu .submenu { text-transform: uppercase; font-size: 14px; padding-bottom: 0; }*/

#main-wrapper { position: absolute; top: 60px; bottom: 0; }
#secondary-area { border-top: 1px solid #c7c7c7; border-right: 1px solid #c7c7c7; position: absolute; bottom: 0; top: 0; margin-right: 3px; width: 350px; }
	#secondary-area .dragbar { position: absolute; right: -5px; margin: auto; top: 40%; }
	/*#secondary-area .search { padding: 5px; position: relative; }
		#secondary-area .search input[type=text] { border: 1px solid #E6E6E6; color: #4B4B4B; font-size: 14px; height: 30px; text-indent: 5px; width: 100%; }
			#secondary-area .search input[type=text]:focus { color: #000; text-transform: none; }*/
#page-tree { position: absolute; left:0; right:1px; top: 0; bottom: 63px; overflow: auto; }
	#page-tree ul { list-style-type:none; }
		#page-tree ul li { margin-left: 10px; text-indent: 5px; line-height: 29px; }
			#page-tree ul li div { cursor: pointer; }
				#page-tree ul li div.tools { background: url("../img/tools.png") no-repeat scroll 0 0 transparent; float: right; height: 11px; margin-right: 10px; position: relative; top: 10px; width: 18px; display:none; }
				#page-tree ul li div.item:hover div.tools { display: block; }
					#page-tree ul li div.tools a { text-indent: -9999px; display: block; }
				#page-tree ul li a.toggle { float: right; margin-right: 10px; width:12px; height:12px; }
					#page-tree ul li a.toggle i { display:none; }
					#page-tree ul li.collapsed > div > a.toggle i.toggle-expand { display:inline-block; }
					#page-tree ul li.expanded > div:hover > a.toggle i.toggle-collapse { display:inline-block; }
				/*#page-tree ul li.expanded > div > a.toggle > .open { display: inline-block; }
				#page-tree ul li.collapsed > div > a.toggle > .open { display: inline-block; }*/
					/*#page-tree ul li a.toggle { display: none; height:29px; width:16px; background:transparent none no-repeat 50% 50%; }
			#page-tree ul li.expanded > div > a.toggle { display: inline; background-image:url(../img/minus.png); }
			#page-tree ul li.collapsed > div > a.toggle { display: inline-block; background-image:url(../img/plus.png); }*/
			#page-tree ul li.root { margin-left: 0; text-indent: 12px; }
				#page-tree ul li.root > div > a { font-weight: bold; }
				#page-tree ul li.root > ul > li { margin: 0; }
				#page-tree ul li.root ul { }
				#page-tree ul li.root > div { background: #fafafa; }
					#page-tree ul li.root > div:hover { background: #f3f3f3; }
				#page-tree ul li.root ul li { border-top: 1px solid #FFFFFF; }
					#page-tree ul li.root ul li div.item { border-left: 5px solid #ebf7fc; border-bottom: 1px solid #ebf7fc; }
					#page-tree ul li.root ul li a img { padding-right: 4px; position: relative; top: 3px; }
					#page-tree ul li.root ul li div.item:hover { border-left: 5px solid #d9f0f9; background: #f9fdfe; }
					#page-tree ul li.root ul li.active > div.item { border-left: 5px solid #3aaee3; background: #ebf7fc; }
#trash { position: absolute; bottom: 0; width: 100%; font-size: 12px; padding: 2px; }
	#trash > div { text-align: center; height: 60px; background: #f0f0f0; border: 1px solid #dddddd; }
	#trash div div { font-size: 18px; padding-top: 10px; }

#main-area { left: 200px; position: absolute; top: 0; bottom: 0; overflow:auto; }
	#main-area #main-area-content { position: absolute; top: 39px; bottom: 0; border-left: 1px solid #c7c7c7; }
	#main-area #page-preview { position:absolute; top: 39px; bottom: 0; width:100%; }
		#main-area #page-preview-frame { position:absolute; height:100%; width:100%; border:none; display:block; }

#page-action-bar { height: 39px; background-color: #18a0de; font-size: 18px; text-transform: lowercase; }
	#page-action-bar.secondary ul { float: left; }
		#page-action-bar.secondary ul li { }
			#page-action-bar.secondary ul li:hover { }
	#page-action-bar.primary ul { float: right; }
	#page-action-bar li { height: 39px; float: left; display: block; line-height:16px; }
		#page-action-bar li a { float: left; height: 35px; margin-top: 2px; border-right: 1px solid #74c6eb; padding-left: 15px; padding-right: 15px; }
		#page-action-bar li a.page-action-icon { background: transparent none no-repeat 15px 50%; padding-left:45px; padding-right:15px; }
		#page-action-bar li:hover { background-color: #3aaee3; }
		#page-action-bar li a div { float: left; line-height: 16px; padding-left: 8px; padding-top: 8px; }
		#page-action-bar li.iconed img { float: left; padding-top: 5px; }
		#page-action-bar li.iconed a { float: left; height: 35px; margin-top: 2px; }
		#page-action-bar li.command-options { }
		#page-action-bar li.command-options div.command-options { display:none; }
		#page-action-bar li.command-options:hover div.command-options { display:block; }
			#page-action-bar li.command-options a div { padding-top: 2px; }
	#page-action-bar a { color: #fff; float: left; }
		#page-action-bar a:hover { text-decoration: none; }
	#page-action-bar span { font-size: 11px; display: block; font-family: Arial; }
	#page-action-bar .command-options .command-options { background: #ebf7fc; min-width: 350px; position: absolute; top: 39px; }
		#page-action-bar .command-options .command-options ul { float: none; }
			#page-action-bar .command-options .command-options ul li { border-top: 1px solid #FFFFFF; border-left: 5px solid #d9f0f9; position: relative; margin-top: 1px; display: block; float: none; height: 39px; font-size: 14px; line-height: 39px; }
				#page-action-bar .command-options .command-options ul li:hover { border-left-color: #b6e1f4; }
				#page-action-bar .command-options .command-options ul li.active { border-left: 5px solid #3aaee3; }
		#page-action-bar .command-options .command-options li:hover { background-color: #ebf7fc; }
		#page-action-bar .command-options .command-options li a { border: 0 none; border-bottom: 1px solid #d9f0f9; border-right: 1px solid #d9f0f9; color: #000000; float: none; height: 38px; margin: 0; padding: 0; position: absolute; text-indent: 7px; width: 100%; }
			#page-action-bar .command-options .command-options li a:hover { text-decoration: underline; }
			#page-action-bar .command-options .command-options li a span { float: right; padding-right: 7px; text-transform: none; color: #838383; }
		#page-action-bar .command-options .command-options li.load-more { height: 24px; background: #ebf7fc; margin-top: 1px; border: none; border-top: 1px solid #fff; }
			#page-action-bar .command-options .command-options li.load-more a { height: 23px; background: url(../img/arrow-down.png) no-repeat center; border-color: #EBF7FC; }
