<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <!-- Some connection string examples
		SQLite:				<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
		SQL Server 2005:	<add name="N2CMS" connectionString="Server=(local);Database=N2_Templates;Integrated Security=SSPI"/>
		SQL Express 2005:	<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:	<add name="N2CMS" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:				<add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		-->
    <add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
  </connectionStrings>

  <n2>
    <!-- If you install a database from scrach you'll need to insert some required pages. This can be done by the web based installer located at http://yoursite/install/edit -->
    <host rootID="1" startPageID="4">
      <web extension=".aspx"/>
    </host>
		<engine>
			<assemblies>
				<!-- This are only needed for medium trust-->
				<add assembly="App" />
			</assemblies>
		</engine>
    <!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite -->
    <database connectionStringName="N2CMS" flavour="AutoDetect" />
    <edit>
      <installer checkInstallationStatus="true" />
    </edit>
  </n2>

  <system.web>
    <pages validateRequest="false" masterPageFile="~/UI/Site.master" theme="Default">
      <controls>
        <add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
      </controls>
    </pages>

    <httpModules>
      <add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
    </httpModules>

    <httpHandlers>
      <add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
    </httpHandlers>
    
    <siteMap defaultProvider="PublicSiteMap">
      <providers>
        <add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
      </providers>
    </siteMap>

    <compilation debug="true">
      <expressionBuilders>
        <add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
        <add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
        <add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
        <add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
        <add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
      </expressionBuilders>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="n2/login.aspx" protection="All" timeout="30000" path="/">
        <credentials passwordFormat="Clear">
          <!-- WARNING: Change this default password -->
          <user name="admin" password="changeme" />
        </credentials>
      </forms>
    </authentication>

    <!-- These membership and role providers store their data as content items. You can also use the forms authentication credentials only (remove these sections) or the default ASP.NET providers (check your ASP.NET documentation) -->
    <membership defaultProvider="ContentMembershipProvider">
      <providers>
        <clear/>
        <add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ContentRoleProvider">
      <providers>
        <clear/>
        <add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
      </providers>
    </roleManager>
  </system.web>

	<!-- IIS7 settings, you should remove either this or the httpHandlers and modules above -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules>
		<handlers>
			<add name="n2.ajax" path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</handlers>
	</system.webServer>

  <appSettings>
  </appSettings>
</configuration>
