@import url(../../../Content/Css/Layout.css);
@import url(../../../Content/Css/Application.css);
/********* GLOBALS *********/

* {margin:0;padding:0}
body {font-family:Constantia,"Lucida Fax","Palatino Linotype",serif;font-size:.9em;}
a img,table {border:0}
a img{vertical-align:middle;}
button,select,textarea,input {font:100% serif}
table {border-collapse:collapse}
caption,th,td {text-align:left;vertical-align:top;}
h1,h2,h3,h4,h5,h6,p {margin:.4em 0;font-family:Cambria,"Hoefler Text","Palatino Linotype",Palatino,"Trebuchet MS",serif}

/* colors */
a { color:#478db3; text-decoration:none; }
a:hover { text-decoration:underline; }


/********* LAYOUT *********/

body { margin:0; background:#000 url(bg.gif) 50% 0%; }
	#wrap { }
		#header { background:url(top_bottom_bg.gif) repeat-x 50% 100%; padding-bottom:10px; margin-bottom:40px; }
			#header div.top {height:90px; background:url(top_bg.gif) 50% 0%;  }
				#header div.top h2 {width:900px; left:50%; margin-left:-450px; position:absolute; }
				#header div.top .siteLogo {width:900px; left:50%; margin-left:-450px; position:absolute; }
		#page { width:900px; margin:0 auto; padding-bottom:3px; background:#fff url(page_bottom.gif) no-repeat 100% 100%; }
			#content { float:right; width:685px; padding:15px; background:#fff url(page_top.gif) no-repeat 100% 0%; }
				img.main { width:100%; }
				.secondary { width:170px; margin-bottom:1px; }
				#menu { float:left; }
				#extras { float:right; }
				#main { width:500px; float:left; padding-bottom:15px; background:#fff; }
		#footer {width:690px; margin:0 auto; padding:15px 15px 15px 200px; color:#666;}
			#footer .n2{color:#333;float:right;margin-bottom:10px;font-size:.8em;}

/* top */
.siteHeader { margin:0; padding:55px 20px 30px 200px; }
	.siteHeader a { color:#478db3; }
.siteLogo img { float:right; padding:20px; }


/*box*/
.boxTitle,
.secondary h4 {padding:0 5px;color:#d0cfcb;}
.secondary h4 a,
.secondary h4 a:visited { color:#d0cfcb;}
#menu .box { color:#d0cfcb;}
#content .boxTitle,
#content .secondary h4 { color:#414141; }
.secondary .box { background:transparent url(menu_bg.gif) no-repeat 50% 100%; _height:1px; padding-bottom:10px; }
.secondary .box .inner { padding:10px 10px 0 10px; background:transparent url(menu_bg.gif) no-repeat 50% 0%; }
#content .secondary .box { background:transparent url(secondary_bg.gif) no-repeat 50% 100%; }
#content .secondary .box .inner { background:transparent url(secondary_bg.gif) no-repeat 50% 0%; }
#main .box { background:#d0cfcb url(main_bg.gif) no-repeat; padding-top:10px; }
#main .box .inner { background:transparent url(main_bg.gif) no-repeat 0% 100%; padding:0 10px 10px 10px; }

/*secondary*/
.secondary .uc { margin-bottom:15px; }

/*menu*/
.topMenu { width:700px; padding-left:200px; position:absolute; top:130px; left:50%; margin-left:-450px; }
	.topMenu li { display:inline; }
	.topMenu a { color:#fff; margin-right:10px; }
	.topMenu .current a,
	.topMenu .trail a { font-weight:bold; color:#0096DB; }

.languageMenu { width:150px; position:absolute; top:130px; left:50%; margin-left:285px; text-align:right; }
	.languageMenu a { opacity:.4;}
	.languageMenu .current { cursor:default; opacity:1;}
	.languageMenu a:hover { opacity:1;}

.subMenu a { display:block; padding:2px 0; _height:1px; color:#fff; }
.subMenu ul { margin:0 0 5px 10px; }
.subMenu .trail > a,
.subMenu .current > a { color:#0096DB; }
.subMenu .current > a { font-weight:bold; }

/* lists */
.list .a0 { background: #f4f8ed; }
.list,
.list .a1 { background: #fff; }
.list { padding-bottom:6px; background-position:50% 100%; }
.list .item { padding:5px; }

/* path */
.path { margin-bottom:10px; }
.path .current { color:#414141; }
.path a.current:hover { cursor:default; text-decoration:none; }

/* sitemap */
#main ul { list-style:circle; margin-left:20px; }
#main ol { margin-left:20px; }

/* content */
.introduction { font-size:1.1em; font-style:italic; }

/* date */
.date { font-size:small; color:#414141; display:block; }

/* intro */
.intro { font-style:italic; font-size:1.2em; }
.list .intro { font-style:normal; font-size:1em; }
body #page { background-color:Transparent; }

/*columns*/
.columns .left { float:left; width:245px; }
.columns .right { float:right; width:245px; }

.socialBookmarks a { white-space:nowrap; }

/* gallery */
.thumbnail { opacity:.4; }
.thumbnail:hover, .selected { opacity:1; }
#thumbnails {padding-bottom:10px;}
#thumbnails .text { display:none; }
.thumbnail {margin-bottom:10px;margin-right:5px;}

/* comments */
.commentList { border-top:solid 1px #D0CFCB; margin-top:10px;}
