<?xml version="1.0"?>

<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

	<connectionStrings>
		<clear/>
		<add name="N2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
		<!-- Example: Local MS SQL DB using windows authentication: <add name="N2" connectionString="Server=(local);Database=N2;Integrated Security=SSPI"/> -->
	</connectionStrings>

  <castle>
    <properties>
      <rootItemID>1</rootItemID>
      <nhSettings>
        <dictionary>
          <entry key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
          <entry key="hibernate.connection.connection_string_name">N2</entry>

          <entry key="hibernate.cache.use_second_level_cache">false</entry>
          
          <entry key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
        </dictionary>
      </nhSettings>
    </properties>

	  <components>
		  <component id="n2.sitesProvider" service="N2.Web.ISitesProvider, N2" type="N2.Web.DynamicSitesProvider, N2" />
		  <component id="n2.urlParser.multipleSite" service="N2.Web.IUrlParser, N2" type="N2.Web.MultipleHostsUrlParser, N2" />
	  </components>
	  
    <include uri="assembly://N2/Engine/n2.configuration.xml"/>

    <!-- Configuration goes here -->
  </castle>

	<system.web>
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
			</controls>
		</pages>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin" />
				</credentials>
			</forms>
		</authentication>
	</system.web>

	<appSettings>
	</appSettings>
</configuration>
