<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="n2.editManager"        service="N2.Edit.IEditManager, N2" type="N2.Edit.DefaultEditManager, N2"/>
    <component id="n2.edit.settingsProvider" service="N2.Edit.Settings.ISettingsProvider, N2" type="N2.Edit.Settings.SettingsProvider, N2"/>
    <component id="n2.edit.settingsManager" type="N2.Edit.Settings.SettingsManager, N2"/>
	<component id="n2.edit.navigationSettings" type="N2.Edit.Settings.NavigationSettings, N2"/>
  </components>
</castle>