<?xml version="1.0"?>
<configuration>
	<system.web>
		<authorization>
			<allow users="Admin" roles="Administrators" />
			<deny users="*"/>
		</authorization>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="N2"/>
			</assemblies>
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

	</system.web>
</configuration>
