@model Dinamico.Models.ContentPart
<section id="fluidGridSystem">
    <div class="row-fluid show-grid columns threecolumns clearfix @((bool)(Content.Data.Separator ?? false) ? "separator" : "")">
	    <div class="column column1 span4">
		    @{ Html.DroppableZone("Left").Render(); }
	    </div>
	    <div class="column column2 span4">
		    @{ Html.DroppableZone("Center").Render(); }
	    </div>
	    <div class="column column3 span4">
		    @{ Html.DroppableZone("Right").Render(); }
	    </div>
    </div>
</section>
