<?xml version="1.0"?><configuration>
	<connectionStrings>
     <add name="N2_DevConnectionString" connectionString="Data Source=localhost;Initial Catalog=N2_Dev;Integrated Security=True"
         providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
		<authorization>
			<allow users="Admin" roles="Administrators"/>
			<deny users="*"/>
		</authorization>
	</system.web>
</configuration>