@*************************************************************************************************

Google Docs Document Viewer: MVC Model
Licensed to users of N2CMS under the terms of The MIT License (MIT)

Copyright (c) 2013 Benjamin Herila <mailto:ben@herila.net>

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and 
associated documentation files (the "Software"), to deal in the Software without restriction, 
including without limitation the rights to use, copy, modify, merge, publish, distribute, 
sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is 
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or 
substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING 
BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND 
NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, 
DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, 
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

*************************************************************************************************@

@model Dinamico.Models.ContentPart
@{ 
    Content.Define(re =>
    {
        re.Title = "Google Docs Viewer";
        re.IconUrl = "{IconsUrl}/page_white_acrobat.png";
        re.FileUpload("File");
        re.Text("Width").DefaultValue("100%");
        re.Text("Height").DefaultValue("400px");
        re.Text("BaseURL", "Override Base URL (optional)");
    });
    
    String G_URL = "http://docs.google.com/viewer?embedded=true&url=" 
        + (Content.Has.BaseURL ? Content.Data.BaseURL : (Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.UriEscaped)))
        + (Content.Data.File);
}

@if (Request.IsLocal)
{
    <div class="alert alert-warning">
        <p>Warning: Requests to localhost can't be resolved by the Google Docs web service.</p>
    </div>
}
@if (Content.Has.File && Content.Has.Height)
{
    <iframe class="google-doc-viewer" style="width: @(Content.Data.Width); height: @(Content.Data.Height)" src="@G_URL">
    </iframe>
}
else
{
    <div class="alert alert-warning">
        <h2>Embedded Document Viewer</h2>
        <p>No file selected or no height specified</p>
    </div>
}