@model Dinamico.Models.ContentPart
		   
@{ Content.Define(ie =>
	   {
			ie.Definition.Title = "Text";
			ie.Definition.IconUrl = "{IconsUrl}/page_white_text.png";
	   }); }
<div class="part text">
@Content.Register.FreeText("Text")
</div>