@model Dinamico.Models.ContentPart

@{ Content.Define(re =>
	   {
		   re.Title = "3 Columns";
		   re.IconUrl = "{IconsUrl}/text_columns.png";
		   re.CheckBox("Separator", "Show separator");
	   });
}
<div class="columns threecolumns clearfix row @((bool)(Content.Data.Separator ?? false) ? "separator" : "")">
	<div class="column column1 col-sm-4">
		@{ Html.DroppableZone("Left").Render(); }
	</div>
	<div class="column column2 col-sm-4">
		@{ Html.DroppableZone("Center").Render(); }
	</div>
	<div class="column column3 col-sm-4">
		@{ Html.DroppableZone("Right").Render(); }
	</div>
</div>
