@model Dinamico.Models.ContentPart

@{ Content.Define(re =>
	   {
		   re.Definition.Title = "3 Columns";
		   re.Definition.IconUrl = "{IconsUrl}/text_columns.png";
		   re.CheckBox("Separator", "Show separator");
	   });
}
<div class="columns threecolumns clearfix row @((bool)(Content.Data.Separator ?? false) ? "separator" : "")">
	<div class="column column1 @ResourcesExtensions.BootstrapColumnClass(4, ResourcesExtensions.BootstrapScreenSize.sm)">
		@{ Html.DroppableZone("Left").Render(); }
	</div>
	<div class="column column2 @ResourcesExtensions.BootstrapColumnClass(4, ResourcesExtensions.BootstrapScreenSize.sm)">
		@{ Html.DroppableZone("Center").Render(); }
	</div>
	<div class="column column3 @ResourcesExtensions.BootstrapColumnClass(4, ResourcesExtensions.BootstrapScreenSize.sm)">
		@{ Html.DroppableZone("Right").Render(); }
	</div>
</div>
