body 
{
	background-color:lightslategray;
	font-family:Arial;
}
form
{
	background-color:White;
	width:680px;
	margin:10px auto;
	padding:10px;
	border-width:3px;
	border-color:White;
	border-style:solid;
}
h1
{
	padding:20px;
	color:White;
	background-color:lightslategray;
	margin:0;
}
a
{
	color:lightslategray;
}
.menu
{
	background-color:#E3EAEB;
	font-size:.8em;
	padding:0 10px;
}
.menu a
{
	display:block;
	padding:2px;
}
.menu table
{
	background-color:#E3EAEB;
}
.languages
{
	padding-top:5px;
	float:right;
}
.languages a
{
	display:inline;
}
.menuHover
{
	background-color:lightslategray;
	color:White;
}
.menuHover a
{
	color:White;
}
.subMenu
{
	border-left:solid 3px lightslategray;
}
.breadcrumb
{
	margin-top:10px;
	display:block;
	font-size:.8em;
}
