<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false"/>
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false"/>
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false"/>
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="N2CMS" connectionString="data source=:memory:" providerName="System.Data.SQLite"/>
  </connectionStrings>
</configuration>