<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- Some connection string examples
		SQLite:				<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
		SQL Server 2005:	<add name="N2CMS" connectionString="Server=(local);Database=N2_Templates;Integrated Security=SSPI"/>
		SQL Express 2005:	<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:	<add name="N2CMS" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:				<add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		-->
		<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<n2>
		<host rootID="1" startPageID="2" />
		<engine>
			<assemblies>
				<!-- These are only needed for medium trust
				<add assembly="N2"/>
				<add assembly="N2.Edit"/>
				<add assembly="N2.Edit.Trash"/>
				<add assembly="N2.Edit.Wizard"/>
				<add assembly="N2.Edit.LinkTracker"/>
				<add assembly="N2.Edit.Globalization"/>
				<add assembly="N2.Security"/>
				<add assembly="N2.Templates"/>
				<add assembly="N2.Templates.UI"/>
				<add assembly="N2.Templates.Survey"/> -->
			</assemblies>
		</engine>
		<!-- flavours: SqlServer2005, SqlServer2000, MySql, SqLite -->
		<database connectionStringName="N2CMS" flavour="SqlServer2005" />
	</n2>

	<system.web>
		<!--<globalization uiCulture="nl-NL" culture="nl-NL" />-->
		<!--<globalization uiCulture="it-IT" culture="it-IT" />-->
		<!--<trust level="Medium"/>-->

		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>
			</controls>
		</pages>

		<httpModules>
			<!-- please remove the 'n2.installer' module when the site has been installed -->
			<add name="n2.installer" type="N2.Installation.InstallerModule, N2" />
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="changeme"/>
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="Off">
			<error statusCode="404" redirect="~/UI/404.aspx" />
		</customErrors>

		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear/>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear/>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security" />
			</providers>
		</roleManager>
	</system.web>

	<appSettings>
		<!-- Set this setting to true to prevent a redirect to the installation page. -->
		<add key="N2.AllowRedirectToInstallPage" value="true" />
	</appSettings>
</configuration>