<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
			<section name="templates" type="N2.Templates.Configuration.TemplatesSection, N2.Templates" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- MEDIM TRUST: SQLite won't work. Remove \bin\system.data.sqlite.dll and change connection string-->
		<!--<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />-->
		<!--SQLite: <add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2.sqlite.db;Version=3;New=True;" providerName="System.Data.SQLite" />-->
		<add name="N2CMS" connectionString="Server=(local);Database=N2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>
		<!--SQL Express: <add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\SQLExpressDB.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>-->
		<!--SQL Express: <add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;Database=N2;Integrated Security=SSPI" providerName="System.Data.SqlClient"/>-->
		<!--MySQL: <add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>-->
	</connectionStrings>

	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<host rootID="175" startPageID="175" multipleSites="false">
   <web extension="">
    <urls>
     <nonRewritable>
      <add virtualPath="~/edit/" name="edit" />
     </nonRewritable>
    </urls>
   </web>
   <outputCache enabled="false" duration="10" />
  </host>
		<engine>
			<assemblies>
				<!-- MEDIUM TRUST: Needs these assemblies and additionaly any addons or projects you're using-->
				<add assembly="N2"/>
				<add assembly="N2.Security"/>
				<add assembly="N2.Edit"/>
				<add assembly="N2.Templates"/>
			</assemblies>
			<!-- Update email to receive error reports -->
			<errors action="Email" mailTo="" mailFrom="noreply@yourdomain.com" />
			<!-- Globalization requires you to create additional start pages with a language defined -->
			<globalization enabled="true" />
			<!-- Will ping the site to prevent it from sleeping -->
			<scheduler keepAlive="true" interval="10" />
		</engine>
		<!-- New database? Run installer at http://yoursite/install/edit -->
		<database connectionStringName="N2CMS" flavour="AutoDetect" caching="true" cacheProviderClass="NHibernate.Caches.SysCache2.SysCacheProvider, NHibernate.Caches.SysCache2" />
		<!-- Remove theme attribute to use new theme -->
		<!--<edit theme="classic">-->
		<edit>
			<!-- Set to false to disable redirection to install page -->
			<installer checkInstallationStatus="true" />
			<uploadFolders/>
			<writers dynamic="true"/>
			<editors dynamic="true"/>
			<administrators dynamic="true"/>
		</edit>
		<templates />
	</n2>



	<system.web>
		<sessionState mode="Off" />
		<!--<globalization culture="sv-SE"/>-->
		<!--<trust level="Medium" originUrl=""/>-->

		<pages>
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates" />
			</controls>
			<tagMapping>
				<add tagType="System.Web.UI.HtmlControls.HtmlForm"  mappedTagType="N2.Web.UI.WebControls.RawUrlForm"/>
			</tagMapping>
		</pages>

		<httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</httpModules>

		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</httpHandlers>

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" />
			</providers>
		</siteMap>

		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2" />
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2" />
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2" />
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2" />
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2" />
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password. Please do it now. -->
					<user name="admin" password="changeme" />
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="Off" defaultRedirect="~/Templates/UI/Views/500.aspx">
			<error statusCode="404" redirect="~/Templates/UI/Views/404.aspx" />
		</customErrors>

		<!-- These membership and role providers store their data as content items. 
         You can also use the forms authentication credentials only (then remove 
         these sections) or the default ASP.NET providers (search for asp.net membership) -->
		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear />
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear />
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security" />
			</providers>
		</roleManager>
		<profile defaultProvider="ContentProfileProvider">
			<providers>
				<clear />
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Security" />
			</providers>
		</profile>
	</system.web>

	<appSettings />

	<!-- IIS7 settings, you should remove either this or the httpHandlers and modules above -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules>
		<handlers>
			<add name="n2.ajax" path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2" />
		</handlers>
	</system.webServer>

</configuration>

