<b class="submenu-toggle n2-icon-caret-right" ng-show="child.Children.length"></b>

<page-action-link node="child"></page-action-link>

<ul class="dropdown-menu sub-menu" ng-show="child.Children.length">
	<li><div class="page-action"><a href="#" ng-click="$emit('device-close', {})"><b class="n2-icon-fullscreen"></b> Full size</a></div></li>
	<li class="divider"></li>
	<li ng-repeat="grandchild in child.Children"
		ng-class="{ divider: grandchild.Current.Divider }">
		<page-action-link node="grandchild"></page-action-link>
	</li>
	<li class="divider"></li>
	<li><div class="page-action"><a href="#" ng-click="$emit('device-rotate', {})"><b class="n2-icon-rotate-right"></b> Switch portrait/landscape</a></div></li>
</ul>