/* clearfix */
body.edit .cf:after,
body.edit .editDetail:after,
body.edit .tree li:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }

body.edit .cf,
body.edit .editDetail,
body.edit .tree li { *display: inline-block; }

/* Hides from IE-mac \*/
body.edit * html .cf,
body.edit * html .editDetail,
body.edit * html .tree li { height: 1%; }

body.edit .cf,
body.edit .editDetail,
body.edit .tree li { display: block; }
/* End hide from IE-mac */

body { padding:0; margin:0; }
body, td { font-family:Arial, Sans-Serif; font-size:12px; color:#333333; }
td,th { overflow:auto; vertical-align:top; text-align:left; }
a { color:#333333; text-decoration:none; }
a:hover{ text-decoration:underline; }
    a img{ vertical-align:middle; text-decoration:none; }
img{ border:none; }
h1{ margin:4px 0; font-size:1.5em; }
h2{ border-top:solid 1px silver; margin:5px 0; padding-top:5px; font-size:1.2em; width:95%; }

/* toolbar */
body.edit fieldset{
	margin-bottom:10px;
}
.command img{
	position:relative;
	top:-2px;
}
body.edit .toolbar .command[disabled=disabled]{
	color:silver;
	opacity:.5;
}

body.edit .commandOptions{
	float:left;
}
body.edit .toolbar .rightAligned{
	float:right;
}

/* DEFUALT THEME */
.header
{
    background:#79C; 
    border-bottom-color:#ddd;
}
.tools,
#splitter .vsplitbar
{
    background-color:#ccb; 
    border-color:#aa9;
}
.toolbar, 
.optionGroup,
.commandOptions .opener,
.gv th,
.gv thead td
{
    background:#ddc;
	border-color:#ccc;
}
.gv .alt td { background-color:#F0F0E0; }

.toolbar .toggled,
.toolbar .command:hover{
	border-color:#bbb;
}
.toolbar a
{
	color:#333;
}
.tabs
{
}
