body { background:#d3d6d5; }
body .frameForm { position:absolute; height:100%; width:100%; overflow:hidden; }

/* Toolbar */
#top{ position:relative; }
#top .logo{ position:absolute; right:6px; top:3px; height:30px; }

#search{ background:transparent; padding:0; }
	#search form { background-color:transparent; padding:0; margin:0; }
    	#search input { height:28px; padding:0 4px; float:left; margin:0; border:none; }
    	#search input.tb { height:18px; padding:5px 4px; }

.toolbox { font-size: 10px; overflow:hidden; font-family: 'Lucida Console', Monaco, monospace; }
    .toolbox .item { overflow:hidden; float:left; text-align:center; border-left:solid 1px #fff; border-right:solid 1px #d8d8d8; background:#fff; }
        .toolbox .item .command { display:block; height:18px; color:#6F6F6F; height:18px; padding:5px; text-decoration:none; }
        .toolbox .item a:hover { color:#000; background-image:url(../img/toolbar_button_bg_hover.png); }
        .toolbox .item.selected a.command { background-color:#fff; background-image:none; color:#000; cursor:auto; }
           .toolbox .item .command img { margin:2px 3px 0 0; }

.header { border-bottom-style: solid; border-bottom-width:5px; padding-left:20px;}
    .header .toolbox { float:left; border-bottom:none; margin-left:10px; }
        .header .toolbox .item { background:#fff url(../img/toolbar_button_bg.png) no-repeat 50% 3px; }
            .header .toolbox .item .command  { padding:8px 6px; position:relative; background:transparent url(../img/toolbar_button_bg.png) no-repeat 50% 100px; }
            .header .toolbox .item a:hover { background-image:url(../img/toolbar_button_bg_hover.png); }

.subbar { border-bottom-style:solid; border-bottom-width:1px; }
    .subbar .operations { float:left; }
    .subbar .options { float:right; }

#sort { height:28px; width:28px; padding:0; }
    #sort .command { padding:0; }
        #sort .command a {
            display:block;
            height:10px; 
            padding:1px;
            border-top:solid 1px #fff;
        }
        #sort #upsort 
        {
	        border-bottom:solid 1px #d8d8d8;
        }

#splitter { height: 510px; background:#fff }
	.activeSplitter iframe { visibility:hidden;}
#leftPane { width: 200px; min-width: 50px; float:left;}
#rightPane { min-width: 50px; overflow: hidden; width:790px; float:left;}
.vsplitbar { width: 5px; background: #d3d6d5 url(../img/splitter.gif) no-repeat 50% 50%; border-style:solid; border-width:1px; border-top-style:none; }
#splitter iframe{ width:100%; height:100%; }

.editSelected .operations *, 
.wizardSelected .operations *, 
.versionsSelected .operations *, 
.securitySelected .operations *, 
.exportimportSelected .operations *, 
.globalizationSelected .operations *, 
.linktrackerSelected .operations *,
.usersSelected .operations *,
.filemanagerSelected .operations *
{
    opacity:.5; filter:alpha(opacity=50);
    alpha:.5;
    color: #ccc;
}