/* right */
.right
{
	position:absolute;
	top:40px;
	right:10px;
	width:200px;
	background-color:White;
	z-index:10;
}
.right fieldset
{
	margin-right:0;
}

/* Info */
.infoBox label
{
	width:auto;
	float:none;
	display:block;
	clear:none;
}
.infoBox span
{
	font-weight:bold;
	display:block;
	margin-bottom:5px;
}

/* Zones */
.zonesBox a
{
	color:#333;
	font-weight:normal;
	text-decoration:none;
}
.zonesBox dl
{
	margin:0;
}
.zonesBox dt
{
	padding:5px 0;
	font-size:1.1em;
	font-weight:bold;
	display:block;
}
.zonesBox dt a
{
	float:right;
	padding:2px;
}
.zonesBox dd
{
	margin:0;
	padding:0 0 5px 5px;
}

/* Edit details */
.content fieldset
{
	clear:left;
	padding:10px;
}

textarea
{
	width:580px;
}
.itemEditor .editDetail
{
	margin:0 0 5px 0;
	clear:left;
}
.itemEditor .editorLabel
{
	width:110px;
	float:left;
	clear:left;
	padding:5px 5px 0 0;
	margin:0 0 5px 0;
}
.itemEditor fieldset .editLabel
{
	width:100px;
}
.itemEditor .editControl
{
	float:left;
	padding:0;
	margin:0 0 5px 0;
}
.itemEditor .editControl label
{
	font-weight:normal;
	display:inline;
	float:none;
}
.itemEditor .editControl input
{
	vertical-align:middle;
}
.nameEditor
{
	width:142px;
}
.titleEditor, .urlSelector, .textEditor
{
	width:284px;
}
.titleEditor
{
	font-size:1.5em;
}

input.disabled,
.disabled *
{
	opacity:.50;
	filter: alpha(opacity=50);
}
.delete
{
	float:right;
}

.versionInfo
{
	background-image:url(../img/ico/information.gif);
}

/* tab overrides */
.tabPanel
{
	margin-bottom:10px;
}
/*
.tabs
{
	left:-10px;
}
*/
.tabPanel fieldset
{
	left:0;
}

.help
{
	vertical-align:middle;
}

.helpPanel
{
	cursor:pointer;
}

.helpText
{
	display:none;
	float:left;
}
.helpText b
{
	display:block;
}
.helpVisible .helpText
{
	display:block;
	border-bottom:solid 1px #DEDAD7;
	margin-bottom:10px;
	padding-bottom:10px;
}