.sc, .sc a, .titleBar, .dragShadow {font-family:Arial, Sans-Serif; font-size:12px;}

.titleBar					{ background:#fff none no-repeat 1px 50%; color:#333; padding:2px 5px 2px 20px; font-size:.8em; position:relative; border:solid 1px #e3e5e4;}
.zoneItem .titleBar			{ background-image:url(../img/gripper.gif); cursor:move; }
div:hover.zoneItem .titleBar	{ background-color:#fafafa; border:solid 1px #d1d4d3;}
div:hover.zoneItem				{ background-image:url(../img/part_bg.png) }

.titleBar img { cursor:pointer; position:absolute; top:2px; right:2px; }
.titleBar .edit { right:20px; }
.dragShadow { opacity: .5; background-color:lightslategray;}
.dragging { cursor:move; }

.dropPoint { height:16px; margin:1px 0; padding:1px; background:url(../img/shading.png); position:relative; }
.dropPoint .dpLabel { font:11px Arial, Sans-Serif; position:absolute; padding:1px 0 0 4px; color:#888; font-weight:bold; }
.dropPoint .titleBar { display:none; }
.dropPoint .dropping { position:absolute; z-index:1000; top:8px; right:8px; height:16px; width:16px; background:transparent url(../img/ajax-loader.gif) no-repeat 50% 50%; }
:hover.dropPoint { border-color:#d1d4d3; background-position:3px 0; }

.droppable-active { background:url(../img/shading_green.png); border:dotted 1px #6c6; padding:0; }
.droppable-hover { background-color:#8e8; border:solid 1px #8e8; }

.sc { background:transparent url(../img/SlidingCurtain_bg.png) no-repeat 100% 100%; padding:0 4px 5px 0; position:fixed; _position:absolute; top:-200px; left:-200px; z-index:6666; }
.sc .scContent { background-color:#fff; padding:5px 0 10px 0; }
.controlPanel { padding-right:10px; }
.controlPanel img { margin-right:2px; border:none; vertical-align:middle;}
.controlPanel a,.controlPanel a:visited { color:#333;}
.controlPanel .plugins { margin:1px 10px; }
.controlPanel a { text-decoration:none; border:solid 1px white; padding:1px; opacity:.7 }
.controlPanel a:hover { opacity:1 }
.sc .open,.sc .close { text-indent:-2000px; position:absolute; bottom:6px; right:2px; height:24px; width:18px; cursor:pointer; cursor:hand; display:block; background:transparent url(../img/SlidingCurtain_open.png) no-repeat 50% 50%; }
.sc .close {display:none; bottom:10px; background-image:url(../img/SlidingCurtain_close.png)}
.opened .open {display:none; }
.opened .close {display:inline;}

.definitions,.controlPanel .new { border-top:solid 1px #dedad7; padding-top:5px; margin-top:5px; }
.definition { cursor:move; padding:0 8px 1px 10px; }
:hover.definition { background-image:url(../img/part_bg.png) }
.definitionimg { vertical-align:middle;margin-right:1px;}
* html .masked select { visibility:hidden;}

