<span id="search">
@{using (Html.BeginForm("Search", null, new { item = Content.Traverse.StartPage }, FormMethod.Get, new { id = "searchform" }))
  {
	<input name="q" value="Search"/>
	<button type="submit"></button>
  }
}
</span>