.dropZone { margin-bottom:15px;}
.titleBar { background-color:#789; color:white; padding:1px 5px; font-size:.8em; position:relative;}
.zoneItem .titleBar { background:#789 url(/edit/img/gripper.gif) no-repeat 2px 2px;cursor:move;padding-left:20px;}
.zoneItem div:hover.titleBar { background-color:#89A;}
.titleBar img { cursor:pointer; position:absolute;}
.titleBar .delete { right:2px;top:2px}
.titleBar .edit { right:16px;top:2px}
body .dropZone .dropPoint { height:16px;background:url(/edit/img/shading.png);}
body .dropZone .droppable-active { background-color:#8e8;}
body .dropZone .droppable-hover { height:24px;background-color:#6c6;}
.definitions,.controlPanel .new { border-top:solid 1px #dedad7; padding-top:5px; margin-top:5px; }
.definition { cursor:move;padding:1px 0;}
.definitionimg { vertical-align:middle;margin-right:1px;}
* html .masked select { visibility:hidden;}
.mask { background-color:#000; opacity:.5; filter:alpha(opacity='50'); width:9999px; height:9999px; position:fixed;top:-3333px;left:-3333px;z-index:8888;}
.popup { background-color:#fff;width:90%;height:85%;margin:auto; position:fixed; top:5%; left:3%; z-index:9999;}
.popup iframe { width:100%;height:100%;}

.sc { background:transparent url(/edit/img/SlidingCurtain_bg_bottom.png) no-repeat 0% 100%; padding-bottom:10px; position:fixed; top:-200px; left:-200px; z-index:6666; font-family:Arial, Sans-Serif; font-size:12px;}
.sc .scContent { width:150px; padding:10px 12px 10px 8px; background:transparent url(/edit/img/SlidingCurtain_bg.png) repeat-y;}
.controlPanel img { margin-right:2px; border:none; vertical-align:middle;}
.controlPanel a,.controlPanel a:visited { color:#333;}
.controlPanel a {display:block; text-decoration:none; margin-right:2px;}
.sc .open,.sc .close { background-color:transparent; position:absolute; bottom:3px; right:3px; cursor:pointer; cursor:hand; padding:15px 2px 1px 5px; display:block;}
.sc .close {display:none;}
.opened .open {display:none;}
.opened .close {display:inline;}