@{
	Content.PrependDefinition(re => 
	{
		re.Container("Content", e =>
		{
			e.Name();
		});
		
	});
}
@Content.Register.Title().Container("Content").Configure(e => e.CssClass = "entry-title").Display()
<div class="entry-content">
	@Content.Register.FreeText("Text").Container("Content").Display()
</div>