@{ Html.RenderPartial("LayoutPartials/_Logotype"); }
<div id="nav" role="navigation">
@{ Html.RenderPartial("LayoutPartials/_TopNavigation"); }
@{ Html.RenderPartial("LayoutPartials/_SubNavigation"); }
</div>