@if(Request.IsAuthenticated) 
{
	<span id="logon" class="item authenticated"><a href="@Url.Action("LogOff", "Account")">Log off <strong>@Context.User.Identity.Name</strong></a></span>
}
else
{
	<span id="logon" class="item anonymous">@Html.ActionLink("Log on", "LogOn", new { controller = "Account", returnUrl = Request.Url.PathAndQuery })</span>
}
