<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    <component id="n2.attributeExplorer"  type="N2.Definitions.AttributeExplorer`1, N2"/>
    <component id="n2.editableHierarchyBuilder"     type="N2.Definitions.EditableHierarchyBuilder`1, N2"/>
    <component id="n2.definitions"        service="N2.Definitions.IDefinitionManager, N2" type="N2.Definitions.DefaultDefinitionManager, N2"/>
    <component id="n2.definitionBuilder"  type="N2.Definitions.DefinitionBuilder, N2"/>
  </components>
</castle>