<?xml version="1.0" encoding="utf-8" ?>

<nhibernate>
  <add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
  <add key="hibernate.connection.connection_string_name" value="LocalSqlServer" />

  <add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
  <add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
  <!-- replace the above for other databases
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MySQL5Dialect"/>

		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>

		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.MySqlDataDriver"/>
		<add key="hibernate.dialect" value="NHibernate.Dialect.MySQLDialect"/>

		<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect" />
		<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
		-->

  <add key="hibernate.cache.use_second_level_cache" value="false"/>
  <!-- replace the above for caching
		<add key="hibernate.cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache"/>
		<add key="hibernate.cache.use_second_level_cache" value="true"/>
		<add key="hibernate.cache.use_query_cache" value="true"/>
		<add key="relativeExpiration" value="3600"/>
		-->
</nhibernate>

