<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere" />
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication" />
				</sectionGroup>
			</sectionGroup>
			<section name="dynamicData" type="System.Web.DynamicData.DynamicDataControlsSection" requirePermission="false" allowDefinition="MachineToApplication" />
		</sectionGroup>
		
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>

		<sectionGroup name="n2" type="N2.Configuration.N2ConfigurationSectionHandler, N2">
			<section name="mediumTrust" type="N2.MediumTrust.Configuration.MediumTrustSectionHandler, N2" requirePermission="false"/>
		</sectionGroup>
		
		<!--section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /-->
	</configSections>
	
	<connectionStrings>
		<!--
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.MDF;Integrated Security=True;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="LocalSqlServer" connectionString="Data Source=MySqlServer;Database=MySqlDatabase;User Id=MySqlUser;Password=MySqlPassword;" providerName="MySql.Data.MySqlClient"/>
    <add name="LocalSqlServer" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.Odbc"/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Server=localhost;Database=N2_install;Integrated Security=SSPI;"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		-->
		<clear/>
		<add name="LocalSqlServer" connectionString="Server=localhost;Database=N2_Dev;Integrated Security=SSPI;"/>
	</connectionStrings>

	<appSettings></appSettings>

	
	
	<castle>
		<properties>
			<rootItemID>1</rootItemID>
			<startPageID>2</startPageID>
			<nhSettings>
				<dictionary>
					<entry key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
					<entry key="hibernate.connection.connection_string_name">LocalSqlServer</entry>
					<entry key="hibernate.cache.use_second_level_cache">true</entry>
					<entry key="hibernate.cache.use_query_cache">true</entry>
					<entry key="hibernate.cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</entry>
					<!-- set use_second_level_cache to true and uncomment this to enable cache
          -->
					<!-- SQL Server 2005 
          -->
					<entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					<entry key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
					<!-- SQLite
		      <entry key="hibernate.connection.driver_class">NHibernate.Driver.SQLite20Driver</entry>
		      <entry key="hibernate.dialect">NHibernate.Dialect.SQLiteDialect</entry>
		      -->
					<!-- SQL Server 2000 
          <entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
          <entry key="hibernate.dialect">NHibernate.Dialect.MsSql2000Dialect</entry>
		      -->
					<!-- MySQL 
          <entry key="hibernate.connection.driver_class">NHibernate.Driver.MySqlDataDriver</entry>
          <entry key="hibernate.dialect">NHibernate.Dialect.MySQL5Dialect</entry>
	        -->
				</dictionary>
			</nhSettings>
		</properties>
		<!--include uri="assembly://N2/Web/n2.multiplehosts.xml"/-->
		<!--<include uri="assembly://N2/Web/n2.iis5.xml"/>-->
		<include uri="assembly://N2/Engine/n2.configuration.xml"/>

		<!-- Configuration goes here -->
		<components>
			<!--<component id="n2.configurationBuilder">
				<parameters>
					<Properties>#{nhSettings}</Properties>
					<DefaultMapping>N2DevelopmentWeb.ChangedOwner.hbm.xml,N2DevelopmentWeb</DefaultMapping>
				</parameters>
			</component>-->

			<component id="n2.urlParser">
				<parameters>
					<DefaultExtension>.html</DefaultExtension>
				</parameters>
			</component>

			<component id="n2.typeFinder">
				<parameters>
					<!-- Have N2 examine assemblies in the bin folder
          <EnsureBinFolderAssembliesLoaded>true</EnsureBinFolderAssembliesLoaded>
          -->
					<!-- By default all assemblies loaded in the app domain are examined
          <LoadAppDomainAssemblies>true</LoadAppDomainAssemblies>
          -->
					<!-- Certain known assembly name patterns are never "found"
          <AssemblySkipLoadingPattern>^System|^mscorlib|^Microsoft|^CppCodeProvider|^VJSharpCodeProvider|^WebDev|^Castle|^Iesi|^log4net|^NHibernate|^nunit|^TestDriven</AssemblySkipLoadingPattern>
          -->
					<!-- By default all assemblies that are "found"
          <AssemblyRestrictToLoadingPattern>.*</AssemblyRestrictToLoadingPattern>
          -->
					<!-- These assemblies are always examined when "finding" types, this is necessary since assemblies in the bin folder are not always loaded into the app domain 
          <AssemblyNames>
            <list>
              <item>N2.Edit.Export</item>
              <item>N2.Edit.LinkTracker</item>
            </list>
          </AssemblyNames>
          -->
				</parameters>
			</component>
			<component id="n2.editManager">
				<parameters>
					<EditorCssUrl>~/Css/Editor.css</EditorCssUrl>
					<!--<UploadFolderUrl>~/Trash</UploadFolderUrl>-->
				</parameters>
			</component>
			<component id="n2.defaultSite">
				<parameters>
					<rootItemID>#{rootItemID}</rootItemID>
					<startPageID>#{startPageID}</startPageID>
				</parameters>
			</component>
		</components>
	</castle>


	<n2>
		<mediumTrust rootItemID="1" startPageID="1">

			<!-- These assemblies are checked for plugins and other things -->
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Edit"/>
				<add assembly="N2.Edit.Export"/>
				<add assembly="N2.Edit.Install"/>
				<add assembly="N2.Edit.LinkTracker"/>
				<add assembly="N2.Edit.Membership"/>
				<add assembly="N2.Edit.Trash"/>
				<add assembly="N2.Edit.Wizard"/>
				<add assembly="N2.Security"/>
				<add assembly="N2DevelopmentWeb"/>
			</assemblies>

			<!-- These types are used to generate database mapping files -->
			<!--<itemTypes>
				<add typeName="N2.TemplateWeb.Domain.MyPageData, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.StartPage, N2DevelopmentWeb"/>
				<add typeName="N2DevelopmentWeb.Domain.Redirect, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.SecondItemData, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.ControlPanel, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MySpecialPageData, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyItemWithLinks, N2DevelopmentWeb"/>
				<add typeName="N2DevelopmentWeb.Domain.ItemCreator, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.UnallowedItem, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyItemData, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.ItemWithChildItem, N2DevelopmentWeb"/>
				<add typeName="N2.Security.Items.User, N2.Security"/>
				<add typeName="N2.Security.Items.UserList, N2.Security"/>
				<add typeName="N2.Edit.Wizard.Items.Wonderland, N2.Edit.Wizard"/>
				<add typeName="N2.Trashcan.TrashContainerItem, N2.Edit.Trash"/>
				<add typeName="N2.Edit.Wizard.Items.MagicLocation, N2.Edit.Wizard"/>
				<add typeName="N2.TemplateWeb.Domain.MyUnmappedItem2, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyItemSubData, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyUnmappedItem3, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyUnmappedItem, N2DevelopmentWeb"/>
				<add typeName="N2.TemplateWeb.Domain.MyUnmappedItem1, N2DevelopmentWeb"/>
			</itemTypes>-->

			<!-- NHibernate is the object relational mapper used for N2 -->
			<nhProperties>
				<add key="hibernate.connection.connection_string_name" value="LocalSqlServer"/>
				<add key="hibernate.cache.use_query_cache" value="false"/>
				<add key="hibernate.cache.use_second_level_cache" value="false"/>
				<add key="hibernate.cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache"/>
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
				<add key="hibernate.use_reflection_optimizer" value="false"/>
				<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
				<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>

			</nhProperties>
		</mediumTrust>
	</n2>



	<system.web>
		<trust level="Medium" />
		<!--<trust processRequestInApplicationTrust="true" level="Medium" />-->
		<!--<hostingEnvironment shadowCopyBinAssemblies="false" />-->

		<!--<globalization uiCulture="it-IT" culture="it-IT" />-->
		<httpModules>
			<add name="n2.mediumTrustInitializer" type="N2.MediumTrust.Web.InitializerModule, N2"/>
			<!--<add name="n2installer" type="N2.Installation.InstallerModule,N2"/>
			<add name="n2initializer" type="N2.Web.InitializerModule,N2"/>-->
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="DynamicDataModule" type="System.Web.DynamicData.DynamicDataHttpModule, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
		</httpModules>
		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
		</httpHandlers>
		<pages validateRequest="false" styleSheetTheme="Theme1">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.SilverlightControls" assembly="System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.DynamicData" assembly="System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" tagName="DynamicFilter" src="~/App_Shared/DynamicDataFields/FilterUserControl.ascx" />
			</controls>
		</pages>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="DefaultCache" duration="0" varyByParam="*"/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true" securityTrimmingEnabled="false"/>
				<!--<add name="EditSiteMap" type="N2.Edit.Web.EditSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
				<add name="FileSiteMap" type="N2.Edit.Web.FileSiteMapProvider, N2.Edit" startPageIsRoot="false"/>-->
			</providers>
		</siteMap>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.6.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/" name="N2Auth">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>


		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear/>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Security" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear/>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Security" />
			</providers>
		</roleManager>


		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
	</system.web>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" warningLevel="4"
					  type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" warningLevel="4"
					  type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v3.5"/>
				<providerOption name="OptionInfer" value="true"/>
				<providerOption name="WarnAsError" value="false"/>
			</compiler>
		</compilers>
	</system.codedom>


	<system.web.extensions>
		<!--
        <dynamicData
            // Type of the data context to be used
            dataContextType="[type]"
            enableTemplates="[bool]"  // whether to enable templates or not
            >
        
          <mappings
            queryStringKeyPrefix=""   // the prefix used for query string parameter keys
            pattern=""           // the pattern used in forming paths. must contains {table} and {viewName} identifiers
            >
            <add
              actions="list|details" // can be comma-separated list
              viewName=""       // string used in path pattern.
              templateFile=""     // template to use if actual file does not exist. File path relative to App_PageTemplates
              tables="[table names]"  // make these settings only apply to a list of tables (can be a comma-separated list)
              path=""          // override the default path generated from the pattern. must be app relative
              />
          </mappings>
        </dynamicData
    -->
		<dynamicData dataContextType="" enableTemplates="false">
			<mappings queryStringKeyPrefix="" pattern="~/{table}/{viewName}.aspx">
				<add actions="list,details" viewName="ListDetails" templateFile="ListDetailsTemplate.aspx" />
				<!--
          <add actions="list" viewName="List" templateFile="ListTemplate.aspx" />
          <add actions="details" viewName="Details" templateFile="DetailsTemplate.aspx" />
        -->
				<!--
          Special overriding cases
          <add actions="list,details" tables="Products,Categories" viewName="SpecialName" templateFile="ListTemplate.aspx"/>
          <add actions="list" tables="Products" templateFile="DetailsTemplate.aspx" path="~/customPath.aspx"/>
          <add actions="list" tables="Orders" viewName="MyListViewName"/>
        -->
			</mappings>
		</dynamicData>
	</system.web.extensions>

	<!--

<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear/>
				<add name="myListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="C:\temp\n2.log" />
			</listeners>
		</trace>
	</system.diagnostics>

  <log4net>
    <logger name="default">
      <level value="DEBUG"/>
    </logger>
    
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd.log" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaximumFileSize" value="10MB" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>

    </appender>

    <root>
      <priority value="INFO" />
      <appender-ref ref="rollingFile" />
    </root>

  </log4net>
  -->


	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.6.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-3.5.0.0" newVersion="3.6.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

</configuration>
