<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
		<!--section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /-->
	</configSections>
	<connectionStrings>
		<!--
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.MDF;Integrated Security=True;User Instance=true" providerName="System.Data.SqlClient" />
		<add name="LocalSqlServer" connectionString="Data Source=MySqlServer;Database=MySqlDatabase;User Id=MySqlUser;Password=MySqlPassword;" providerName="MySql.Data.MySqlClient"/>
    <add name="LocalSqlServer" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.Odbc"/>
		<add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="LocalSqlServer" connectionString="Server=localhost;Database=N2_install;Integrated Security=SSPI;"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		-->
		<clear/>
		<add name="LocalSqlServer" connectionString="Server=localhost;Database=N2_Dev;Integrated Security=SSPI;"/>
	</connectionStrings>
	<castle>
		<properties>
			<rootItemID>1</rootItemID>
			<nhSettings>
				<dictionary>
					<entry key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
					<entry key="hibernate.connection.connection_string_name">LocalSqlServer</entry>
					<entry key="hibernate.cache.use_second_level_cache">false</entry>
					<entry key="hibernate.cache.use_query_cache">false</entry>
					<!--<entry key="hibernate.cache.provider_class">NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache</entry>-->
					<!-- set use_second_level_cache to true and uncomment this to enable cache
          -->
					<!-- SQL Server 2005 
          -->
					<entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					<entry key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
					<!-- SQLite
		      <entry key="hibernate.connection.driver_class">NHibernate.Driver.SQLite20Driver</entry>
		      <entry key="hibernate.dialect">NHibernate.Dialect.SQLiteDialect</entry>
		      -->
					<!-- SQL Server 2000 
          <entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
          <entry key="hibernate.dialect">NHibernate.Dialect.MsSql2000Dialect</entry>
		      -->
					<!-- MySQL 
          <entry key="hibernate.connection.driver_class">NHibernate.Driver.MySqlDataDriver</entry>
          <entry key="hibernate.dialect">NHibernate.Dialect.MySQL5Dialect</entry>
	        -->
				</dictionary>
			</nhSettings>
		</properties>
		<!--include uri="assembly://N2/Web/n2.multiplehosts.xml"/-->
		<include uri="assembly://N2/Engine/n2.configuration.xml"/>
		<!-- Configuration goes here -->
		<components>
			<component id="n2.configurationBuilder">
				<parameters>
					<Properties>#{nhSettings}</Properties>
					<DefaultMapping>N2DevelopmentWeb.ChangedOwner.hbm.xml,N2DevelopmentWeb</DefaultMapping>
				</parameters>
			</component>
      <component id="n2.urlParser">
        <parameters>
          <DefaultExtension>.html</DefaultExtension>
        </parameters>
      </component>
			<component id="n2.typeFinder">
				<parameters>
					<!-- Have N2 examine assemblies in the bin folder
          <EnsureBinFolderAssembliesLoaded>true</EnsureBinFolderAssembliesLoaded>
          -->
					<!-- By default all assemblies loaded in the app domain are examined
          <LoadAppDomainAssemblies>true</LoadAppDomainAssemblies>
          -->
					<!-- Certain known assembly name patterns are never "found"
          <AssemblySkipLoadingPattern>^System|^mscorlib|^Microsoft|^CppCodeProvider|^VJSharpCodeProvider|^WebDev|^Castle|^Iesi|^log4net|^NHibernate|^nunit|^TestDriven</AssemblySkipLoadingPattern>
          -->
					<!-- By default all assemblies that are "found"
          <AssemblyRestrictToLoadingPattern>.*</AssemblyRestrictToLoadingPattern>
          -->
					<!-- These assemblies are always examined when "finding" types, this is necessary since assemblies in the bin folder are not always loaded into the app domain 
          <AssemblyNames>
            <list>
              <item>N2.Edit.Export</item>
              <item>N2.Edit.LinkTracker</item>
            </list>
          </AssemblyNames>
          -->
				</parameters>
			</component>
			<component id="n2.editManager">
        <parameters>
          <EditorCssUrl>~/Css/Editor.css</EditorCssUrl>
          <!--<UploadFolderUrl>~/Trash</UploadFolderUrl>-->
        </parameters>
      </component>
		</components>
  </castle>
	<system.web>
		<!--<trust processRequestInApplicationTrust="true" level="Medium" />-->
		<!-- <hostingEnvironment shadowCopyBinAssemblies="false" /> -->
		<!--culture="it-IT" uiCulture="it-IT" -->
		<globalization enableClientBasedCulture="false" uiCulture="sv-SE" culture="sv-SE"/>
		<httpModules>
			<add name="n2initializer" type="N2.Web.InitializerModule,N2"/>
		</httpModules>
		<httpHandlers>
			<add path="*.n2.ashx" verb="*" type="N2.Web.AjaxRequestHandler, N2"/>
		</httpHandlers>
		<pages validateRequest="false" styleSheetTheme="Theme1">
			<controls>
				<add tagPrefix="n2" assembly="N2" namespace="N2.Web.UI.WebControls"/>
				<add tagPrefix="n2" assembly="N2.Parts" namespace="N2.Parts.Web.UI.WebControls"/>
			</controls>
		</pages>
		<caching>
			<outputCacheSettings>
				<outputCacheProfiles>
					<add name="DefaultCache" duration="0" varyByParam="*"/>
				</outputCacheProfiles>
			</outputCacheSettings>
		</caching>
		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
				<add name="EditSiteMap" type="N2.Edit.Web.EditSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
				<add name="FileSiteMap" type="N2.Edit.Web.FileSiteMapProvider, N2.Edit" startPageIsRoot="false"/>
			</providers>
		</siteMap>
		<compilation debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>
		<authentication mode="Forms">
			<forms loginUrl="edit/login.aspx" protection="All" timeout="30000" path="/" name="N2Auth">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password -->
					<user name="admin" password="admin"/>
				</credentials>
			</forms>
		</authentication>
		<!-- Using the SqlMembershipProvider requires that the asp.net role tables has been set up correctly. 
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" 
					type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
					connectionStringName="LocalSqlServer" 
					enablePasswordRetrieval="false" 
					enablePasswordReset="true" 
					requiresQuestionAndAnswer="false" 
					applicationName="/N2" 
					requiresUniqueEmail="false" 
					passwordFormat="Hashed" 
					maxInvalidPasswordAttempts="5" 
					minRequiredPasswordLength="7" 
					minRequiredNonalphanumericCharacters="0" 
					passwordAttemptWindow="20" 
					passwordStrengthRegularExpression="" />
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" />
		-->
		<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
			<error statusCode="403" redirect="NoAccess.htm"/>
			<error statusCode="404" redirect="FileNotFound.htm"/>
		</customErrors>
	</system.web>
	<!--

<system.diagnostics>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<clear/>
				<add name="myListener"
				  type="System.Diagnostics.TextWriterTraceListener"
				  initializeData="C:\temp\n2.log" />
			</listeners>
		</trace>
	</system.diagnostics>

  <log4net>
    <logger name="default">
      <level value="DEBUG"/>
    </logger>
    
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
      </layout>
    </appender>

    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
      </layout>
    </appender>

    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
      <param name="File" value="log.txt" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy.MM.dd.log" />
      <param name="StaticLogFileName" value="true" />
      <param name="MaximumFileSize" value="10MB" />

      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
      </layout>

    </appender>

    <root>
      <priority value="INFO" />
      <appender-ref ref="rollingFile" />
    </root>

  </log4net>
  -->
	<appSettings>
	</appSettings>
</configuration>
