body { background:#d3d6d5; }
body .frameForm { position:absolute; height:100%; width:100%; overflow:hidden; }

/* Toolbar */
#top{ position:relative; }

.toolbox { font-size: 10px; overflow:hidden; font-family: 'Lucida Console', Monaco, monospace; }
    .toolbox .item { overflow:hidden; float:left; text-align:center; border-left:solid 1px #fff; border-right:solid 1px #d8d8d8; background-color:#fff; }
        .toolbox .item .command { display:block; height:18px; line-height:18px; color:#6F6F6F; padding:5px; text-decoration:none; background-repeat:no-repeat; background-position:50% bottom; }
        .toolbox .item a:hover { color:#000; background-image:url(../../Resources/img/toolbar_button_bg_hover.png); }
        .toolbox .item.selected a.command { background-color:#fff; background-image:none; color:#000; cursor:auto; }
        .toolbox .item.selected a.command:hover { background-image:none; }
           .toolbox .item .command img { margin:2px 3px 0 0; }

.header { padding:6px 10px; background:transparent url(../../Resources/img/darken10.png) repeat-x 0px bottom;}
    .header .toolbox { float:left; border-bottom:none; margin-right:10px; }
        .header .toolbox .item { background:#fff url(../../Resources/img/lighten10.png) repeat-x 0 50%; }
            .header .toolbox .item .command  { padding:6px; position:relative; background:transparent none no-repeat 0 0; }
            .header .toolbox .item a:hover { background-image:url(../../Resources/img/toolbar_button_bg_hover.png); }

#top .logo{ position:absolute; right:10px; top:5px; height:30px; }
#top .logout { position: absolute; right:60px; top:18px; color:#fff; }

.subbar { border: solid 1px #999; border-left:none; border-right:none; background:transparent url(../../Resources/img/lighten10.png) repeat-x 0px bottom; position:relative; padding:1px 10px;}
    .subbar .operations { float:left; }
    .subbar .options { float:right; }

#sort { height:28px; width:28px; padding:0; }
    #sort .command { padding:0; }
        .sort a { display:block; height:10px; padding:1px; border-top:solid 1px #fff; }
        .sort .up { border-bottom:solid 1px #d8d8d8; }

#search{ background:transparent; padding:0; }
	#search form { background-color:transparent; padding:0; margin:0; }
    	#search input, #search button { border:solid 1px #fff; height:28px; padding:4px; float:left; margin:0; }
    	#search input { height:18px; width:80px; color:#999; background-color:#fff; background-repeat:repeat-x; border-color:#D8D8D8; border-left:0;}
    	#search input:focus { background-image:none; }
    	#search button { text-indent:-100px; width:30px; background:#fff url(../../Resources/img/ico/png/find.png) no-repeat 50% 50%}
    	#search button:hover { border:solid 1px #ccf; }

#splitter { height: 510px; background:#fff }
	.activeSplitter iframe { visibility:hidden;}
#leftPane { width: 200px; min-width: 50px; float:left;}
#rightPane { min-width: 50px; overflow: hidden; width:790px; float:left;}
.vsplitbar { width: 3px; background: #d3d6d5 url(../../Resources/img/splitter.gif) no-repeat 50% 50%; border:solid 1px #999; border-top-style:none; }
#splitter iframe{ width:100%; height:100%; }

/* sub bar blinds */

.blinds
{
    opacity:.2; 
    filter:alpha(opacity=20);
    alpha:.2;
    background-color:#000;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:none;
}

.editSelected .blinds, 
.wizardSelected .blinds, 
.versionsSelected .blinds, 
.securitySelected .blinds, 
.exportimportSelected .blinds, 
.globalizationSelected .blinds, 
.linktrackerSelected .blinds,
.usersSelected .blinds,
.filemanagerSelected .blinds
{
    display:block;
}

/* disable paste */

.disabled
{
    opacity:.5; 
    filter:alpha(opacity=50);
    alpha:.5;
}
#top .disabled:hover
{
    background-image:none;
}