/* right */
body.edit .right{
	position:absolute;
	top:40px;
	right:10px;
	width:220px;
	background-color:White;
	z-index:10;
}
body.edit .right fieldset{
	margin-right:10px;
	padding:10px;
}

/* Info */
body.edit .infoBox label{
	margin-right:5px;
}
body.edit .infoBox span{
	font-weight:bold;
	vertical-align:middle;
}

/* Zones */
.zonesBox a { color:#333; font-weight:normal; text-decoration:none; }
.zonesBox dl { margin:0; }
.zonesBox dt { padding:5px 0; font-weight:bold; display:block; }
.zonesBox dd { margin:0; padding:2px 0 6px 4px; }
.zonesBox .iconed { background:transparent none no-repeat 2px 50%; padding:2px 2px 2px 19px; float:right; }

/* Edit details */
body.edit .content fieldset { clear:left; padding:10px; }

body.edit textarea.textEditor { width:580px; }
body.edit textarea.freeTextArea { height:380px; }
body.edit .itemEditor .editDetail { margin:0 0 5px 0; clear:left; }
body.edit .itemEditor .editorLabel { width:110px; float:left; clear:left; padding:5px 5px 0 0; margin:0 0 5px 0; }
body.edit .itemEditor fieldset .editorLabel { width:100px; }
body.edit .itemEditor .editControl { float:left; padding:0; margin:0 0 5px 0; }
body.edit .itemEditor .editControl label { font-weight:normal; display:inline; float:none; }
body.edit .itemEditor .editControl input { vertical-align:middle; }
body.edit .nameEditor { width:142px; }
body.edit .titleEditor, body.edit .urlSelector, body.edit .textEditor
    { width:284px; }
body.edit .titleEditor { font-size:1.5em; }
body.edit .popupButton { margin-right:10px;}
body.edit input.disabled, body.edit .disabled *, body.edit input.dimmed, body.edit .dimmed *
    { opacity:.50; filter: alpha(opacity=50); }
body.edit .selector, body.edit .uploader
    { margin-right:10px;}
body.edit .uploadableContainer .fileSelector
    { width: 184px; }
body.edit .selector img, body.edit .uploader img
    { vertical-align:middle; margin-right:1px; }
table.editDetail { border-collapse:collapse; }
.keepUpdated { background:transparent url(../../Resources/img/ico/png/lock_open.png) no-repeat; padding:2px; cursor:pointer; }
.keepUpdated input { visibility:hidden; }
.unchecked { background-image:url(../../Resources/img/ico/png/lock.png); }

body.edit .delete { float:right; }
body.edit .versionInfo { background-image:url(../../Resources/img/ico/png/information.png); }

/* tab overrides */
body.edit .tabPanel { margin-bottom:10px; }
body.edit .tabPanel fieldset { left:0; }

body.edit .help { vertical-align:middle; }

body.edit .helpPanel { cursor:pointer; }

body.edit .helpText { display:none; float:left; }
body.edit .helpText b { display:block; }
body.edit .helpVisible .helpText { display:block; border-bottom:solid 1px #DEDAD7; margin-bottom:10px; padding-bottom:10px; }

#content .defaultSkin table.mceLayout,
#content .defaultSkin table.mceLayout tr.mceFirst td { border:none; }
#content .defaultSkin table.mceLayout tr.mceFirst { background:#F8F8E8 url(../../Resources/img/darken10.png) repeat-x scroll 0 30px; }
#content .mceStatusbar,
#content .mceIframeContainer { border:none; border-left:solid 1px #F8F8E8; border-right:solid 1px #F8F8E8; }
#content .mceButton { background:#fff url(../../Resources/img/darken10.png) repeat-x 0 -10px; border:solid 1px #fff; }
#content .mceButtonActive { background:#fff url(../../Resources/img/lighten10.png) repeat-x 0 -20px; border:solid 1px #ddd; }
#content .mceToolbar table { background-color:transparent; }
#content .mceStatusbar { background:#F8F8E8 url(../../Resources/img/lighten10.png) repeat-x scroll 0 -35px; border:none !important;}

.framed .toolbar .iconed { background:transparent none no-repeat 2px 5px; padding-left:20px; }
.framed .toolbar .iconed:hover  { background-position:1px 4px; padding-left:19px; }

.framed .publish.iconed { background-image:url(../../Resources/img/ico/png/disk.png); }
.framed .save.iconed { background-image:url(../../Resources/img/ico/png/book_next.png); }
.framed .preview.iconed { background-image:url(../../Resources/img/ico/png/zoom.png); }
.framed .future.iconed { background-image:url(../../Resources/img/ico/png/clock.png); }

.popup
{
    width:340px;
    top:11%;
    left:22%;
    
    position:absolute;
    border:solid 1px #bbb;
    background:#fff;
    padding:10px;
    z-index:188;
}

.expandable 
{
	border-bottom:dotted 1px #ccc;
	position:relative;
	margin:15px 0;
}
.expanded
{
	padding:9px;
	border:solid 1px #ccc;
}
.expandable .expander
{
	display:block;
	padding:2px 5px 2px 20px;
	height:15px;
	background:transparent url(../img/ico/png/bullet_toggle_plus.png) no-repeat 2px 50%;
	position:absolute;
	bottom:-10px;
	left:15px;
	background-color:#fff;
}
.expanded .expander
{
	background-image:url(../img/ico/png/bullet_toggle_minus.png);
}
.expandable .expander span
{
	position:absolute;
	top:-2000px;
	left:-2000px;
}

.editDetail .help
{
	margin-left:5px;
	visibility:hidden;
}
.editDetail:hover .help
{
	visibility:visible;
}
