/* right */
body.framed .right{
	position:absolute;
	top:40px;
	right:10px;
	width:220px;
	background-color:White;
	z-index:10;
}
body.framed .right fieldset{
	margin-right:10px;
	padding:10px;
}

/* Info */
body.framed .infoBox label{
	margin-right:5px;
}
body.framed .infoBox span{
	font-weight:bold;
	vertical-align:middle;
}

/* Zones */
.zonesBox a { color:#333; font-weight:normal; text-decoration:none; }
.zonesBox dl { margin:0; }
.zonesBox dt { padding:5px 0; font-weight:bold; display:block; }
.zonesBox dd { margin:0; padding:2px 0 6px 4px; }
.zonesBox .iconed { background:transparent none no-repeat 2px 50%; padding:2px 2px 2px 19px; float:right; }

/* Edit details */
body.framed .content fieldset { clear:left; padding:10px; }

body.framed .titleEditor { width:580px; }
body.framed textarea.textEditor { width:580px; }
body.framed textarea.freeTextArea { height:380px; }
body.framed .itemEditor .editDetail { margin:0 0 10px 0; clear:left; }
body.framed .itemEditor .editorLabel { width:110px; float:left; clear:left; padding:5px 5px 0 0; margin:0 0 5px 0; }
body.framed .itemEditor .editControl { float:left; padding:0; margin:0 0 5px 0; }
body.framed .itemEditor .editControl label { font-weight:normal; display:inline; float:none; }
body.framed .itemEditor .editControl input { vertical-align:middle; }
body.framed .nameEditor { width:142px; }
body.framed .urlSelector, body.framed .textEditor { width:284px; }
body.framed .titleEditor { font-size:1.5em; }
body.framed .popupButton { margin-right:10px;}
body.framed input.disabled, body.framed .disabled *, body.framed input.dimmed, body.framed .dimmed *
    { opacity:.50; filter: alpha(opacity=50); }
table.editDetail { border-collapse:collapse; }
.keepUpdated { background:transparent url(../../Resources/img/ico/png/lock_open.png) no-repeat; padding:2px; cursor:pointer; }
.keepUpdated input { visibility:hidden; }
.unchecked { background-image:url(../../Resources/img/ico/png/lock.png); }

.uploader label { margin:0 10px; }
.crowded .uploadableContainer .fileSelector { width:184px }

body.framed .delete { float:right; }
body.framed .versionInfo { background-image:url(../../Resources/img/ico/png/information.png); }

/* tab overrides */
body.framed .tabPanel { margin-bottom:10px; }
body.framed .tabPanel fieldset { left:0; }
body.framed .itemEditor hr { margin:15px 0 }

body.framed .help { vertical-align:middle; }

body.framed .helpPanel { cursor:pointer; }

body.framed .helpText { display:none; float:left; }
body.framed .helpText b { display:block; }
body.framed .helpVisible .helpText { display:block; border-bottom:solid 1px #DEDAD7; margin-bottom:10px; padding-bottom:10px; }

#content .defaultSkin table.mceLayout,
#content .defaultSkin table.mceLayout tr.mceFirst td { border:none; }
#content .defaultSkin table.mceLayout tr.mceFirst { background:#F8F8E8 url(../../Resources/img/darken10.png) repeat-x scroll 0 30px; }
#content .mceStatusbar,
#content .mceIframeContainer { border:none; border-left:solid 1px #EEE; border-right:solid 1px #EEE; }
#content .mceStatusbar * { color:#999;}
#content .mceToolbar { margin:0; }
#content .mceButton { background:transparent url(../../Resources/img/darken10.png) repeat-x; border:none; padding:3px; margin:0; }
#content .mceButton:hover { padding:2px; border:solid 1px #AAA; }
#content .mceButtonDisabled:hover { padding:3px; border:none; }
#content .mceButtonActive { background:transparent url(../../Resources/img/lighten25.png) repeat-x 0 -10px; border:none; padding:2px; border:solid 1px #AAA; }
#content .mceToolbar table { background-color:transparent; }
#content .mceStatusbar { background:#F8F8E8 url(../../Resources/img/lighten10.png) repeat-x scroll 0 -35px; border:none !important;}


.framed .toolbar .iconed { background:transparent none no-repeat 2px 5px; padding-left:20px; }
.framed .toolbar .iconed:hover  { background-position:1px 4px; padding-left:19px; }

.framed .publish.iconed { background-image:url(../../Resources/img/ico/png/disk.png); }
.framed .save.iconed { background-image:url(../../Resources/img/ico/png/book_next.png); }
.framed .preview.iconed { background-image:url(../../Resources/img/ico/png/zoom.png); }
.framed .future.iconed { background-image:url(../../Resources/img/ico/png/clock.png); }

.popup
{
    width:340px;
    top:11%;
    left:22%;
    
    position:absolute;
    border:solid 1px #bbb;
    background:#fff;
    padding:10px;
    z-index:188;
}

.expandable { border:solid 1px #E8E8D8; position:relative; margin:30px 0; padding:5px; background-color:#F8F8E8; }
.expandable-contracted:hover .expander,
.expandable-contracted:hover { border-color:#E4E4D4; background-color:#F4F4E4; }
.expandable-expanded { padding:20px 10px 10px 10px; border-style:solid;}
	.expandable .expander
	{
		border-top:solid 1px #E8E8D8; 
		display:block;
		padding:2px 5px 2px 20px;
		height:15px;
		background:transparent url(../img/ico/png/bullet_toggle_plus.png) no-repeat 2px 50%;
		position:absolute;
		top:-20px;
		right:15px;
		background-color:#F8F8E8;
		font-weight:bold;
	}
	.expandable-expanded .expander { background-image:url(../img/ico/png/bullet_toggle_minus.png); }


fieldset 
{
	border:solid 1px #E8E8D8;
	background-color:#F8F8E8;
	position:relative;
	margin:30px 0;
	padding:15px;
}
	fieldset legend
	{
		border-top:solid 1px #E8E8D8;
		background-color:#F8F8E8;
		position:absolute;
		top:-20px;	
		padding:3px 10px;
		display:block;
		font-weight:bold;
	}

hr
{
	border:solid 1px #E8E8D8;
	border-bottom-color:#fff;
	border-right-color:#fff;
}

.editDetail .help
{
	margin-left:5px;
	visibility:hidden;
}
.editDetail:hover .help
{
	visibility:visible;
}
