body.edit .upload input{
	vertical-align:top;
}
body.edit ul { margin:0; }
body.edit li { list-style-type:none; margin:0; }
body.edit li li { margin-left:20px; }
body.edit .file img{
	vertical-align:middle;
}
body.edit .warning{
	color:Red;
}