/* FRAMED */
body { background-image:url(../../Resources/img/lighten5.png); background-repeat:repeat-x; }
.tabPanel  { background-color:#fff; }

a img,
.command img{ margin-right:1px; vertical-align:middle; }

/* toolbar */

.toolbar{
	height:30px;
	padding:2px;
    border-bottom-width:1px;
    border-bottom-style:solid;
}
	.toolbar .inner { margin: 0 10px;}
	.toolbar a,
	.toolbar .command{
		display:block;
		float:left;
	}
	.toolbar .command{
		height:15px;
		padding:7px;
		overflow:hidden;
		text-decoration:none;
		font-weight:bold;
		float:left;
		overflow:hidden;
		font-size:1.2em;
	}
	.toolbar .toggled,
	.toolbar .command:hover{
		padding:6px;
        text-decoration:none;
		border-style:solid;
		border-width:1px;
	}
	.toolbar .command img{
		margin-right:3px;
	}
 	.toolbar .plain,
	.toolbar .cancel{
		font-size:1em;
		font-weight:normal;
	}


/* button/option drop down */
.commandOptions{
	position:relative;
	height:30px;
}
    .commandOptions .optionGroup{
	    padding:0 1px;
	    position:absolute;
	    border-width:1px;
	    border-style:solid;
	    top:-1px;
	    left:-2px;
	    z-index:99;
    }
    .closed .optionGroup{
	    top:-9999px;
	    left:-9999px;
    }

        .commandOptions .optionGroup a{
	        float:none;
	        display:block;
	        width:280px;
        }
        .commandOptions .optionGroup a{
	        text-decoration:none;
        }
    .commandOptions .opener{
	    height:10px;
	    float:left;
	    display:block;
	    padding:12px 4px 6px 4px;
	    margin-right:5px;
	    position:relative;
	    cursor:pointer;
	    cursor:hand;
	    border-style:solid;
	    border-width:1px;
    }
    .commandOptions .opener:hover{
    }

.date { white-space:nowrap;}


	
	
#content{
	margin:10px;
}


body.edit select,
body.edit input,
body.edit label{
	vertical-align:middle;
}
body.edit .cbl input{
	vertical-align:middle;
}
body.edit .cbl label{
	float:none;
	font-weight:normal;
}
body.edit #toolbar{
	z-index:77;
	white-space:nowrap;
}
body.edit #toolbar label{
	color:#333333;
	float:none;
	clear:none;
}
ul{
	list-style-type:disc;
	margin:0 0 0 10px;
	padding:0;
}
body.edit .formField{
	clear:both;
	margin:5px 0;
}
body.edit .formField label{
	vertical-align:top;
}

body.edit .info,
body.edit .validator{
	display:block;
	background:#D6D9D8 none no-repeat 5px 50%;
	margin:10px 0;
	padding:10px;
	border:solid 1px #cecac7;
}

body.edit .info{
	padding-left:24px;
}

/* validation */
body.edit .validator{
	background-image:url(../../Resources/img/ico/exclamation.gif);
	padding-left:24px;
}
body.edit .validator ul{
	margin-left:20px;
}

/* GRIDVIEW */
.gv { margin-bottom:10px; width:100%; background:#fff; }
    .gv, .gv th, .gv td { border:solid 1px #eed; border-collapse:collapse; text-align:left; }
    .gv th { padding: 4px 2px; }
    .gv td { padding:2px; }
    .gv a { display:block; }
    .striped, .striped td, .striped th {  }

/* NAVIGATCONTEXTMENU */
body.edit #contextMenu { min-width:75px; border:solid 1px silver; background:#fff; position:absolute; top:-9999px; left:-9999px; }
    body.edit #contextMenu a { margin:1px; }
    body.edit #contextMenu a:hover { background-color:#f7f7f7; border-color:#dedad7; text-decoration:none; }
    body.edit #contextMenu .command { display:block; padding:1px; white-space:nowrap; border:solid 1px #fff; }
    body.edit #contextMenu .command img { margin-right:3px; }
    body.edit #contextMenu .separator { border-bottom:solid 1px #dedad7; margin:0 1px;}
    body.edit #contextMenu .languages { display:block; width:75px; }

/* NAVIGATIONTABLE */
body.edit .path { display:block; }
    body.edit .path a { white-space:nowrap; }
    body.edit .path .current { font-weight:bold; }

body.edit .gv .sort a { display:inline; }
body.edit .tb,
body.edit .btn { vertical-align:middle; }
body.edit a.title { white-space:nowrap; }

/* navigation */

body.edit .nav .selected { font-weight:bold; border: 1px dotted #CCC; margin:0;}
.tree { padding:5px; }

/* tree */

body.edit .nav a { color:#000; text-decoration:none; padding:0 4px 0 1px; white-space: nowrap; margin:1px;}

li, ul { padding:0; margin:0; display:block; clear:both; padding-bottom:1px; }

li { background: transparent none no-repeat 0 0; list-style: none; position:relative; }
li.leaf { background-image: url(../../Resources/img/treeview/leaf.gif); }
li.leaf-last { background-image: url(../../Resources/img/treeview/leaf-last.gif); }
.folder-close { background-image: url(../../Resources/img/treeview/expandable.gif); }
.folder-close-last { background-image: url(../../Resources/img/treeview/expandable-last.gif); }
.folder-open { background-image: url(../../Resources/img/treeview/collapsable.gif); }
.folder-open-last { background-image: url(../../Resources/img/treeview/collapsable-last.gif); }
    li li { padding-left:16px; }

body.edit .toggler { left:0; position:absolute; height:16px; width:16px; background-image:url(../../Resources/img/treeview/spacer.gif); cursor:pointer; }

body.edit ul.ajax { background: transparent url(../../Resources/img/treeview/spinner.gif) no-repeat 0 0; height: 16px; display:none; }
	body.edit ul.ajax li { display:none; }

body.edit .droppable-hover { background-color:#eee; }

/* NEW */
body.edit .type { clear:both; }
body.edit .type a { display:block; padding:2px 0; }
body.edit .type a:hover { background-color:#f8f8f8; }
body.edit .type .title { font-weight:bold; }

body.edit .position em { color:Green; font-weight:bold; }
.position input, .position label { float:left; display:block; }
.position label .indent { border:solid 1px silver;}
.position span { display:block;}
.position .indent { border:solid 1px silver; padding:5px; width:400px;}
.position .indent .indent { padding:0 0 0 20px; border:none; width:auto; }

body.edit #nav .day { color:#393; }
body.edit #nav .week { color:#363; }
body.edit #nav .invisible{ color:#999;}
body.edit #nav .unpublished,
body.edit #nav .expired,
body.edit #nav .locked { color:#C66; }

body.edit #nav .locked { padding-right:16px; background:transparent url(../../Resources/img/ico/png/bullet_key.png) no-repeat 100% 50%; }
body.edit #nav .unpublished { padding-right:16px; background:transparent url(../../Resources/img/ico/png/bullet_arrow_down.png) no-repeat 100% 50%; }
body.edit #nav .expired { padding-right:16px; background:transparent url(../../Resources/img/ico/png/bullet_arrow_top.png) no-repeat 100% 50%; }


/* TABS */
ul.tabs{
	list-style-type:none;
	padding:0;
	margin-top:10px;
	display:block;
	height:30px;
	padding-left:10px;
	overflow:hidden;
	background:transparent url(../../Resources/img/darken10.png) repeat-x 0 10px;
}
.tabs li{
	float:left;
	display:block;
	clear:none;
	height:30px;
	border-left:solid 1px #fff;
	border-right:solid 1px #d8d8d8;
    background:transparent url(../../Resources/img/darken10.png) repeat-x 0% 50%;
}
.tabs a{
	display:block;
	text-decoration:none;
	color:#333;
	display:block;
	padding:8px;
	height:14px;
	-moz-outline-style:none;
}
.tabs .selected{
	border-bottom:none;
	font-weight:bold;
}
.tabs .selected a{
	background-color:#fff;
}
.tabPanel{
	border:solid 1px #DDDDCC;
	border-top-style:none;
	border-left-style:none;
	padding:15px;
}
.tabContentHidden{
	position:absolute;
	top:-10000px;
	left:-10000px;
}
    .tabPanel .tabPanel{
        margin-left:10px;
	    background-position: 0 -3px;
    }
    .tabPanel .tabs li{
    	height:32px;
    	background-position:100% 0;
    }


/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../../Resources/img/ico/png/calendar.png) no-repeat; 
	text-decoration:none;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
}


table.jCalendar {
    border-collapse: separate;
    border-spacing: 2px;
    margin:0 auto;
}
table.jCalendar th {
	background: #333;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
}
table.jCalendar td {
	background: #ccc;
	color: #000;
	padding: 3px 4px;
	text-align: center;
	border:solid 1px silver;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	color:blue;
	border:solid 1px blue;
}
table.jCalendar td.selected {
	border:dotted 1px black;
	font-weight:bold;
}
table.jCalendar td.selected:hover {
}
table.jCalendar td:hover, table.jCalendar td.dp-hover {
	border:dotted 1px black;
}
table.jCalendar td.disabled, table.jCalendar td.disabled:hover {
	background: #bbb;
	color: #888;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	background: #ccc;
	font-size: 10px;
	font-family: arial, sans-serif;
	padding: 2px;
	width: 182px;
	line-height: 1.2em;
	text-align:center;
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 4px 0;
	padding: 0;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #000;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 2px;
	left: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 2px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
	font-size: 10px;
}
div.dp-popup td.disabled {
	cursor: default;
}

div.dp-popup .dp-nav-prev a,
div.dp-popup .dp-nav-next a
{
    font-family:Courier;
    vertical-align:middle;
    padding:2px 1px;
}
div.dp-popup .dp-nav-prev .dp-nav-prev-month,
div.dp-popup .dp-nav-next .dp-nav-next-month 
{
    font-weight:bold;
    font-size:15px;
    padding:3px 6px;
}

.datePicker { width:75px; }
.timePicker { width:75px; }