#toolbar { display:none; }

#root .cpView, #root .cpNew, #root .cpEdit, #root .cpDelete 
{ display:none; }

table.columns { margin:0 auto; width:99%; }
	td.column { width:33%; padding:5px; overflow:visible; }
	
		.box { margin-bottom:10px; background-color:#fff; }
			.box h4 { padding:5px 10px; color:#fff; margin:0; }
			.box .inner { padding:10px; }

				.field { margin:2px 0; }
				label { font-weight:bold; margin-right:10px; }
				.column table { border-collapse:collapse; width:100%; }
				.column th { font-weight:bold; padding:4px; background-color:#eee; border:solid 1px #fff; }
				.column td { border:solid 1px #eee; padding:1px 4px; }
				
