<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<n2 xmlns="http://n2cms.com/schemas/configuration/v3">
		<!-- If you install a database from scrach you'll need to insert some required pages. This can be done by the web based installer located at http://yoursite/install/edit -->
		<host rootID="1" startPageID="1" multipleSites="false" wildcards="false">
			<sites>
				<!--<add id="" name="" wildcards="false">
          <settings>
            <add key="" value="" />
          </settings>
          <uploadFolders>
          </uploadFolders>
        </add>-->
			</sites>
			<web extension=".aspx" isWeb="true" rewrite="RewriteRequest" observedExtensions="" observeEmptyExtension="false" ignoreExistingFiles="false">
				<urls enableCaching="true" />
			</web>
		</host>
		<engine castleConfiguration="assembly://N2/Configuration/castle.config"
				multipleSitesConfiguration="assembly://N2/Web/n2.multiplesites.xml"
				dynamicDiscovery="true" castleSection="">
			<assemblies>
				<!--<add assembly="N2"/>
        <add assembly="N2.Security"/>
        <add assembly="N2.Edit"/>
        <add assembly="N2.Templates"/>
        <add assembly="N2.Templates.UI"/>
        <add assembly="N2.Templates.Survey"/>-->
			</assemblies>
			<globalization enabled="false" autoDeleteTranslations="false" />
			<errors action="None" mailTo="" mailFrom="" maxErrorReportsPerHour="60" handleWrongClassException="true"/>
			<scheduler enabled="true" interval="60" keepAlive="false" keepAlivePath="~/edit/keepalive/ping.ashx" />
			<components>
				<!--<add service="" implementation="" />-->
			</components>
			<pluginInitializers>
				<!--<remove name=""/>
				<remove type=""/>-->
			</pluginInitializers>
			<interfacePlugins>
				<!--<remove name=""/>-->
			</interfacePlugins>
		</engine>
		<!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite, SqlCe, Firebird -->
		<database caching="false" tryLocatingHbmResources="false" cacheProviderClass="NHibernate.Cache.HashtableCacheProvider, NHibernate" connectionStringName="N2CMS" flavour="SqlServer2005" hibernateMapping="">
			<hibernateProperties>
				<!--<add name="" value=""/>-->
			</hibernateProperties>
		</database>
		<edit editTreeUrl="Navigation/Tree.aspx" editPreviewUrlFormat="{0}" uploadFolderUrl="~/Upload" editItemUrl="~/edit/edit.aspx" editInterfaceUrl="~/edit/default.aspx" newItemUrl="~/edit/new.aspx" deleteItemUrl="~/edit/delete.aspx" enableVersioning="true">
			<installer checkInstallationStatus="false" installUrl="~/Edit/Install/Begin/Default.aspx" />
			<editors users="" roles="Editors"/>
			<administrators users="admin" roles="Administrators" />
			<uploadFolders>
				<add path="~/Upload" />
			</uploadFolders>
			<tinyMCE enabled="true" cssUrl="/edit/css/editor.css">
				<settings>
					<!--<add key="" value=""/>-->
				</settings>
			</tinyMCE>
			<nameEditor whitespaceReplacement="-" toLower="true" showKeepUpdated="true">
				<replacements>
					<add name="smallA" pattern="[åäáàâã@]" value="a" serverValidate="true" />
					<add name="largeA" pattern="[ÅÄÁÀÂÃ]" value="a" serverValidate="true" />
					<add name="smallAE" pattern="[æ]" value="ae" serverValidate="true" />
					<add name="largeAE" pattern="[Æ]" value="AE" serverValidate="true" />
					<add name="smallO" pattern="[öøôõ]" value="o" serverValidate="true" />
					<add name="largeO" pattern="[ÖØÔÕ]" value="O" serverValidate="true" />
					<add name="theRest" pattern="[^. a-zA-Z0-9_-]" value="" serverValidate="true" />
				</replacements>
			</nameEditor>
		</edit>
		<templates mailConfiguration="ContentRootOrConfiguration" masterPageFile="~/Templates/UI/Layouts/Top+SubMenu.Master" imageHandlerPath="" />
	</n2>
</configuration>
