<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
      <section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
      <section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
      <section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
      <section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <n2 xmlns="http://n2cms.com/schemas/configuration/v3">
    <!-- If you install a database from scrach you'll need to insert some required pages. This can be done by the web based installer located at http://yoursite/install/edit -->
    <host rootID="1" startPageID="1" multipleSites="false" wildcards="false">
      <sites>
        <!--<add id="" name="" wildcards="false">
          <settings>
            <add key="" value="" />
          </settings>
        </add>-->
      </sites>
      <web extension=".aspx" isWeb="true" rewriteEnabled="true" />
    </host>
    <engine castleConfiguration="assembly://N2/Configuration/castle.config" 
            multipleSitesConfiguration="assembly://N2/Web/n2.multiplesites.xml" 
            dynamicDiscovery="true" castleSection="">
      <assemblies>
        <!--<add assembly="N2"/>
        <add assembly="N2.Security"/>
        <add assembly="N2.Edit"/>
        <add assembly="N2.Templates"/>
        <add assembly="N2.Templates.UI"/>
        <add assembly="N2.Templates.Survey"/>-->
      </assemblies>
      <globalization enabled="false" />
      <errors action="None" mailTo="" mailFrom="" maxErrorReportsPerHour="60"/>
      <scheduler enabled="true" interval="60" keepAlive="false" keepAlivePath="~/edit/keepalive/ping.aspx" />
    </engine>
    <!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite, SqlCe, Firebird -->
    <database caching="true" tryLocatingHbmResources="false" cacheProviderClass="NHibernate.Cache.HashtableCacheProvider, NHibernate" connectionStringName="N2CMS" flavour="SqlServer2005" hibernateMapping="">
      <hibernateProperties>
        <!--<add name="" value=""/>-->
      </hibernateProperties>
    </database>
    <edit editTreeUrl="Navigation/Tree.aspx" editPreviewUrlFormat="{0}" editorCssUrl="~/Edit/Css/Editor.css" uploadFolderUrl="~/Upload" editItemUrl="~/edit/edit.aspx" editInterfaceUrl="~/edit/default.aspx" newItemUrl="~/edit/new.aspx" deleteItemUrl="~/edit/delete.aspx" enableVersioning="true">
      <installer checkInstallationStatus="false" installUrl="~/Edit/Install/Begin/Default.aspx" />
      <editors users="" roles="Editors"/>
      <administrators users="admin" roles="Administrators" />
      <uploadFolders>
        <add path="~/Upload" />
      </uploadFolders>
      <tinyMCE enabled="true" cssUrl="/edit/css/editor.css">
        <settings>
          <!--<add key="" value=""/>-->
        </settings>
      </tinyMCE>
    </edit>
    <templates mailConfiguration="ContentRootOrConfiguration" masterPageFile="~/Layouts/Top+SubMenu.Master" />
  </n2>
</configuration>
