<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<sectionGroup name="n2" type="N2.Configuration.SectionGroup, N2">
			<section name="host" type="N2.Configuration.HostSection, N2" requirePermission="false" />
			<section name="engine" type="N2.Configuration.EngineSection, N2" requirePermission="false" />
			<section name="database" type="N2.Configuration.DatabaseSection, N2" requirePermission="false" />
			<section name="edit" type="N2.Configuration.EditSection, N2" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<!-- Some connection string examples
		SQLite:				<add name="N2CMS" connectionString="Data Source=|DataDirectory|\n2blog.db;Version=3;New=True;" providerName="System.Data.SQLite"/>
		SQL Server 2005:	<add name="N2CMS" connectionString="Server=(local);Database=N2_Templates;Integrated Security=SSPI"/>
		SQL Express 2005:	<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
		SQL Server 2000:	<add name="N2CMS" connectionString="Data Source=SQLServer2000;Database=SQLDatabase2000;User Id=SqlUser2000;Password=SqlPassword2000;Network Library=DBMSSOCN;" providerName="System.Data.SqlClient"/>
		MySQL:				<add name="N2CMS" connectionString="Data Source=MySQLServer;Database=MySQLDatabase;User Id=MySQLUser;Password=MySQLPassword;" providerName="MySql.Data.MySqlClient"/>
		-->
		<!-- This setting assumes you have Sql Server Express 2005 installed and have a database file located at [wwwroot]/App_Data/N2.mdf.
         If you don't have the database you can download it from http://n2cms.com/upload/app_data.zip.
         If you prefer another database engine you can use one of the connection string above as a template and change the n2/database section accordingly.
    -->
		<add name="N2CMS" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\N2.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<n2>
		<!-- If you install a database from scrach you'll need to insert some required pages. This can be done by the web based installer located at http://yoursite/n2/installation/ -->
		<host rootID="1" startPageID="2" />
		<engine>
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Management"/>
				<add assembly="N2.Security"/>
			</assemblies>
		</engine>
		<!-- Other flavours: SqlServer2005, SqlServer2000, MySql, SqLite -->
		<database connectionStringName="N2CMS" flavour="SqlServer2005" caching="true" />
		<edit>
			<installer checkInstallationStatus="true" />
		</edit>
	</n2>

  <log4net>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="..\Logs\RwavSite.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
    </appender>

    <appender name="AspNetDebugger" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.SimpleLayout" />
    </appender>

    <root>
      <priority value="DEBUG"/>
      <appender-ref ref="rollingFile" />
      <appender-ref ref="AspNetDebugger" />
    </root>
    <logger name="NHibernate">
      <priority value="WARN" />
    </logger>
  </log4net>

	<system.web>
		<!--<globalization uiCulture="it-IT" culture="it-IT" />-->
		<!--<trust level="Medium"/>-->

		<pages validateRequest="false">
			<controls>
				<add tagPrefix="n2" namespace="N2.Web.UI.WebControls" assembly="N2" />
				<!-- This is needed when using n2.templates
        <add tagPrefix="n2" namespace="N2.Templates.Web.UI.WebControls" assembly="N2.Templates"/>-->
			</controls>
			<tagMapping>
				<!-- This maintains the friendly urls during postbacks -->
				<add tagType="System.Web.UI.HtmlControls.HtmlForm"  mappedTagType="N2.Web.UI.WebControls.RawUrlForm"/>
			</tagMapping>
		</pages>

		<!-- IIS 6 settings -->
		
		<!-- Please remove the 'n2.installer' module below once the site has 
         been installed. This prevents unsuspecting users from reaching the 
         installer screen if the database connection fails. -->
		<httpModules>
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2"/>
		</httpModules>

		<!-- End IIS 6 settings -->

		<siteMap defaultProvider="PublicSiteMap">
			<providers>
				<add name="PublicSiteMap" type="N2.Web.PublicSiteMapProvider, N2" startPageIsRoot="true"/>
			</providers>
		</siteMap>

		<compilation tempDirectory="f:\temp\iistemp\" batch="false" debug="true">
			<expressionBuilders>
				<add expressionPrefix="CurrentItem" type="N2.Web.Compilation.CurrentItemExpressionBuilder, N2"/>
				<add expressionPrefix="CurrentPage" type="N2.Web.Compilation.CurrentPageExpressionBuilder, N2"/>
				<add expressionPrefix="StartPage" type="N2.Web.Compilation.StartPageExpressionBuilder, N2"/>
				<add expressionPrefix="Code" type="N2.Web.Compilation.CodeExpressionBuilder, N2"/>
				<add expressionPrefix="HasValue" type="N2.Web.Compilation.HasValueExpressionBuilder, N2"/>
			</expressionBuilders>
		</compilation>

		<authentication mode="Forms">
			<forms loginUrl="n2/login.aspx" protection="All" timeout="30000" path="/">
				<credentials passwordFormat="Clear">
					<!-- WARNING: Change this default password. Please do it now. -->
					<user name="admin" password="changeme"/>
				</credentials>
			</forms>
		</authentication>

		<customErrors mode="Off" />

		<!-- These membership and role providers store their data as content items. You can also use the forms authentication credentials only (remove these sections) or the default ASP.NET providers (check your ASP.NET documentation) -->
		<membership defaultProvider="ContentMembershipProvider">
			<providers>
				<clear/>
				<add name="ContentMembershipProvider" type="N2.Security.ContentMembershipProvider, N2.Management" />
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="ContentRoleProvider">
			<providers>
				<clear/>
				<add name="ContentRoleProvider" type="N2.Security.ContentRoleProvider, N2.Management" />
			</providers>
		</roleManager>
		<profile defaultProvider="ContentProfileProvider">
			<providers>
				<clear />
				<add name="ContentProfileProvider" type="N2.Security.ContentProfileProvider, N2.Management" />
			</providers>
		</profile>
	</system.web>

	<appSettings></appSettings>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true">
			<add name="n2.initializer" type="N2.Web.InitializerModule, N2" />
		</modules>
	</system.webServer>

</configuration>
