@model string
@Html.Loop(@Content.Traverse.AncestorsBetween(0, 10), @<span>
	@Content.LinkTo(item.Data).Class(item.Data == Content.CurrentItem ? "current" : "crumb")
</span>, separator:@<span class="separator"> / </span>)