<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<sectionGroup name="n2" type="N2.Configuration.N2ConfigurationSectionHandler, N2">
			<section name="mediumTrust" type="N2.MediumTrust.Configuration.MediumTrustSectionHandler, N2" requirePermission="false"/>
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<clear/>
		<add name="TestConnection" connectionString="Server=localhost;Database=N2_Tests;Integrated Security=SSPI;"/>
	</connectionStrings>

	<castle>
		<properties>
			<rootItemID>1</rootItemID>
			<nhSettings>
				<dictionary>
					<entry key="hibernate.connection.provider">NHibernate.Connection.DriverConnectionProvider</entry>
					<entry key="hibernate.connection.connection_string_name">TestConnection</entry>

					<entry key="hibernate.cache.use_second_level_cache">false</entry>
					<entry key="hibernate.connection.driver_class">NHibernate.Driver.SqlClientDriver</entry>
					<entry key="hibernate.dialect">NHibernate.Dialect.MsSql2005Dialect</entry>
					<entry key="hibernate.show_sql">true</entry>
				</dictionary>
			</nhSettings>
		</properties>

		<components>
			<component id="n2.integrity.fake" service="N2.Integrity.IIntegrityManager, N2" type="N2.Tests.Fakes.FakeIntegrityManager, N2.Tests"/>
		</components>
		
		<include uri="assembly://N2/Web/n2.notweb.xml"/>
		<include uri="assembly://N2/Engine/n2.configuration.xml"/>
	</castle>

	<n2>
		<mediumTrust rootItemID="1" startPageID="1">
			<assemblies>
				<add assembly="N2"/>
				<add assembly="N2.Tests"/>
				<add assembly="N2.Edit.Tests" />
				<add assembly="N2.Edit.Trash" />
			</assemblies>
			<nhProperties>
				<add key="hibernate.connection.provider" value="NHibernate.Connection.DriverConnectionProvider"/>
				<add key="hibernate.connection.connection_string_name" value="TestConnection"/>
				<add key="hibernate.connection.driver_class" value="NHibernate.Driver.SqlClientDriver"/>
				<add key="hibernate.dialect" value="NHibernate.Dialect.MsSql2005Dialect"/>
				<add key="hibernate.cache.use_second_level_cache" value="false"/>
				<add key="hibernate.cache.use_query_cache" value="false"/>
				<add key="hibernate.cache.provider_class" value="NHibernate.Caches.SysCache.SysCacheProvider,NHibernate.Caches.SysCache"/>
			</nhProperties>
		</mediumTrust>
	</n2>

	<log4net>

		<!-- Define some output appenders -->
		<appender name="trace" type="log4net.Appender.TraceAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%P{user}&gt; - %m%n" />
			</layout>
		</appender>

		<appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net" >
			<param name="File" value="log.txt" />
			<param name="AppendToFile" value="true" />
			<param name="RollingStyle" value="Date" />
			<param name="DatePattern" value="yyyy.MM.dd" />
			<param name="StaticLogFileName" value="true" />

			<layout type="log4net.Layout.PatternLayout,log4net">
				<param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &lt;%X{auth}&gt; - %m%n" />
			</layout>

		</appender>

		<root>
			<!-- priority value can be set to ALL|INFO|WARN|ERROR -->
			<priority value="ALL" />
			<appender-ref ref="rollingFile" />
		</root>

	</log4net>
</configuration>