body { background:#fff; }

/* Toolbar */
.toolbar { background:#d1d4d3 url(../img/toolbar_bg.gif) repeat-x 0% 100%; min-width:700px; position: relative;}

	.toolbar .area { float:left; background:#ffffff url(../img/toolarea_bg.gif) repeat-x 100% 100%; padding-left:10px; height:50px; overflow:hidden; }

		.toolbar .right { padding-right:20px; background:transparent url(../img/toolarea_separator.gif) no-repeat 100% 100%; float:left; height:50px; _overflow:hidden; }
		.toolbar .last .right { background-image:url(../img/toolarea_end.gif); }

/* Navigation */
.toolbar a
{
	-moz-outline-style:none;
}
.toolbar .toolbarItem
{
	height:50px;
	float:left;
	padding-right:5px;
	background:transparent url(../img/toolitem_separator.gif) no-repeat 100% 100%;
	cursor:hand;
	cursor:pointer;
}
	.toolbar .command
	{
		float:left;
		display:block;
		height:25px;
		padding:20px 5px 5px 5px;
	}

.toolbar .hover,
.toolbar .selected
{
	background-image:url(../img/toolitem_hover.gif);
}
	.toolbar .hover .command,
	.toolbar .selected .command
	{
		background:transparent url(../img/toolitem_hover.gif) no-repeat 0% 100%;
		position:relative;
		left:-5px;
		padding:19px 0px 6px 10px;
	}

.toolbar .logout
{
	display:block;
	position:absolute;
	right:60px;
	bottom:15px;
	padding:1px;
}
.toolbar .sort { padding:16px 5px 4px 5px; height:30px; }
.toolbar .hover .sort { padding:16px 0px 4px 10px; }
.toolbar .sort a { height:12px; width:15px; display:block; overflow:hidden; }
.toolbar .sort a:hover {}


#logo
{
	position:absolute;
	right:15px;
	bottom:15px;
}

#splitter { height: 510px; }
#leftPane { width: 200px; min-width: 50px; float:left; }
#rightPane { min-width: 50px; overflow: hidden; width:790px; float:left; }
#splitter .vsplitbar { width: 5px; background: #d3d6d5 url(../img/splitter.gif) no-repeat 50% 50%; }
#splitter .vsplitbar.active, #splitter .vsplitbar:hover { background-color: #a5acb0; }
#splitter iframe{ width:100%; }