/* SIZE AND LAYOUT OF THE PAGE */

html,body
{
	min-height:100%;
}
	div#wrapper
	{
		position:relative;
		width:960px;
		margin:0 auto;
	}
		div#top
		{
			float:right;
			padding:.5em;
		}
			div#top span
			{
				float:left;
				margin:0 .5em;
			}
		div#header
		{
			padding-top:5em;
		}
		div#main
		{
		}
		div#nav ul
		{
			list-style-type:none;
			padding:0;
			margin:0;
			margin-bottom:1px;
		}
		div#nav a
		{
			text-decoration:none;
		}
		div#nav a:hover
		{
			text-decoration:underline;
		}
		div#nav li a.trail
		{
			font-weight:bold;
		}
		div#nav li a.current
		{
			font-weight:bold;
			color:#000;
		}
			div#nav ul li
			{
				display:inline-block;
			}
			div#nav ul li a
			{
				display:block;
				background-color:#fff;
				padding:.5em 1em;
			}
			div#nav .topmenu
			{
				font-size:1.5em;
			}
			div#nav .submenu
			{
				background-color:#fff;
			}
			
		div#content
		{
			padding:20px;
		}
		div#aside
		{
			width:250px;
			float:right;
			background-color:Red;
		}
		div#footer
		{
			padding:1em 1em 0 1em;
		}