/* SIZE AND LAYOUT OF THE PAGE */

html,body { min-height:100%; }
	div#wrapper { position:relative; width:960px; margin:0 auto; }
		div#top { position:absolute; right:0; padding:5px; z-index:10 }
			div#top span.item { display:inline-block;  margin:0 5px; }
		div#header { padding-top:100px; position:relative; }
			div#header a.logotype { position:absolute; top: 10px; left:20px; }
				div#header a.logotype img { height:80px; }
		div#main { }
		div#nav { }
			div#nav ul { list-style-type:none; padding:0; margin:0; margin-bottom:1px; }
			div#nav a { text-decoration:none; }
			div#nav a:hover { text-decoration:underline; }
			div#nav li a.trail { font-weight:bold; }
			div#nav li a.current { font-weight:bold; color:#000; }
				div#nav ul li { display:inline-block; }
				div#nav ul li a { display:block; padding:.5em 1em; }
			
		div#content { margin: 0 20px 20px 20px; padding-top:20px; }
		.columns {}
			.columns .column { margin:0; float:left; }
		div#aside { width:300px; float:right; }
			div#aside .part { margin-top:20px; }
		div#footer { padding:20px 20px 0 20px; }

/* layout parts */
	#content .part { margin-bottom:20px; }
	.columns .column { width:50%; margin-left:20px; width:450px; float:left; }
		.columns .column .part { margin-left:0; margin-right:0; }