/* APPEARANCE, COLORS AND FONTS */

h1
{
	color: #46351C;
}
html
{
	background:#5c87b2;
}
body 
{
	background:transparent; 
}
	div#top
	{
		background-color:#fff;
	}
	div#main
	{
		background-color:#fff;
	}
	div#footer
	{
		margin-top:1px;
		background-color:#4c77a2;
		color:#fff;
	}
		div#footer a, div#footer a:visited
		{
			color:#fff;
		}
	