.datePicker{
width:70px;
}

.timePicker{
width:52px;
}

.calendarOpener{
cursor:pointer;
cursor:hand;
margin-right:10px;
vertical-align:middle;
}

.dpTable {
text-align: center;
color: #333;
background-color: #ddd;
}

.dpDayHighlightTD, .dpTDHover {
background-color: #ccc;
cursor: pointer;
}

.dpDayTD, .dpTitleText {
font-weight: bold;
}

.dpDayHighlight {
color: black;
font-weight: bold;
}

.dpButton, .dpTodayButton  {
font-size: 10px;
color: #333;
background: #ddd;
font-weight: bold;
padding: 0px;
border:solid 1px #ccc;
}
