<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        @Html.Link(Content.Traverse.StartPage).Class("brand").Text("N2")
        <div class="nav-collapse collapse">
		
        <ul class="nav">
            @Html.Tree(Content.Parse(Request["returnUrl"]) ?? Content.Traverse.StartPage, 
                htmlAttributes: new { id = "menu", @class = "nav" }, 
                appendCreatorNode: true).ExcludeRoot()
        </ul>

@*        <ul class="nav">
            <li>Home</li>

            <li class="">
            <a href="./index.html">Overview</a>
            </li>
            <li class="active">
            <a href="./scaffolding.html">Scaffolding</a>
            </li>
            <li class="">
            <a href="./base-css.html">Base CSS</a>
            </li>
            <li class="">
            <a href="./components.html">Components</a>
            </li>
            <li class="">
            <a href="./javascript.html">Javascript plugins</a>
            </li>
            <li class="">
            <a href="./less.html">Using LESS</a>
            </li>
            <li class="divider-vertical"></li>
            <li class="">
            <a href="./download.html">Customize</a>
            </li>
            <li class="">
            <a href="./examples.html">Examples</a>
            </li>
        </ul>
*@
        </div>
    </div>
    </div>
</div>
