.n2-page-stats {margin-top:10px;}
	.n2-page-stats table { height: 50px; list-style-type:none; border: solid 1px #eee; margin: 0; width:100%; }
		.n2-page-stats table td { vertical-align: bottom; position:relative; }
			.n2-page-stats table td span { width:100%; background-color: #3aaee3; display:block; }
			.n2-page-stats table td sup { position:absolute; top:0; left: 1px; }
			.n2-page-stats table td sub { position:absolute; bottom: 0; left: 1px; }