<div class="search-query input-append" n2-key-down="search.focused = 0" n2-key-esc="search.clear()" >
	<input ng-model="search.query" n2-key-enter="search.execute(search.query)" n2-focus="search.focused == -1" type="search" placeholder="Search" translate="search.query" />
	<button ng-show="search.searching || search.hits != null" ng-click="search.clear()" class="btn" style="" translate="search.clear"><b class="n2-icon-remove"></b></button>
</div>

<ul class="search-results" ng-show="search.query || search.hits" ng-class="{ stale: search.searching }" n2-key-down="search.focused = search.focused + 1" n2-key-up="search.focused = search.focused - 1" n2-key-esc="search.clear();">
	<li ng-show="search.query && !search.searching && search.hits != null && !search.hits.length"><em translate="search.nohits">No hits</em></li>
	<li ng-repeat="hit in search.hits">
		<a n2-focus="search.focused == $index" href="{{hit.PreviewUrl}}" target="preview">
			<b class='ico' ng-show='hit.IconClass || hit.IconUrl' ng-class='hit.IconClass || "ico-custom"' x-background-image='hit.IconUrl'></b>
			{{hit.Title || ("(no name)" | translate:'search.noname')}}
		</a>
	</li>
</ul>