<div class='page-action'>
	<a 
		title='Save and Publish changes' 
		ng-click="alert(1)"
		class='page-action-icon page-action-description' 
		style='background-image:url(redesign/img/glyphicons-white/glyphicons_370_globe_af.png)'>
		Publish
		<span>hej</span>
	</a>
</div>

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
	<b class="caret"></b>
</a>

<ul class="dropdown-menu" ng-controller="EditPublishCtrl">
	<li><a ng-click="manipulator.publish()">Publish</a></li>
	<li><a ng-click="manipulator.preview()">Save and Preview</a></li>
	<li><a ng-click="manipulator.save()">Save</a></li>
	<li><a ng-click="manipulator.future()">Publish in the future</a></li>
	<li><a ng-click="manipulator.unpublish()">Unpublish</a></li>
</ul>