<div class='page-action' ng-show="!node.Current.Divider">
	<a ng-class="{ 'page-action-description': node.Current.Description }"
		ng-click='evalExpression(node.Current.ClientAction)' 
		href='{{evaluateExpression(node.Current.Url)}}' 
		target='{{evaluateExpression(node.Current.Target)}}'
		title='{{evaluateExpression(node.Current.ToolTip)}}'>
		<b class='ico' ng-show='node.Current.IconClass || node.Current.IconUrl' ng-class='node.Current.IconClass || "ico-custom"' x-background-image='node.Current.IconUrl'></b>
		{{evaluateExpression(node.Current.Title)}}<br ng-show='node.Current.Description'/>
		<span ng-show='node.Current.Description'>{{evaluateExpression(node.Current.Description)}}</span>
	</a>
</div>