<div id="messages"
	 ng-controller="MessagesCtrl"
	 ng-class="{ open: messages.show, closed: !messages.show }"
	 ng-show="Context.Messages.length"
	 title="{{messages}}">
	<div class="page-action">
		<a href="#" ng-click="messages.toggle()">
			<b class="ico fa fa-envelope"></b>
			<span class="badge">{{Context.Messages.length}}</span>
		</a>
	</div>
	<ul class="message-list dropdown-menu pull-right" ng-show="messages.show">
		<li ng-repeat="message in messages.list" ng-class="{ selected: expanded }">
			<!--<a n2-focus="search.focused == $index" href="{{hit.PreviewUrl}}" target="preview">
				<b class='ico' ng-show='hit.IconClass || hit.IconUrl' ng-class='hit.IconClass || "ico-custom"' x-background-image='hit.IconUrl'></b>
				{{hit.Title || ("(no name)" | translate:'search.noname')}}
			</a>-->
			<a href ng-click="expanded = !expanded">
				{{message.Title}}
				<time datetime="{{message.Updated}}">{{message.Updated | date: 'short'}}</time>
				<p ng-show="expanded">{{message.Text}}</p>
			</a>
		</li>
	</ul>
</div>
