<div id="messages"
	 ng-controller="MessagesCtrl"
	 ng-class="{ open: messages.show, closed: !messages.show }">
	<div class="page-action">
		<a href="#" ng-click="messages.toggle()">
			<b class="ico fa fa-envelope"></b>
			<span class="badge"
				  ng-show="Context.Messages.length">{{Context.Messages.length}}</span>
		</a>
	</div>
	<ul class="message-list dropdown-menu pull-right" ng-show="messages.show">
		<li ng-repeat="message in messages.list" ng-class="{ selected: expanded }">
			<a href ng-click="expanded = !expanded">
				<b class="ico fa fa-envelope"></b>
				{{message.Title}}
				<time datetime="{{message.Updated}}">{{message.Updated | date: 'short'}}</time>
				<p ng-show="expanded">{{message.Text}}</p>
			</a>
		</li>
		<li ng-show="messages.list.length"><a href ng-click="messages.clear()"><b class="ico fa fa-times"></b> Clear</a></li>
		<li ng-show="!messages.list.length"><a href ng-click="messages.loadAll()"><b class="ico fa fa-refresh"></b> Show cleared</a></li>
	</ul>
</div>
