<div id="page-action-bar" class="action-bar secondary navbar" 
	ng-class="{ draft: Context.CurrentItem.State == Content.states.Draft || Context.CurrentItem.State == Content.states.Waiting, unpublished: Context.CurrentItem.State == Content.states.Unpublished || Context.CurrentItem.State == Content.states.Deleted }" 
	ng-controller="PageActionBarCtrl">
	<ul class="menu nav" ng-repeat="nav in navs" ng-class="{ 'pull-right': nav.Alignment == 'Right' }">
		<li class="item primary-action"
			ng-repeat="item in nav.Items"
			ng-class="{ dropdown : item.Children.length }"
			ng-controller="PageActionCtrl"
			ng-include src="item.Current.TemplateUrl || 'App/Partials/PageActionItem.html'"
			ng-show="isDisplayable(item)">
		</li>
	</ul>
	<!--<ul class="nav pull-right">
	</ul>-->
	
<!--	<div id="main-area-content">
	</div>-->
</div>
