<div id="page-action-bar" class="action-bar secondary">
	<ul class="menu">
		<li class="page-view iconed"><a href="#">
			<img src="redesign/img/actionbar/view.png" /></a></li>
		<li class="page-edit command-options iconed">
			<a href="#">
				<img src="redesign/img/actionbar/edit.png" /><div>Edit<span>Organize parts</span></div>
			</a>
		</li>
		<li class="page-version command-options iconed">
			<a href="#">
				<img src="redesign/img/actionbar/version.png" /><div>Version<span>Published version</span></div>
			</a>
			<div class="command-options">
				<ul>
					<li>
						<a href="#">Draft #1<span class="meta">by Andreas Brantmo (ME)</span></a>
					</li>
					<li class="active">
						<a href="#">Published version<span class="meta">by John Swiss</span></a>
					</li>
					<li>
						<a href="#">12/7/13<span class="meta">by John Swiss</span></a>
					</li>
					<li>
						<a href="#">12/6/13<span class="meta">by John Swiss</span></a>
					</li>
					<li class="load-more">
						<a href="#"></a>
					</li>
				</ul>
			</div>
		</li>
		<li class="page-language command-options iconed">
			<a href="#" title="Select from available languages or create a new language version for this page.">
				<img src="redesign/img/actionbar/language.png" /><div>Language<span>English</span></div>
			</a>
		</li>
	</ul>
	<div id="Div1" class="action-bar primary">
		<ul>
			<li class="page-publish iconed"><a href="#">
				<img src="redesign/img/actionbar/publish.png" /><div>Publish</div>
			</a></li>
		</ul>
	</div>
	<div id="main-area-content">
	</div>
</div>
