<div id="page-action-bar" class="action-bar secondary navbar" ng-class="{ draft: Context.CurrentItem.State == Content.states.Draft || Context.CurrentItem.State == Content.states.Waiting, unpublished: Context.CurrentItem.State == Content.states.Unpublished || Context.CurrentItem.State == Content.states.Deleted }" title="{{Content}}" ng-controller="PageActionBarCtrl">
	<ul class="menu nav">
		<li ng-repeat="item in Interface.ActionMenu.Children"
			ng-class="{ dropdown : item.Children.length }"
			ng-controller="PageActionCtrl"
			ng-include src="item.Current.TemplateUrl || 'App/Partials/PageActionItem.html'">
			
			<page-action-content node="item"></page-action-content>
			
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" ng-show="item.Children.length">
				<b class="caret"></b>
			</a>

			<ul class="dropdown-menu" ng-show="item.Children.length">
				<li ng-repeat="child in item.Children">
					<page-action-content node="child"></page-action-content>
				</li>
			</ul>
		</li>
	</ul>
	<ul class="nav pull-right">
		<li class="page-publish">
			<div class="page-action">
				<a href="#" class="page-action-icon" style="background-image:url(redesign/img/glyphicons-white/glyphicons_063_power.png)">
					Publish
				</a>
			</div>
		</li>
	</ul>
	
<!--	<div id="main-area-content">
	</div>-->
</div>
