<div class='page-action'>
	<a href='{{evaluateExpression(item.Current.Url)}}'
		target='preview' 
		title='View page preview' 
		class='page-action-description'>
		<b class='ico icon-globe'></b>
		Language
		<span><br />{{Context.Language.LanguageTitle}}</span>
	</a>
</div>

<a href="#" class="dropdown-toggle" data-toggle="dropdown"
	ng-controller='LanguageCtrl'
	ng-click='loadLanguages(item)'>
	<b class="caret"></b>
</a>

<ul class="dropdown-menu" ng-show="item.Children.length">
	<li ng-repeat="child in item.Children">
		<page-action-content node="child"></page-action-content>
	</li>
</ul>