<div id="page-tree">
	<ul class="site">
		<li class="root expanded">
			<div class="item">
				<a href="#">demo.n2cms.com</a>
				<div class="toggle">
					<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" />
				</div>
				<div class="tools">
					<a href="#">Tools</a>
				</div>
			</div>
			<ul>
				<li class="expanded">
					<div class="item">
						<a href="#">
							<img src="redesign/img/icons/page-world.png" />Home</a>
						<div class="toggle">
							<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" />
						</div>
						<div class="tools">
							<a href="#">Tools</a>
						</div>
					</div>
					<ul>
						<li class="active expanded">
							<div class="item">
								<a href="#">
									<img src="redesign/img/icons/page.png" />Features</a>
								<div class="toggle">
									<img src="redesign/img/minus.png" class="collapse" title="Click to collapse children" /><img src="redesign/img/plus.png" class="expand" />
								</div>
								<div class="tools">
									<a href="#">Tools</a>
								</div>
							</div>
							<ul>
								<li>
									<div class="item">
										<a href="#">
											<img src="redesign/img/icons/page.png" />Content page</a>
										<div class="toggle">
											<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" />
										</div>
										<div class="tools">
											<a href="#">Tools</a>
										</div>
									</div>
								</li>
								<li class="collapsed">
									<div class="item">
										<a href="#">
											<img src="redesign/img/icons/page.png" />News</a>
										<div class="toggle">
											<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" title="Click to expand children" />
										</div>
										<div class="tools">
											<a href="#">Tools</a>
										</div>
									</div>
								</li>
								<li>
									<div class="item">
										<a href="#">
											<img src="redesign/img/icons/page.png" />Calendar</a>
										<div class="toggle">
											<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" />
										</div>
										<div class="tools">
											<a href="#">Tools</a>
										</div>
									</div>
								</li>
							</ul>
						</li>
						<li>
							<div class="item">
								<a href="#">
									<img src="redesign/img/icons/page.png" />Credits</a>
								<div class="toggle">
									<img src="redesign/img/minus.png" class="collapse" /><img src="redesign/img/plus.png" class="expand" />
								</div>
								<div class="tools">
									<a href="#">Tools</a>
								</div>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
<div id="trash">
	<div>
		<div><a href="#">Trash (4 items)</a></div>
		drag item here to delete
	</div>
</div>
