<div class='item'>
	<a href='{{node.Current.PreviewUrl}}' target='preview'>
		<span class='icon-custom' style='background-image:url({{node.Current.IconUrl}}); background-position:0 0; width:16px; height:16px;'></span>
		{{node.Current.Title}}
	</a>
	<a href="#" ng-click="toggle(node)" class="toggle"><i class="toggle-expand icon-chevron-right"></i><i class="toggle-collapse icon-chevron-up"></i></a>
	<div class='tools'>
		<a href='#'>tools</a>
	</div>
</div>
<ul ng-show="node.Expanded && node.Children.length">
	<li ng-repeat="child in node.Children" ng-controller="BranchCtrl" ng-class="{ active: child.Selected, expanded: child.Expanded, collapsed: child.HasChildren && !child.Expanded }" ng-include src="'App/Partials/PageBranch.html'">
	</li>
</ul>