.languages a, .languages span{display:block; padding:1px 1px 2px 18px; background:transparent none no-repeat 0% 50%; _height:1px;}
.languages a img {margin-left:5px;}
.languages .current {font-weight:bold;}
.languages .new {background-image:url(../img/ico/add.gif);}
.languages .existing {background-image:url(../img/ico/page_edit.gif);}
