<?xml version="1.0" encoding="utf-8" ?>
<castle>
	<components>
		<component id="n2.fileSystem"				service="N2.Edit.FileSystem.IFileSystem, N2"		type="N2.Edit.FileSystem.VirtualPathFileSystem, N2"/>
		<component id="n2.defaultDirectory"			service="N2.Edit.FileSystem.IDefaultDirectory, N2"	type="N2.Edit.FileSystem.DefaultDirectorySelector, N2"/>
		<component id="n2.directorySelector"		service="N2.Edit.IEditManager, N2"					type="N2.Edit.EditManager, N2"/>
		<component id="n2.edit.navigator"																type="N2.Edit.Navigator, N2"/>
		<component id="n2.treeSorter"				service="N2.Edit.ITreeSorter, N2"					type="N2.Edit.TreeSorter, N2"/>
		<component id="n2.edit.navigationSettings"														type="N2.Edit.Settings.NavigationSettings, N2"/>
	</components>
</castle>