/* BOBIT BUSINESS MEDIA ICONS*/
[class^="icon-bbm-"], [class*=" icon-bbm-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("../icons/bbm-icons.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
}

.icon-bbm-block {
    width: 16px;
    background-position: 0 0;
}

.icon-bbm-container {
    width: 16px;
    background-position: -24px 0;
}

.icon-bbm-group-folder {
    width: 16px;
    background-position: -48px 0;
}

.icon-bbm-group-item {
    width: 16px;
    background-position: -72px 0;
}

.icon-bbm-navigation {
    width: 16px;
    background-position: -96px 0;
}
