@import url("smoothness/jquery-ui-1.8.16.custom.css");

/* FRAMED */
body { background-image:url(../../Resources/Img/lighten10.png); background-repeat:repeat-x; }
.tabPanel  { background-color:#fff; }

a img,
.command img{ margin-right:1px; vertical-align:middle; }

/* toolbar */

.toolbar { position:fixed; top:0; width:100%; height:35px; border-bottom:solid 1px #ccc; background:#DDC url(../../Resources/Img/lighten10.png) repeat-x 0 0px; }
	.toolbar .inner { margin:0 10px;}
	.toolbar a,
	.toolbar .command { display:block; float:left; height:15px; padding:9px; margin:1px; overflow:hidden; text-decoration:none; font-weight:bold; overflow:hidden; font-size:1.2em; }
	.toolbar .toggled,
	.toolbar .command:hover{ text-decoration:none; outline:solid 1px #ddd; }
	.toolbar .command:active{ background-color:#ddd; }
	.toolbar .command img{ margin-right:3px; } 
	.toolbar .plain,
	.toolbar .cancel { font-size:1em; font-weight:normal; }
	.toolbar .iconed { background:transparent none no-repeat 2px 8px; padding-left:20px; }



/* button/option drop down */
.commandOptions { position:relative; height:35px; }
	.commandOptions .command { padding-right:18px; }
    .optionGroup { padding:0 1px; position:absolute; border:solid 1px #ddd; background-color:#fff; top:-1px; left:-2px; z-index:99; box-shadow: #666 0 2px 10px -2px; }
    .closed .optionGroup{ top:-9999px; left:-9999px; }
        .commandOptions .optionGroup a { float:none; display:block; width:280px; text-decoration:none; }
    .commandOptions .opener { width:13px; float:left; height:35px; text-indent:-9999px; display:block; margin-right:5px; margin-left:-15px; position:relative; cursor:pointer; cursor:hand; border-left:dotted 1px #ddd; background:transparent url(../icons/bullet_arrow_down.png) no-repeat 50% 50%; }
    .commandOptions .opener:hover { outline:solid 1px #ddd; }

.date { white-space:nowrap;}


	
	
#content { margin:50px 0 0 0; }
	h1 { margin:1em 10px; }
	.tabPanel h1 { margin:1em 0; }
	.panel { margin:0 10px; }

body.framed select,
body.framed input,
body.framed label{
	vertical-align:middle;
}
body.framed .cbl input{
	vertical-align:middle;
}
body.framed .cbl label{
	float:none;
	font-weight:normal;
}
body.framed #toolbar{
	z-index:77;
	white-space:nowrap;
	box-shadow: #666 0 2px 10px -6px; 
}
body.framed #toolbar label{
	color:#333333;
	float:none;
	clear:none;
}
ul{
	list-style-type:disc;
	margin:0 0 0 10px;
	padding:0;
}
body.framed .formField{
	clear:both;
	margin:5px 0;
}
body.framed .formField label{
	vertical-align:top;
}

body.framed .info,
body.framed .validator{
	display:block;
	background:#D6D9D8 none no-repeat 5px 50%;
	margin:10px 0;
	padding:10px;
	border:solid 1px #cecac7;
}

body.framed .info{
	padding-left:24px;
}

/* validation */
body.framed .validator{
	background-image:url(../../Resources/icons/exclamation.png);
	padding-left:24px;
}
body.framed .validator ul{
	margin-left:20px;
}

/* GRIDVIEW */
.gv { margin-bottom:10px; width:100%; background:#fff; }
    .gv, .gv th, .gv td { border:solid 1px #eed; border-collapse:collapse; text-align:left; }
    .gv th { padding: 4px 2px; }
    .gv td { padding:2px; }
    .gv a { display:block; }
    .striped, .striped td, .striped th {  }

/* NAVIGATCONTEXTMENU */
body.framed .ui-menu { box-shadow: #666 2px 2px 8px -3px; background-color:#fff; }
    body.framed .ui-menu a.iconed {background:transparent none no-repeat 2px 1px; display:block; padding:2px 1px 2px 22px; }
    body.framed .ui-menu a:hover { background-color:#f7f7f7; outline:solid 1px #dedad7; text-decoration:none; }
    body.framed .ui-menu .separator { border-bottom:solid 1px #dedad7; margin:1px 0;}
    body.framed .ui-menu .languages { display:block; width:75px; padding-top:2px; }
		body.framed .ui-menu .languages a { display:inline-block; line-height:11px; padding:1px; }
			body.framed .ui-menu .languages a img { margin:0; }

/* NAVIGATIONTABLE */
body.framed .path { display:block; }
    body.framed .path a { white-space:nowrap; }
    body.framed .path .current { font-weight:bold; }

body.framed .gv .sort a { display:inline; }
body.framed .tb,
body.framed .btn { vertical-align:middle; }
body.framed a.title { white-space:nowrap; }

/* navigation */

html.navigation,html.navigation body { height:100%;}
body.framed .nav .selected { font-weight:bold; margin:1px;}
.tree { padding:5px; }

/* tree */

.nav a { color:#000; text-decoration:none; padding:0 4px 0 1px; white-space: nowrap; margin:1px;}

.nav li, .nav ul { padding:0; margin:0; display:block; clear:both; padding-bottom:1px; }

.nav li { background: transparent none no-repeat 0 0; list-style: none; position:relative}
.nav .leaf { background-image: url(../../Resources/Img/treeview/leaf.gif); }
.nav .leaf-last { background-image: url(../../Resources/Img/treeview/leaf-last.gif); }
.nav .folder-close { background-image: url(../../Resources/Img/treeview/expandable.gif); }
.nav .folder-close-last { background-image: url(../../Resources/Img/treeview/expandable-last.gif); }
.nav .folder-open { background-image: url(../../Resources/Img/treeview/collapsable.gif); }
.nav .folder-open-last { background-image: url(../../Resources/Img/treeview/collapsable-last.gif); }
    .nav li li { padding-left:16px; }

body.framed .toggler { left:0; position:absolute; height:16px; width:16px; background-image:url(../../Resources/Img/treeview/spacer.gif); cursor:pointer; }

body.framed ul.ajax { background: transparent url(../../Resources/Img/treeview/spinner.gif) no-repeat 0 0; height: 16px; display:none; }
	body.framed ul.ajax li { display:none; }

body.framed .droppable-hover { background-color:#eee; }

/* NEW */
body.framed .type { clear:both; position:relative; width:99%; border-top:solid 1px #EED; }
body.framed .d0 { border-top-style:none; }
	body.framed .type a { font-size:.8em; margin-left:19px; padding:6px 1px 6px 22px; display:block; color:#666; background:transparent none no-repeat 5px 5px; }
	body.framed .type a.t0 { font-size:1em; margin-left:0; padding-left:24px; }
		body.framed .type a .title { font-weight:bold; color:#333; display:inline-block; min-width:110px; margin-right:10px; }
	body.framed .type a:hover { color:#000; text-decoration:none; background-color:#f8f8f8; }

	body.framed .type.d0 > a, 
	body.framed .type.d1 > a,
	body.framed .type.d2 > a { padding-bottom:8px; display:block; }
	body.framed .type.d0 span.title, 
	body.framed .type.d1 span.title,
	body.framed .type.d2 span.title { clear:right; font-size:1.1em; }
	body.framed .type.d0 span.description, 
	body.framed .type.d1 span.description,
	body.framed .type.d2 span.description { display:block; }

body.framed .position em { color:Green; font-weight:bold; }
.position input, .position label { float:left; display:block; }
.position label .indent { border:solid 1px silver;}
.position span { display:block;}
.position .indent { border:solid 1px silver; padding:5px; width:400px;}
.position .indent .indent { padding:0 0 0 20px; border:none; width:auto; }

body.framed #nav .day { color:#393; }
body.framed #nav .week { color:#363; }
body.framed #nav .invisible{ color:#999;}
body.framed #nav .unpublished,
body.framed #nav .expired,
body.framed #nav .locked { color:#C66; }
body.framed #nav .leaf .unselectable, body.framed #nav .leaf-last .unselectable { color: #ccc }
body.framed #nav .leaf .unselectable img, body.framed #nav .leaf-last .unselectable img { opacity:.5 }
body.framed #nav .selectable:hover { outline: solid 1px #ccf; background-color:#eef; }

body.framed #nav .locked { padding-right:16px; background:transparent url(../../Resources/icons/bullet_key.png) no-repeat 100% 50%; }
body.framed #nav .unpublished { padding-right:16px; background:transparent url(../../Resources/icons/bullet_arrow_down.png) no-repeat 100% 50%; }
body.framed #nav .expired { padding-right:16px; background:transparent url(../../Resources/icons/bullet_arrow_top.png) no-repeat 100% 50%; }

body.framed #nav span.meta { margin-left:5px; font-size:.75em; font-weight:normal; }
body.framed #nav span.language { background-color:#bdb; color:#fff; padding:0 1px;}
body.framed #nav span.authority { font-style:italic; text-transform:capitalize }
body.framed #nav a span.zone { display:none }
body.framed #nav a:hover span.zone { display:inline; background-color:#ddd; color:#fff; padding:0 1px; }

/* TABS */
ul.tabs{
	list-style-type:none;
	padding:0;
	margin:10px 0 0 0;
	display:block;
	height:30px;
}
.tabs li{
	float:left;
	display:block;
	clear:none;
	height:30px;
	border-left:solid 1px #fff;
	border-right:solid 1px #d8d8d8;
    background:transparent url(../../Resources/Img/darken10.png) repeat-x 0% 50%;
	box-shadow: #666 0 -2px 5px -5px; 
}
.tabs a{
	display:block;
	text-decoration:none;
	color:#333;
	display:block;
	padding:8px;
	height:14px;
	-moz-outline-style:none;
}
.tabs .selected{
	border-bottom:none;
	font-weight:bold;
}
.tabs .selected a{
	background-color:#fff;
}
.tabPanel{
	padding:30px 15px;
	box-shadow: #666 0 -1px 10px -5px; 
}
.tabContentHidden{
	position:absolute;
	top:-10000px;
	left:-10000px;
}
    .tabPanel .tabPanel{
        margin-left:10px;
	    background-position: 0 -3px;
    }
    .tabPanel .tabs li{
    	height:32px;
    	background-position:100% 0;
    }


/* located in demo.css and creates a little calendar icon
 * instead of a text link for "Choose date"
 */
a.dp-choose-date {
	width: 16px;
	height: 16px;
	padding: 0;
	margin: 5px 3px 0;
	text-indent: -2000px;
	overflow: hidden;
	background: url(../../Resources/icons/calendar.png) no-repeat; 
	text-decoration:none;
}
a.dp-choose-date.dp-disabled {
	background-position: 0 -20px;
	cursor: default;
}
/* makes the input field shorter once the date picker code
 * has run (to allow space for the calendar icon
 */
input.dp-applied {
}

.datePicker { width:95px; }
.timePicker { width:80px; }

.fileContents
{
	margin-top:10px;
}
.fileContents textarea
{
	width:100%;
	height:300px;
}
.directory
{
}
    .directory .file
    {
	    display:block;
	    width:80px;
	    height:80px;
	    position:relative;
	    float:left;
	    margin:1px;
	    overflow:hidden;
    }
        .directory .file input, .directory .file img
        {
	        vertical-align:middle;
        }
        .directory .file label
        {
	        display:block;
	        height:60px;
	        background:#ddc none no-repeat 50% 50%;
	        padding:1px;
        }
        .directory .file a
        {
	        display:block;
	        overflow: hidden;
        }
    .droparea, .pickarea { margin:20px 0 0 0; padding:10px; border:dashed 1px silver; border-radius:3px; clear:both; opacity:.5; }
    .droparea:hover, .pickarea:hover { border-style:solid; opacity:1; }
        .droparea em, .pickarea em { margin-left:10px; display:none; }
        .droparea:hover em, .pickarea:hover em  { display:inline; }


.itemListEditor { margin:20px 0 0 0; clear:both; }
    .itemListEditor .item { padding: 10px 0; position:relative; border-top: dotted 1px silver; }
		.itemListEditor .item h3 { color:silver; }
			.itemListEditor .item h3 span { background-color:#fff; position:absolute; top:-10px; left:0; padding:1px 5px 1px 1px; }
		.itemListEditor .item .delete { background-color:#fff; position:absolute; top:-10px; right:0; padding:1px 1px 1px 5px; }
    .itemListEditor .addArea { opacity:.5; padding:10px 0; border-top: dotted 1px silver; }
		.itemListEditor .addArea a { display:inline-block; padding:5px; }
    .itemListEditor .addArea:hover { opacity:1; }
        .itemListEditor .addArea em { margin-left:10px; display:none; }
        .itemListEditor .addArea:hover em  { display:inline; }
        
.focused
{
	background-color:#eef;
}
.label
{
	width:100px;
	float:left;
	margin-bottom:10px;
}
.hrtop
{
	border-top:solid 1px #ddd;
	margin-top:5px;
	padding-top:5px;
	display:block;
}
