@import url("smoothness/jquery-ui-1.8.22.dialog.css");

.sc, .sc a, .titleBar, .dragShadow {font-family:Arial, Sans-Serif; font-size:12px; color:#333; text-align:left;}

.zoneItem   { position:relative;}
.dropZone .zoneItem:hover { outline:dotted 1px #44ff88; }
.titleBar   { background:#fff none no-repeat 1px 50%; color:#333; padding:0 1px; 
              font-size:.8em; position:relative; border:solid 1px #e3e5e4;
              height:20px; box-shadow: #666 4px 4px 10px -2px; overflow:hidden; white-space:nowrap;}
.zoneItem .titleBar	{ background-image:url(../../Resources/Img/gripper.gif); cursor:move;}
.dropZone .titleBar { position:absolute; left:-2px; top:-2px; z-index:900; padding-left:18px }
	.zoneItem .zoneItem .titleBar	{ left:6px; top:6px; }
		.zoneItem .zoneItem .zoneItem .titleBar	{ left:0; top:0; }
    .titleBar .command { cursor:pointer; padding-left:20px; line-height:20px; height:20px; display:inline-block; background:transparent none no-repeat 50% 50%; vertical-align:middle; }
    .titleBar .delete { background-image:url(../icons/delete.png); }
    .titleBar .edit { background-image:url(../icons/page_white_edit.png); }
    .titleBar .title { background:transparent none no-repeat 5px 33%; color:#333; padding-left:24px; padding-right:10px; font-size:11px; height:20px; border-left:solid 1px #e3e5e4; margin-left:10px; line-height:16px; vertical-align:middle; }
.dropZone .titleBar { opacity:.9; }
.dropZone .titleBar * { display:none; vertical-align:top; }
.dropZone .titleBar:hover { background-color:#fafafa; border:solid 1px #d1d4d3; opacity:1; }
	.dropZone .titleBar:hover .title { display:inline-block;}
	.dropZone .titleBar:hover .command { display:inline-block;}
	.dropZone .titleBar .edit { display:inline-block;}

.dragShadow { opacity: .4; background-color:lightslategray; filter: alpha(opacity=60); min-height:50px; }
.dragging { cursor:move; }
.dragging .titleBar { display:none; }

/* hide/show droppables */
.dropPoint { position:relative; background-color:#cec; border:solid 1px #efe; margin:-1px 0; }
	.dropPoint .description { font-size:9px; padding:0 3px;  }
.dragging .dragShadow { cursor:move; }
.dragged { outline:dotted 1px #c33; }
	.dragged > * { opacity:.3; }
	.dragged .titleBar { display:none }

	.dropPoint .dpLabel { font:9px Arial, Sans-Serif; padding:0 0 0 4px; color:#888; font-weight:bold; }
	.dropPoint .titleBar { display:none; }
	.dropPoint .dropping { position:absolute; z-index:980; top:8px; right:8px; height:16px; width:16px; background:transparent url(../../Resources/Img/ajax-loader.gif) no-repeat 50% 50%; }
:hover.dropPoint { border-color:#d1d4d3; background-position:3px 0; }
.droppable-active { background:url(../../Resources/Img/shading_green.png); padding:0; }
.droppable-hover { background-color:#8e8; outline:solid 2px #393; }

.sc { position:fixed; _position:absolute; top:-200px; left:-200px; z-index:1990; border:none 1px #ccb; border-style:none solid solid none;
    background:#fff none repeat-x scroll 0 0; box-shadow: #666 4px 4px 10px -2px; 
}
    .sc .scContent { }
        .controlPanel { }
        .controlPanel img { border:none; vertical-align:middle; margin-right:3px; }
        .controlPanel a,.controlPanel a:visited { }
    .controlPanel a { text-decoration:none; padding:1px; }
    .controlPanel .plugins { padding:1px 20px 1px 1px; height:30px; background:#eed; }
        .controlPanel .plugins a {
            display:block;
            float:left;
            padding:7px;
            text-align:center; 
            color:#000; 
            position:relative;
            font-family: 'Lucida Console', Monaco, monospace;
            font-size: 10px;
            text-transform:uppercase;
            background:#FFFFFF url(../../Resources/Img/lighten10.png) repeat-x scroll 0 50%;
            overflow:hidden;
            border-left:solid 1px #fff;
            border-right:solid 1px #d8d8d8;
            text-align:center;
            height:16px;
        }
    .controlPanel .plugins .authorizedFalse { opacity:.33 }
    .controlPanel .plugins a:hover { background-image:url(../../Resources/Img/toolbar_button_bg_hover.png); background-position:50% 10px; }
	
    .sc .open,.sc .close { text-indent:-2000px; position:absolute; bottom:0; right:0; height:30px; width:20px; cursor:pointer; cursor:hand; display:block; background:transparent url(../../Resources/Img/SlidingCurtain_open.png) no-repeat 50% 50%; }
    .sc .close {display:none; background-image:url(../../Resources/Img/SlidingCurtain_close.png)}
    .opened .open {display:none; }
    .opened .close {display:inline;}

.definitions,.controlPanel .new { padding:10px 0 25px 0; clear:left; max-height:300px; overflow:auto; margin-bottom:30px; }
    .definition { cursor:move; padding:1px 10px; }
    .definition:hover { background-color:#eee; }
    .definition:hover { background-image:url(../../Resources/Img/part_bg.png) }
.definitionimg { vertical-align:middle;margin-right:1px;}
* html .masked select { visibility:hidden;}

.ui-dialog { padding-bottom:15px; }
	.ui-dialog .ui-dialog-content { background-color:#fff; padding:0; }
		.ui-dialog .ui-dialog-content iframe { width:100%; height:100%; border:0; margin-bottom:10px; margin-top:3px; }
		.ui-dialog.ui-resizable-resizing .ui-dialog-content iframe { visibility:hidden; }

a .creator-add { background: url(../../Resources/icons/add.png) no-repeat 50% 50%; width:10px; height:10px; height:10px; display:inline-block; margin-right:2px; vertical-align:middle; overflow:hidden; }

.editable { display:inline-block; position:relative; }
	.editable .editor { position:absolute; top:0; right:0; background:transparent url(../../Resources/icons/pencil.png) no-repeat 50% 50%; text-indent:-9999px; width:16px; height:16px; padding:1px; overflow:hidden; opacity:.5;}
.editable:hover { outline:dotted 1px #4488ff; }
	.editable:hover .editor { opacity:1;}

#editorDialog { overflow:hidden; }
